

.add-workouts-layout-container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.05fr 1fr 0.05fr;
  grid-template-rows: 0.30fr 1fr 0.15fr;
  align-items: center;
  justify-items: center;
  position: relative;
  @include respond(tab-desktop) {
    grid-template-columns: 0.05fr 1fr 0.05fr;
    grid-template-rows: 0.30fr 2fr 0.15fr;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(246, 244, 244, 0.5), rgba(148, 147, 147, 0.84)), url("https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.add-workouts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  grid-column-gap: 5rem;
  border-radius: 10px;
  padding: 5rem 2rem;
  @include respond(tab-desktop) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 5rem;
  }
  &__already__added::-webkit-scrollbar-track {
    -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &__already__added::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
  }
  &__already__added::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #afe0a5;
  }
  &__already__added {
    max-height: 35rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border-radius: 10px;
    // border-bottom-left-radius: 10px;
    //border-bottom-right-radius: 10px;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
    &--item {
      display: grid;
      grid-template-columns: 0.8fr 0.2fr;
      grid-template-rows: 0.8fr 0.5fr 1fr;
      align-items: center;
      border-bottom: 1px solid #f2f2f2;
      color: black;
      transition: all .3s ease-in;
      margin-top: 0.5rem;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      &:hover {
        transform: scale(1.02);
      }

      &__category {
        grid-row: 2/3;
        grid-column: 1/-1;
        font-size: 0.5rem;
        span {
          color:green;
          margin-left: 0.5rem;
        }
      }

      &__details-box {
        grid-row: 3/4;
        grid-column: 1 /-1;
        display: flex;
      }

      p {
        grid-column: 1/2;
        margin-left: 1.5rem;
        font-size: 1.5rem;
        margin-right: 2.5rem;
      }
      .today-workouts-added-remove-btn {
        grid-column: 2/3;
        justify-self: center;
        align-self: center;
      }
    }

  }

  &__search {
    height: 55rem;
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: rgb(189, 231, 197);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    animation-name: fade-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @include respond(tab-desktop) {
      grid-row: 1/2;
      grid-column: 1/2;
      height: auto;
    }
    &__bar {
      margin: 2rem auto;
      position: relative;
      @include respond(tab-sm){
        width: 85%;
      }
      input {
         border-radius: 5px;
         border: none;
         text-align: center;
         width: 55rem;
         height: 4rem;
         font-size: 1.5rem;
         @include respond(tab-sm){
            width: 100%;
         }
      }
      &__icon {
        position: absolute;
        top: 20%;
        right: 2%;
        cursor: pointer;
      }
    }
    hr {
      color: white;
      height: 1px;
    }
    &__results {
      margin: 0 5rem 0 5rem;
      height: 35rem;
      border-radius: 5px;
      color: var(--color-white);
      @include respond(tab-desktop) {
        height: 35rem;
        margin: 5rem 5rem 5rem 5rem;
      }

      @include respond(phone-lg) {
         margin: 5rem 1.5rem 5rem 1.5rem;
      }
      &__container::-webkit-scrollbar-track {
        -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #F5F5F5;
      }
       &__container::-webkit-scrollbar {
        width: 7px;
         background-color: #F5F5F5;
      }
      &__container::-webkit-scrollbar-thumb{
        border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #afe0a5;
      }
      &__container {
        overflow-y: auto;
        overflow-x: hidden;
        height: 25rem;
        font-size: 1.3rem;
        background-color: white;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        color: var(--black-muted);

        @include respond(tab-land) {
          height: 25rem;
        }

        p {
          margin: 3rem 2rem;
          font-size: 2rem;
          @include respond(phone-md-lg) {
            font-size: 1.6rem;
          }
        }
        &__item {
          display: grid;
          grid-template-columns: 0.8fr 0.2fr;
          grid-template-rows: 1fr;
          align-items: center;
          transition: all .3s ease-in;
          animation-name: fade-bottom;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          @include respond(tab-desktop) {
            grid-template-columns: 1fr 0.1fr;
          }
          &:not(:last-of-type) {
            border-bottom: 2px solid #f2f2f2;
          }
          &:hover {
            transform: scale(1.02);
          }
        p{
          grid-column: 1/2;
        }

      }
      }
      h3 {
        margin: 4rem 2rem;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  &__added {
    height: 55rem;
    background-color: rgb(189, 231, 197);
    border-radius: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    display: grid;
    grid-template-rows: 0.3fr 3fr 0.3fr;
    grid-template-columns: 1fr 0.5fr;
    color: white;
    animation-name: fade-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @include respond(tab-desktop) {
      grid-row: 2/3;
      grid-column: 1/2;
    }
    @include respond(phone-lg) {
      grid-template-rows: 0.3fr 1fr 0.3fr 1fr;
      grid-template-columns: 1fr;
    }
    &--added {
      grid-row: 1/2;
      grid-column: 1/2;
      @include respond(phone-lg) {
        grid-row: 1/2;
        grid-column: 1/2;
      }
      &__heading {
        margin: 1.5rem 2rem;
        font-size: 1.5rem;
        text-align: center;

        @include respond(tab-land) {
          font-size: 2rem;
        }
        @include respond(phone-lg) {
          font-size: 2.5rem;
          margin: 2.5rem 2rem;
        }
        @include respond(phone-md-sm){
           font-size: 2rem;
        }
      }
      &__content {
       grid-row: 2/3;
       grid-column: 1/2;
       background-color: white;
       margin: 2rem 1rem 2rem 1rem;
       border-radius: 10px;
       color: black;
       overflow-y: auto;
       overflow-x: hidden;
       -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
       -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
       box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        h3 {
          margin-top: 1rem;
          margin-left: 1.5rem;
          font-size: 1.5rem;
        }
       @include respond(phone-lg) {
        grid-row: 2/3;
        grid-column: 1/2;
       }
         &__item {
          margin-top: 0.5rem;
          display: grid;
          grid-template-columns: 0.8fr 0.2fr;
          grid-template-rows: 1fr;
          align-items: center;
          border-bottom: 1px solid #f2f2f2;
          transition: all .3s ease-in;
          animation-name: fade-bottom;
          animation-duration: 1s;
          animation-timing-function: ease-out;
           &:first-of-type{
             margin-top: 1rem;
           }
           @include respond(tab-desktop) {
            grid-template-columns: 1fr 0.1fr;
          }
          &:hover {
            transform: scale(1.02);
          }

         p {
          margin-left: 1.5rem;
          grid-column: 1/2;
          font-size: 1.5rem;
          margin-right: 2.5rem;
           @include respond(md-desktop){
            font-size: 2rem;
          }
        }
      }
      }
      &__content::-webkit-scrollbar-track {
        -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #F5F5F5;
      }
      &__content::-webkit-scrollbar {
          width: 7px;
          background-color: #F5F5F5;
      }
       &__content::-webkit-scrollbar-thumb{
        border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #afe0a5;
      }
    }
    &--saved {
      grid-row: 1/2;
      grid-column: 2/3;
      @include respond(phone-lg) {
        grid-row: 3/4;
        grid-column: 1/2;
       }
      &__heading {
        margin: 1.5rem 2rem;
        font-size: 1.5rem;
        text-align: center;
        @include respond(md-desktop) {
          font-size: 1.5rem;
        }
        @include respond(tab-land) {
          font-size: 2rem;
        }
        @include respond(phone-lg) {
          font-size: 2.5rem;
          margin: 2.5rem 2rem;
        }
        @include respond(phone-md-sm){
           font-size: 2rem;
        }
      }
      &__content {
        color: black;
        grid-row: 2/3;
        grid-column: 2/3;
        background-color: white;
        margin: 2rem 1rem 2rem 1rem;
        border-radius: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        @include respond(phone-lg) {
          grid-row: 4/5;
          grid-column: 1/2;
        }
        &__item {
          margin-top: 0.5rem;
          display: grid;
          grid-template-columns: 0.8fr 0.2fr;
          grid-template-rows: 1fr 0.5fr;
          align-items: center;
          border-bottom: 1px solid #f2f2f2;
          transition: all .3s ease-in;
          @include respond(tab-desktop) {
            grid-template-columns: 1fr 0.1fr;
          }
          &:hover {
            transform: scale(1.02);
          }
          p{
            margin-left: 1.5rem;
            grid-column: 1/2;
            font-size: 1.5rem;
            margin-right: 2.5rem;
            @include respond(md-desktop){
              font-size: 2rem;
            }
        }
      }
      }
       &__content::-webkit-scrollbar-track {
        -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #F5F5F5;
      }
      &__content::-webkit-scrollbar {
          width: 7px;
          background-color: #F5F5F5;
      }
       &__content::-webkit-scrollbar-thumb{
        border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #afe0a5;
      }
    }
  }
}

#add-workouts-video {
  opacity: 0.8;
  filter: blur(5px);
}

.today-workouts-added-inputBox{
  grid-row: 2/3;
  grid-column: 1 / -1;
  margin: 0.5rem 1.5rem 0 1.5rem;
  font-size: 1.5rem;
  input {
    width: 8rem;
    height: 2rem;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: rgba(200, 243, 195, 0.69);
  }
  label {
    margin-left: 1rem;
  }
}


.save-add-today-workouts{
  grid-row: 3/4;
  grid-column: 1/-1;
  width: 15rem;
  height: 3rem;
  font-size: 2rem;
}

.search-results-info{
  display: flex;
  align-content: center;
  justify-content: center;
  animation-name: fade-bottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  transition: all .2s ease-in;
}

.saved-results-info{
  font-size: 2rem;
  margin: 15rem auto;
  text-align: center;
  display: block;
  transition: all .2s ease-in;
  animation-name: fade-bottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  color: var(--color-white);
}

.search-category-small {
  margin-left: 2rem;
  @include respond(tab-sm) {
    margin-left: 1rem;
  }
  &__text {
    color:green;
    font-size: 1.8rem;
    margin-left: 0.5rem;
    @include respond(tab-sm) {
      font-size: 1.3rem;
    }
    @include respond(phone-sm) {
      font-size: 1.1rem;
    }
  }
}

.accept-delete-today-workout{
  border-radius: 5px;
  width: 6rem;
  height: 4rem;
  font-size: 1.5rem;
  border: 1px solid #13aa52;
  background-color: #13aa52;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
     transform: scale(1.02);
   }
}

.deny-delete-today-workout{
  border-radius: 5px;
  width: 6rem;
  height: 4rem;
  font-size: 1.5rem;
  border: 1px solid #ff041b;
  background-color: rgba(255, 4, 27, 0.63);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
   &:hover {
     transform: scale(1.02);
   }
}

.info-search-saved{
  font-size: 2.5rem;
  margin: auto auto;
  text-align: center;
  animation-name: fade-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}


.search-input {
  -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
  border: none;
  outline: none;
  transition: all .2s ease-in;
  &:active{
    transform: scale(1.04);
  }
  &:hover {
    transform: scale(1.02);
  }
}

.check-today-workouts{
  display: flex;
  text-align: center;
  margin: 7.5rem auto auto auto;
  height: 3rem;
  padding: 1rem 4em;
  font-size: 2rem;
  @include respond(tab-desktop) {
    margin: 1.5rem auto 1.5rem auto;
  }
  span {
    align-self: center;
    justify-self: center;
  }
   &:hover {
     transform: scale(1.05);
   }
}

.saved-workouts__search__results__heading-box{
  h3{
    font-size: 3rem;
    font-weight: bold;
  }
}

.workouts-on-date {
  font-size: 2rem;
}

.no-saved-templates-info{
  margin: 15rem 0 auto 0;
  text-align: center;
  font-size: 2rem;
  transition: all .2s ease-in;
  animation-name: fade-bottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  color: var(--black-muted);
}

.today-workouts-list__content__workout-elements__element__title{
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: 1fr;
  p{
    grid-column: 1/2;
  }
  div{
    grid-column: 2/3;
  }
}

.modal__today-workouts-list__daily-summary{
  margin: 0.5rem 0 1rem 0;
  font-size: 1.5rem;
  div {
    display: inline-block;
    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}

.workouts-on-date {
  font-size: 2rem;
}