.met-info{
  font-size: 1.25rem!important;
  span {
    font-weight: bold;
  }
}

.activity-enter-layout-container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.2fr 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
  @include respond(md-desktop){
      grid-template-columns: 0.05fr 1fr 0.05fr;
  }
  @include respond(tab-desktop) {
    grid-template-columns: 0.05fr 1fr 0.05fr;
    grid-template-rows: 0.30fr 2fr 0.15fr;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(246, 244, 244, 0.5), rgba(148, 147, 147, 0.84)), url("https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.activity-enter{
    display: grid;
    grid-template-columns: 0.75fr 1fr 0.75fr;
    grid-template-rows: 1fr;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: stretch;
    justify-items: center;

    &__card {
      grid-column: 2/3;
      background-color: rgb(189, 231, 197);
      justify-self: stretch;
      height: auto;
      border-radius: 20px;
      transition: all .3s ease-in;
      -webkit-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
      box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      padding: 2rem 0.5rem 0 0.5rem;
      h3 {
        color: var(--color-white);
        font-size: 3rem;
        text-align: center;
        margin-top: 2rem;
      }
      hr {
        border: 1px solid var(--black-muted);
      }
      button {
        display: block;
        padding: 0.75rem 1.5rem;
        margin: 2rem 2rem 2rem auto;
      }
      div {
        //display: grid;
        //grid-template-columns: 0.35fr 1fr;
        //grid-template-rows: 1fr;
        color: var(--color-white);
        margin-top: 1.5rem;
        display: flex;
        //justify-content: center;
        margin-left: 7.5rem;
        label {
          display: inline-block;
          font-size: 2rem;
          width: 15rem;
        }
        input, select {
          width: 15rem;
          height: 3rem;
          background-color: var(--color-white);
          outline: none;
          color: var(--black-muted);
          border: 1px solid var(--green-light);
          border-radius: 10px;
          transition: all .3s ease-in;
          text-align: center;
          justify-self: center;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      p {
        margin-top: 1.5rem;
        color: var(--color-white);
        font-size: 2rem;
        margin-left: 7.5rem;
        span {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
}




