{% extends 'base.html' %}
{% load sass_tags %}
{% load i18n %}
{% block scripts %}
     <script src="{% sass_src 'scripts/recipes/ideas/main.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    {% csrf_token %}
    <div class="loader">
    </div>
      <div class="bg-video-fixed" id="add-meals-video-container">
        <div class="overlay-large"></div>
         <video id="add-meals-video" class="bg-video__content" autoplay muted loop>
             <source src="{% sass_src 'video/meals_bg_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/meals_bg_video.webm' %}" type="video/webm">
             Your browser is not supported!
         </video>
     </div>

        <div class="recipe-search-layout-container">
            {% include 'accounts/navbar.html' %}
             {% include 'accounts/navbar_small.html' %}
            <div class="recipe-search grid-full-span">
                <div class="recipe-search__search">
                    <div class="recipe-search__search__results">
                        <div class="recipe-search__search__results__heading-box">
                            <h3>{% trans 'Suggested recipes' %}</h3>
                        </div>
                        <div class="recipe-search__search__results__container">
                            <h3 class="recipe-info-message">{% trans 'We could not find any recipe matching your criterias.' %}</h3>
                        </div>
                    </div>
                    <div class="recipe-search__search__save-new">
                        <p>{% trans "Not satisfied with results?" %}</p>
                        <button class="recipe-search__search__save-new__button btn">{% trans 'Try again' %}</button>
                    </div>
                </div>
            </div>
        </div>

 <div class="modal-queued modal-add-search modal-recipe-ideas" style="z-index: 2400">
     <div class="modal-queued__content modal-add-search__content modal-recipe-ideas__content">
          <div class="modal-queued__close-button modal-queued__recipe__close-button">&times;</div>
         <h1 class="modal-queued--heading modal-add-search__heading">{% trans 'Type ingredients that you have below separating by a comma' %}</h1>
         <div class="saved-meals__added--saved__content__search-bar modal-add-search__content__search"><input class="new-saved-meal-search input-scale modal-add-search__content__search-bar" type="text" placeholder="{% trans 'Type all ingredients here' %}"/><span><img class="add-meals__search__bar__icon" src="{% sass_src 'images/svg/search.svg' %}" alt="Search Icon" /></span></div>
         <div class="saved-meals__added--saved__content__search-response modal-add-search__content__search-response not-visible">
             <div class="saved-meals__added--saved__content__search-response__item"></div>
         </div>
         <div class="recipe-search-options">
             <p><b>{% trans 'Focus on' %}:</b></p>
             <div class="maximize"><img src="{% sass_src 'images/svg/checked.svg' %}" alt="Checked Icon" class="filter-white maximize-icon active-icon-focus">{% trans 'Maximizing ingredients you have' %}</div>
             <div class="minimizing"><img src="{% sass_src 'images/svg/unchecked.svg' %}" alt="Unchecked Icon" class="filter-white minimizing-icon">{% trans 'Minimizing missing ingredients' %}</div>
         </div>
     </div>
 </div>



<div class="modal-queued modal-queued__recipe not-visible">
    <div class="modal-queued__content modal-queued__recipe__content">
        <div class="modal-queued__close-button modal-queued__recipe__close-button">&times;</div>
        <h1 class="modal-queued__recipe__heading"></h1>
        <p class="author-paragraph">{% trans 'Author' %}: <span class="modal-queued__recipe__author"></span></p>
        <div class="modal-queued__recipe__container">
            <h3>{% trans 'What do you need to make it by yourself?' %}</h3>
            <div class="modal-queued__recipe__container__requirements">
                <p>
                    <img src="{% sass_src 'images/svg/difficulty.svg' %}" class="recipe-difficulty-icon filter-green" alt="Difficulty Icon">
                    <span class="modal-queued__recipe__difficulty"></span>
                </p>
            </div>
            <div class="modal-queued__recipe__container__requirements">
                <p>
                    <img src="{% sass_src 'images/svg/clock.svg' %}" class="recipe-duration-icon filter-green" alt="Clock Icon">
                    <span class="modal-queued__recipe__duration"></span>
                </p>
            </div>
            <div class="modal-queued__recipe__container__requirements">
                <p>
                    <img src="{% sass_src 'images/svg/people.svg' %}" class="recipe-people-icon filter-green" alt="People Icon">
                    <span class="modal-queued__recipe__person-count"></span>
                </p>
            </div>
            <div class="modal-queued__recipe__container__main-content">
                <div class="modal-queued__recipe__container__main-content__ingredients">
                    <p>{% trans 'Ingredients' %}</p>
                    <div class="modal-queued__recipe__container__main-content__ingredients__elements"></div>
                </div>

                <div class="modal-queued__recipe__container__main-content__steps">
                    <p>{% trans 'Step by step' %}</p>
                    <div class="modal-queued__recipe__container__main-content__steps__elements"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}