{% extends 'base.html' %}
{% load i18n %}
{% load sass_tags %}
{% block scripts %}
     <script src="{% sass_src 'scripts/workouts/main.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
     <div class="bg-video-fixed" id="menu-workouts-video">
     <div class="overlay-large"></div>
         <video id="menu-workouts-video" class="bg-video-fixed__content" autoplay muted loop>
             <source src="{% sass_src 'video/workouts_menu_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/workouts_menu_video.webm' %}" type="video/webm">
             {% trans 'Your browser is not supported!' %}
         </video>
     </div>
    <div class="workouts-layout-container">
        {% include 'accounts/navbar.html' %}
         {% include 'accounts/navbar_small.html' %}
        <div class="workouts grid-full-span">
            <div class="workouts__card workouts__card--add">
                <h1>{% trans "Add Activity" %}</h1>
                <p>{% trans 'Fill your day with the activities you have done today and find out more about their quality.' %}</p>
            </div>
            <div class="workouts__card workouts__card--proposition">
                <h1>{% trans 'Activity Propositions' %}</h1>
                <p>{% trans 'Browse the workout suggestions with their description and other information constructed by us just for you.' %}</p>
            </div>
            <div class="workouts__card workouts__card--saved">
                <h1>{% trans 'Saved Activities' %}</h1>
                <p>{% trans 'View and modify your saved workouts templates to make it easier and quicker to use the add workout option.' %}</p>
            </div>
        </div>
    </div>


{% endblock %}