{% extends 'base.html' %}
{% load sass_tags %}
{% load i18n %}
{% block styles %}
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
{% endblock %}
{% block scripts %}
     <script src="{% sass_src 'scripts/activity-calendar/activity-calendar.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    {% csrf_token %}
    <div class="loader"></div>
    <div class="grid-layout-container">
     {% include 'components/sidebar/sidebar.html' %}
        <div class="activity-calendar">
            {% include 'components/sidebar/sidebar_small.html' %}
            <div class="activity-calendar__welcome-text">
                <h1>{% trans 'Activity Calendar' %}</h1>
                <p>{% trans 'There you can watch your nutrition and activity history, day by day' %}.</p>
                {% include 'accounts/navbar.html' %}
            </div>
            <div class="activity-calendar__container fade-bottom">
                <header>
                <p class="current-date"></p>
                <div class="icons">
                  <span id="prev" class="material-symbols-rounded">chevron_left</span>
                  <span id="next" class="material-symbols-rounded">chevron_right</span>
                </div>
              </header>
              <div class="calendar">
                <ul class="weeks">
                  <li>{% trans 'Sun' %}</li>
                  <li>{% trans 'Mon' %}</li>
                  <li>{% trans 'Tue' %}</li>
                  <li>{% trans 'Wed' %}</li>
                  <li>{% trans 'Thu' %}</li>
                  <li>{% trans 'Fri' %}</li>
                  <li>{% trans 'Sat' %}</li>
                </ul>
                <ul class="days"></ul>
              </div>
                 <small>{% trans 'NOTE: Saved Activities/Meals are highlighted by green dots' %}. <br>{% trans 'Click at them to get more information' %}.</small>
            </div>
        </div>
    </div>

{% endblock %}
