{% extends 'base.html' %}
{% load sass_tags %}
{% block styles %}
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
{% endblock %}
{% block scripts %}
     <script src="{% sass_src 'scripts/activity-calendar/activity-calendar.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
    <div class="grid-layout-container">
     {% include 'components/sidebar/sidebar.html' %}
        <div class="activity-calendar">
            {% include 'components/sidebar/sidebar_small.html' %}
            <div class="activity-calendar__welcome-text">
                <h1>Activity Calendar</h1>
                {% include 'accounts/navbar.html' %}
            </div>
            <div class="activity-calendar__container">
                <header>
                <p class="current-date"></p>
                <div class="icons">
                  <span id="prev" class="material-symbols-rounded">chevron_left</span>
                  <span id="next" class="material-symbols-rounded">chevron_right</span>
                </div>
              </header>
              <div class="calendar">
                <ul class="weeks">
                  <li>Sun</li>
                  <li>Mon</li>
                  <li>Tue</li>
                  <li>Wed</li>
                  <li>Thu</li>
                  <li>Fri</li>
                  <li>Sat</li>
                </ul>
                <ul class="days"></ul>
              </div>
            </div>
        </div>
    </div>
      <div class="modal--calendar not-visible">
        <div class="modal--calendar__content">
            <div class="modal--calendar__close-button">&times;</div>
            <h3 class="modal--calendar__heading"></h3>
            <div class="modal__calendar__activities-container"></div>
        </div>
    </div>
{% endblock %}
