{% extends 'base.html' %}
{% load sass_tags %}
{% load i18n %}
{% block styles %}
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
{% endblock %}
{% block scripts %}
     <script src="{% sass_src 'scripts/activity-calendar/activity-calendar.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
    <div class="grid-layout-container">
     {% include 'components/sidebar/sidebar.html' %}
        <div class="activity-calendar">
            {% include 'components/sidebar/sidebar_small.html' %}
            <div class="activity-calendar__welcome-text">
                <h1>{% trans 'Activity Calendar' %}</h1>
                <p>{% trans 'There you can watch your nutrition and activity history, day by day' %}.</p>
                {% include 'accounts/navbar.html' %}
            </div>
            <div class="activity-calendar__container fade-bottom">
                <header>
                <p class="current-date"></p>
                <div class="icons">
                  <span id="prev" class="material-symbols-rounded">chevron_left</span>
                  <span id="next" class="material-symbols-rounded">chevron_right</span>
                </div>
              </header>
              <div class="calendar">
                <ul class="weeks">
                  <li>{% trans 'Sun' %}</li>
                  <li>{% trans 'Mon' %}</li>
                  <li>{% trans 'Tue' %}</li>
                  <li>{% trans 'Wed' %}</li>
                  <li>{% trans 'Thu' %}</li>
                  <li>{% trans 'Fri' %}</li>
                  <li>{% trans 'Sat' %}</li>
                </ul>
                <ul class="days"></ul>
              </div>
                 <small>{% trans 'NOTE: Saved Activities/Meals are highlighted by green dots' %}. <br>{% trans 'Click at them to get more information' %}.</small>
            </div>
        </div>
    </div>
        <div class="modal--calendar not-visible">
    <div class="modal--calendar__content">
        <div class="modal--calendar__close-button">&times;</div>
        <h1 class="modal--calendar--heading">{% trans 'Your added activities for' %}</h1>
               <div class="modal--calendar__daily-summary">
                  <div>Kcal: <span class="kcal"></span></div>
                  <div>{% trans 'Duration' %}: <span class="duration"></span></div>
              </div>

              <div class="modal--calendar__content__elements">

                      <div class="modal--calendar__content__elements__item">
                          <div class="remove-icon filter-red remove-workout"></div>
                          <div class="modal--calendar__content-summary">
                              <h2 class="workout-counter">{% trans 'Activity #' %}{{ forloop.counter }}</h2>
                              <div>{% trans 'Summary Kcal' %}: <span></span> kcal</div>
                              <div>{% trans 'Summary Duration' %}: <span></span> min</div>
                              <div>{% trans 'Created at' %}: <span></span></div>
                          </div>
                          <div class="modal--calendar__content__workout-elements">

                          </div>
                      </div>
              </div>
    </div>
</div>
{% endblock %}
