{% extends 'base.html' %}
{% load sass_tags %}
{% block scripts %}
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="{% sass_src 'scripts/dashboard/stats.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
    <div class="">
        <input type="checkbox" class="navigation--dashboard__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation--dashboard__button">
            <span class="navigation--dashboard__icon">&nbsp;</span>
        </label>

        <div class="navigation--dashboard__background">&nbsp;</div>
            <nav class="navigation--dashboard__nav">
                <ul class="navigation--dashboard__list not-visible">
                    <li class="navigation--dashboard__item"><a href="{% url 'login' %}" class="navigation--dashboard__link"><span><img class="navigation--dashboard__link__icon filter-gold" src="{% sass_src 'images/svg/key.svg' %}" alt="Log in Icon" /></span>Log in</a></li>
                    <li class="navigation--dashboard__item"><a href="{% url 'stats' %}" class="navigation--dashboard__link"><span><img class="navigation--dashboard__link__icon filter-gold" src="{% sass_src 'images/svg/key.svg' %}" alt="Log in Icon" /></span>Stats</a></li>
                </ul>
            </nav>
    </div>
    <div class="grid-layout-container">
         {% include 'components/sidebar/sidebar.html' %}
        <div class="dashboard-stats">

            <div class="dashboard-stats__welcome-text">
                 <h3>YOUR NUTRI PROFILE STATS</h3>
                <p>Let's check quality of your nutrition while using Nutri!</p>

            </div>
             <div class="dashboard-stats__stats">
                 <div class="dashboard-stats__stats__body">

                    <div class="dashboard-stats__stats__body--height dashboard-stats__stats__body__item">
                        <p>Your Height: 176</p>
                        <button>Edit</button>
                    </div>

                    <div class="dashboard-stats__stats__body--weight dashboard-stats__stats__body__item">
                        <p>Your Weight: 75</p>
                        <button>Edit</button>
                    </div>

                    <div class="dashboard-stats__stats__body--activity dashboard-stats__stats__body__item">
                        <p>Activity Level: Medium</p>
                        <button>Edit</button>
                    </div>

                    <div class="dashboard-stats__stats__body--goal dashboard-stats__stats__body__item">
                        <p>Goal: Gain</p>
                        <button>Edit</button>
                    </div>

                 </div>
                 <div class="dashboard-stats__stats__body__nutrition">
                     <div class="dashboard-stats__stats__body__nutrition--col-1">
                         <div class="dashboard-stats__stats__body__nutrition--days">
                             <p>Days: 231</p>
                         </div>
                         <div class="dashboard-stats__stats__body__nutrition--bmi">
                            <p>Your BMI: 23.44</p>
                        </div>
                         <div class="dashboard-stats__stats__nutrition--eaten">
                            <p>Eaten Kcal: 256443 kcal</p>
                            <p>Eaten Kcal (avg): 2543 kcal</p>
                         </div>

                         <div class="dashboard-stats__stats__nutrition--burnt">
                            <p>Burnt Kcal: 25343 kcal</p>
                            <p>Burnt Kcal (avg): 243 kcal</p>
                         </div>

                         <div class="dashboard-stats__stats__nutrition--income">
                            <p>Kcal Income (avg): -243 kcal</p>
                         </div>
                     </div>
                     <div class="dashboard-stats__stats__body__nutrition--col-2">
                         <div class="dashboard-stats__stats__nutrition--fat">
                            <p>Fat (avg): 12.5 g</p>
                        </div>

                          <div class="dashboard-stats__stats__nutrition--protein">
                            <p>Protein (avg): 22.5 g</p>
                         </div>

                        <div class="dashboard-stats__stats__nutrition--carbs">
                            <p>Carbs (avg): 42 g</p>
                        </div>

                        <div class="dashboard-stats__stats__nutrition--cholesterol">
                            <p>Cholesterol (avg): 2 g</p>
                        </div>

                        <div class="dashboard-stats__stats__nutrition--fiber">
                            <p>Fiber (avg): 41 g</p>
                        </div>
                     </div>


                 </div>
             </div>
             <div class="dashboard-stats__graph">
                 <div class="dashboard-stats__graph__item">
                    <div class="summaryGraph__container">
                        <canvas id="summaryGraph" class="summaryGraph"></canvas>
                    </div>
                </div>
                <div class="dashboard-stats__graph__customization">
                    <h2>Graph Customization</h2>
                        <label for="duration">Duration</label>
                        <select name="duration" class="dashboard-stats__graph__customization__duration dashboard-stats__graph__customization__item" id="duration">
                            <option value="">Weekly</option>
                            <option value="">Monthly</option>
                        </select>
                        <br>
                        <label for="type">Type</label>
                        <select name="type" class="dashboard-stats__graph__customization__type dashboard-stats__graph__customization__item" id="type">
                            <option value="">Kcal Burnt</option>
                            <option value="">Kcal Eaten</option>
                        </select>
                </div>
             </div>

        </div>
    </div>
{% endblock %}
