{% extends 'base.html' %}
{% load sass_tags %}
{% load i18n %}
{% block scripts %}
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="{% sass_src 'scripts/dashboard/stats.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
    <div class="grid-layout-container">
     {% include 'components/sidebar/sidebar.html' %}
        <div class="dashboard-stats">
            {% include 'components/sidebar/sidebar_small.html' %}
            <div class="dashboard-stats__welcome-text">
                <h1>{% trans 'Your Nutri Profile Stats' %}</h1>
                <p>{% trans "Let's check quality of your nutrition while using Nutri!" %}</p>
                 {% include 'accounts/navbar.html' %}
            </div>
             <div class="dashboard-stats__stats">
                 <div class="dashboard-stats__stats__info">
                     <h3>{% trans 'Aggregate values for' %}<span class="dashboard-stats__stats__info__days"></span></h3>
                     <div>
                         <p>{% trans 'Eaten Kcal' %}: <span class="dashboard-stats__stats__info__eaten-kcal"></span></p>
                         <p>{% trans 'Burnt Kcal' %}: <span class="dashboard-stats__stats__info__burnt-kcal"></span></p>
                         <p>{% trans 'Protein' %}: <span class="dashboard-stats__stats__info__protein"></span> g</p>
                         <p>{% trans 'Fat' %}: <span class="dashboard-stats__stats__info__fat"></span> g</p>
                         <p>{% trans 'Carbs' %}: <span class="dashboard-stats__stats__info__carbs"></span> g</p>
                     </div>
                 </div>
                 <div class="dashboard-stats__stats__averages">
                    <h3>{% trans 'Daily average on Nutri' %}</h3>
                     <div>
                         <p>{% trans 'Kcal Burnt' %}: <span class="dashboard-stats__stats__averages__kcal-burnt"></span></p>
                         <p>{% trans 'Carbs' %}: <span class="dashboard-stats__stats__averages__carbs"></span> g</p>
                         <p>{% trans 'Protein' %}: <span class="dashboard-stats__stats__averages__protein"></span> g</p>
                         <p>{% trans 'Kcal Eaten' %}: <span class="dashboard-stats__stats__averages__kcal-eaten"></span></p>
                         <p>{% trans 'Fats' %}: <span class="dashboard-stats__stats__averages__fat"></span> g</p>
                     </div>
                 </div>
             </div>
             <div class="dashboard-stats__graph">
                 <div class="dashboard-stats__graph__item">
                    <div class="summaryGraph__container">
                        <canvas id="summaryGraph" class="summaryGraph"></canvas>
                    </div>
                </div>
                <div class="dashboard-stats__graph__customization">
                    <h1>{% trans 'Graph Customization' %}</h1>
                    <div class="dashboard-stats__graph__customization__item-container">
                        <label for="duration">{% trans 'Duration' %}</label>
                        <select name="duration" class="dashboard-stats__graph__customization__duration dashboard-stats__graph__customization__item" id="duration">
                            <option value="weekly">{% trans 'Weekly' %}</option>
                            <option value="monthly">{% trans 'Monthly' %}</option>
                        </select>
                    </div>
                    <br>
                    <div class="dashboard-stats__graph__customization__item-container">
                        <label for="type">{% trans 'Type' %}</label>
                        <select name="type" class="dashboard-stats__graph__customization__type dashboard-stats__graph__customization__item" id="type">
                            <option value="kcal">{% trans 'Kcals' %}</option>
                            <option value="macros">{% trans 'Macros' %}</option>
                            <option value="duration">{% trans 'Activity Durations' %}</option>
                        </select>
                    </div>

                </div>
             </div>
        </div>
    </div>
{% endblock %}
