{% extends 'base.html' %}
{% load sass_tags %}
{% load i18n %}
{% block scripts %}
    <script src="{% sass_src 'scripts/dashboard/main.js' %}" defer></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.0/chartjs-plugin-annotation.min.js" integrity="sha512-1uGDhRiDlpOPrTi54rJHu3oBLizqaadZDDft+j4fVeFih6eQBeRPJuuP3JcxIqJxIjzOmRq57XwwO4FT+/owIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
    <div class="grid-layout-container">
      {% include 'components/sidebar/sidebar.html' %}
        <div class="dashboard__content">
            {% include 'components/sidebar/sidebar_small.html' %}
            <div class="dashboard__content__welcome-text">
                 <h1>{% trans 'Welcome back' %}, {{ get_current_user_profile.user.first_name}}.</h1>
                <p>{% trans "Let's check quality of your nutrition for today!" %}</p>
                {% include 'accounts/navbar.html' %}
            </div>

            <div class="dashboard__content__summary">
                <div class="dashboard__content__summary__item dashboard__content__summary__item--meal">
                    <h2 class="dashboard__content__summary__item__header">{% trans 'Meals'%}</h2>
                </div>
                <div class="dashboard__content__summary__item dashboard__content__summary__item--workout">
                    <h2 class="dashboard__content__summary__item__header">{% trans 'Activities' %}</h2>
                </div>
                <div class="dashboard__content__summary__item dashboard__content__summary__item--manage">
                    <h2 class="dashboard__content__summary__item__header">{% trans 'Recipes' %}</h2>
                </div>
                 <div class="dashboard__content__summary__item dashboard__content__summary__item--graph">
                    <div class="dashboard__content__summary__item--graph__content">
                        <h4 class="graph-date">{% trans 'Summary' %}</h4>
                        <p>{% trans 'Goal' %}: <b class="kcal-daily-count"></b> kcal</p>
                        <p>{% trans 'Eaten' %}: <b class="eaten-daily-count"></b> kcal</p>
                        <p>{% trans 'Burnt' %}: <b class="burnt-daily-count"></b> kcal</p>
                        <p>{% trans 'Remaining' %}: <b class="remaining-daily-count"></b> kcal</p>
                    </div>
                      <div class="dashboard__content__summary__item--graph__graph">
                          <div class="dashboard__content__summary__item--graph__graph__container">
                               <canvas id="summaryChart" class="summaryChart"></canvas>
                               <p class="summaryChart__description"><span class="summaryChart__description--percent"><b class="goal-percent-chart"></b></span></p>
                               <p class="summaryChart__description--goal">{% trans 'of the goal' %}</p>
                          </div>

                    </div>
                </div>
            </div>

            <div class="dashboard__content__daily-summary">
                <div class="dashboard__content__daily-summary__item dashboard__content__daily-summary__item--calories">
                    <h4>{% trans 'Calories' %}</h4>
                    <p><span class="kcal-daily-card-consumed"></span> / <span class="kcal-daily-card-needs"></span> kcal</p>
                </div>
                <div class="dashboard__content__daily-summary__item dashboard__content__daily-summary__item--carbs">
                     <h4>{% trans 'Carbs' %}</h4>
                    <p><span class="carbs-daily-card-consumed"></span> / <span class="carbs-daily-card-needs"></span> g</p>
                </div>

                <div class="dashboard__content__daily-summary__item dashboard__content__daily-summary__item--protein">
                    <h4>{% trans 'Protein' %}</h4>
                    <p><span class="protein-daily-card-consumed"></span> / <span class="protein-daily-card-needs"></span> g</p>
                </div>

                 <div class="dashboard__content__daily-summary__item dashboard__content__daily-summary__item--fat">
                    <h4>{% trans 'Fat' %}</h4>
                    <p><span class="fat-daily-card-consumed"></span> / <span class="fat-daily-card-needs"></span> g</p>
                </div>
            </div>

            <div class="dashboard__content__graphs">
                 <div class="dashboard__content__graphs__item dashboard__content__graphs__item--details">
                    <h3>{% trans 'Weekly Goal Fulfillment (%)' %}</h3>
                    <div class="summaryNutritionDetails__container">
                        <canvas id="summaryNutritionDetails" class="summaryNutritionDetails"></canvas>
                    </div>
                </div>
                <div class="dashboard__content__graphs__item dashboard__content__graphs__item--weekly">
                    <h3>{% trans 'Weekly Calorie Graph' %}</h3>
                    <div class="summaryWeekly__container">
                        <canvas id="summaryWeekly" class="summaryWeekly"></canvas>
                    </div>
                     <small class="summaryWeekly__legend">{% trans 'Weekly average kcal income is shown by golden line on the chart' %}.</small>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
