{% extends 'base.html' %}
{% load sass_tags %}
{% block scripts %}
    <script src="{% sass_src 'scripts/dashboard/main.js' %}" defer></script>
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
    <div class="">
        <input type="checkbox" class="navigation--dashboard__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation--dashboard__button">
            <span class="navigation--dashboard__icon">&nbsp;</span>
        </label>

        <div class="navigation--dashboard__background">&nbsp;</div>
            <nav class="navigation--dashboard__nav">
                <ul class="navigation--dashboard__list not-visible">
                    <li class="navigation--dashboard__item"><a href="{% url 'login' %}" class="navigation--dashboard__link"><span><img class="navigation--dashboard__link__icon filter-gold" src="{% sass_src 'images/svg/key.svg' %}" alt="Log in Icon" /></span>Log in</a></li>
                </ul>
            </nav>
    </div>
    <div class="grid-layout-container">
        <div class="dashboard__sidebar">
            <div class="dashboard__sidebar__avatar">
                <img src="{% sass_src 'images/svg/default_user.svg' %}" alt="User Avatar">
            </div>
            <div class="dashboard__sidebar__name">
                Damian Rutkowski
            </div>
             <div class="dashboard__sidebar__username">
                Rutekk20
            </div>
             <div class="dashboard__sidebar__gender">
                Male
            </div>
             <div class="dashboard__sidebar__years">
                22 years old
            </div>
            <div class="dashboard__sidebar__height">
                177 cm
            </div>
            <div class="dashboard__sidebar__weight">
                68 kg
            </div>
             <div class="dashboard__sidebar__goal">
                Goal: Gain Weight
            </div>
             <div class="dashboard__sidebar__activity-level">
                Activity: Medium
            </div>
            <div class="dashboard__sidebar__settings">
                Settings
            </div>
            <div class="dashboard__sidebar__log-out">
                <a class="" href="{% url 'logout' %}"> Logout</a>
            </div>
        </div>
        <div class="dashboard__content">

            <div class="dashboard__content__welcome-text">
                 <h3>Welcome back, user name!</h3>
                <p>Let's check quality of your nutrition for today!</p>

            </div>

            <div class="dashboard__content__summary">
                <div class="dashboard__content__summary__item dashboard__content__summary__item--meal">
                    <h2 class="dashboard__content__summary__item__header">Meals</h2>
                </div>
                <div class="dashboard__content__summary__item dashboard__content__summary__item--workout">
                    <h2 class="dashboard__content__summary__item__header">Exercises</h2>
                </div>
                <div class="dashboard__content__summary__item dashboard__content__summary__item--manage">
                    <h2 class="dashboard__content__summary__item__header">Manage Plans</h2>
                </div>
                 <div class="dashboard__content__summary__item dashboard__content__summary__item--graph">
                    <div class="dashboard__content__summary__item--graph__content">
                        <h4>Summary 17/10/2022</h4>
                        <p>Goal: <b>1827</b> kcal</p>
                        <p>Eaten: <b>1084</b> kcal</p>
                        <p>Burnt: <b>274</b> kcal</p>
                        <p>Remaining: <b>534</b> kcal</p>
                    </div>
                      <div class="dashboard__content__summary__item--graph__graph">
                          <div class="dashboard__content__summary__item--graph__graph__container">
                              <canvas id="summaryChart" class="summaryChart"></canvas>
                               <p class="summaryChart__description"><span class="summaryChart__description--percent"><b>60%</b></span></p>
                               <p class="summaryChart__description--goal">of the goal</p>
                          </div>

                    </div>
                </div>
            </div>

            <div class="dashboard__content__daily-summary">
                <div class="dashboard__content__daily-summary__item dashboard__content__daily-summary__item--calories">
                    <h4>Calories</h4>
                    <p><span>1084</span> / 1827 kcal</p>
                </div>
                <div class="dashboard__content__daily-summary__item dashboard__content__daily-summary__item--carbs">
                     <h4>Carbs</h4>
                    <p><span>13</span> / 73 g</p>
                </div>

                <div class="dashboard__content__daily-summary__item dashboard__content__daily-summary__item--protein">
                    <h4>Protein</h4>
                    <p><span>84</span> / 121 g</p>
                </div>

                 <div class="dashboard__content__daily-summary__item dashboard__content__daily-summary__item--fat">
                    <h4>Fat</h4>
                    <p><span>41</span> / 63 g</p>
                </div>
            </div>

            <div class="dashboard__content__graphs">
                 <div class="dashboard__content__graphs__item dashboard__content__graphs__item--details">
                    <h3>Nutrition Daily Details</h3>
                    <div class="summaryNutritionDetails__container">
                        <canvas id="summaryNutritionDetails" class="summaryNutritionDetails"></canvas>
                    </div>
                </div>
                <div class="dashboard__content__graphs__item dashboard__content__graphs__item--weekly">
                    <h3>Weekly Calorie Graph</h3>
                    <div class="summaryWeekly__container">
                        <canvas id="summaryWeekly" class="summaryWeekly"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
