{% extends 'base.html' %}
{% load sass_tags %}
{% load i18n %}
{% block scripts %}
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="{% sass_src 'scripts/dashboard/stats.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
    <div class="grid-layout-container">
     {% include 'components/sidebar/sidebar.html' %}
        <div class="dashboard-stats">
            {% include 'components/sidebar/sidebar_small.html' %}
            <div class="dashboard-stats__welcome-text">
                <h1>{% trans 'Your Nutri Profile Stats' %}</h1>
                <p>{% trans "Let's check quality of your nutrition while using Nutri!" %}</p>
                 {% include 'accounts/navbar.html' %}
            </div>
             <div class="dashboard-stats__stats">
                 <div class="dashboard-stats__stats__info">
                     <h3>{% trans 'Days on Nutri' %}: 231</h3>
                     <div>
                         <p>{% trans 'Eaten Kcal' %}: 32451</p>
                         <p>{% trans 'Burnt Kcal' %}: 32215</p>
                         <p>{% trans 'Eaten Protein' %}: 3554</p>
                         <p>{% trans 'Eaten Fat' %}: 3232</p>
                         <p>{% trans 'Eaten Carbs' %}: 3121</p>
                     </div>
                 </div>
                 <div class="dashboard-stats__stats__averages">
                    <h3>{% trans 'Average' %}</h3>
                     <div>
                         <p>{% trans 'Kcal Burnt' %}: 2344</p>
                         <p>{% trans 'Eaten Carbs' %}: 356</p>
                         <p>{% trans 'Eaten Protein' %}: 654</p>
                         <p>{% trans 'Kcal Eaten' %}: 3212</p>
                         <p>{% trans 'Eaten Fats' %}: 345</p>
                     </div>
                 </div>
             </div>
             <div class="dashboard-stats__graph">
                 <div class="dashboard-stats__graph__item">
                    <div class="summaryGraph__container">
                        <canvas id="summaryGraph" class="summaryGraph"></canvas>
                    </div>
                </div>
                <div class="dashboard-stats__graph__customization">
                    <h1>{% trans 'Graph Customization' %}</h1>
                        <label for="duration">{% trans 'Duration' %}</label>
                        <select name="duration" class="dashboard-stats__graph__customization__duration dashboard-stats__graph__customization__item" id="duration">
                            <option value="">{% trans 'Weekly' %}</option>
                            <option value="">{% trans 'Monthly' %}</option>
                        </select>
                        <br>
                        <label for="type">Type</label>
                        <select name="type" class="dashboard-stats__graph__customization__type dashboard-stats__graph__customization__item" id="type">
                            <option value="">{% trans 'Kcal Burnt' %}</option>
                            <option value="">{% trans 'Kcal Eaten' %}</option>
                        </select>
                </div>
             </div>
        </div>
    </div>
{% endblock %}
