.meals-layout-container {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 0.25fr 0.8fr 0.15fr;
  align-items: center;
  justify-items: center;
  position: relative;
  @include respond(big-desktop) {
     grid-template-columns: 0.05fr 1fr 0.05fr;
  }
   @include respond(md-desktop) {
     grid-template-columns: 0.05fr 2fr 0.05fr;
  }
  @include respond(tab-desktop) {
     height: auto;
     grid-template-columns: 0.25fr 2fr 0.25fr;
     grid-template-rows: 0.25fr 0.8fr 0.15fr;
  }
  @include respond(tab-md) {
     grid-template-columns: 0.15fr 2fr 0.15fr;
  }
  @include respond(tab-sm) {
     grid-template-columns: 0.1fr 2fr 0.1fr;
  }


}


.meals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  grid-column-gap: 5rem;
  margin-top: 15rem;

   @include respond(md-desktop) {
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 5rem;
    margin-top: 5rem;
  }
  @include respond(phone-lg) {
    grid-template-columns: 0.05fr 1fr 0.05fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 5rem;
    margin-top: 5rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(219,219,238,1) 35%, rgba(205,206,207,1) 100%);
    //-webkit-box-shadow: 0px 0px 8px 5px rgba(66, 68, 90, 1);
    //-moz-box-shadow: 0px 0px 8px 5px rgba(66, 68, 90, 1);
    //box-shadow: 0px 0px 8px 5px rgba(66, 68, 90, 1);
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 5px 0px rgba(66, 68, 90, 1);
    align-content: center;
    padding: 0 2rem;
    transition: all .2s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    animation-name: fade-bottom;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    &:hover {
      transform: scale(1.1);
    }
    h1{
      margin-top: 15rem;
      font-size: 4rem;
      align-self: center;
      @include respond(big-desktop) {
        font-size: 5rem;
      }
      @include respond(md-desktop) {
         font-size: 4.3rem;
      }
      @include respond(tab-desktop) {
         font-size: 5rem;
      }

      @include respond(tab-md) {
       font-size: 5.5rem;
      }

      @include respond(tab-sm) {
        font-size: 4.75rem;
      }

      @include respond(phone-lg) {
         font-size: 4rem;
      }

      @include respond(phone-md-lg) {
       font-size: 3.6rem;
      }
      @include respond(phone-md) {
         font-size: 3rem;
      }
       @include respond(phone-sm) {
         font-size: 2.8rem;
      }
       @include respond(phone-ultra-sm){
         margin-top: 5rem;
         font-size: 2.3rem;
      }
    }
    p {
      margin-top: 15rem;
      font-size: 2rem;
      text-align: center;
      @include respond(big-desktop) {
        font-size: 2.3rem;
      }
       @include respond(md-desktop) {
         font-size: 2.2rem;
         margin-top: 15rem;
         margin-bottom: 10rem;
      }
       @include respond(tab-desktop) {
        font-size: 2rem;
        margin-top: 25rem;
        margin-bottom: 10rem;
      }

      @include respond(tab-md) {
       font-size: 1.75rem;
      }

      @include respond(tab-sm){
        margin-top: 25rem;
        margin-bottom: 5rem;
      }

      @include respond(phone-lg) {
        font-size: 1.45rem;
      }

      @include respond(phone-md-lg) {
       font-size: 1.35rem;
      }
      @include respond(phone-md) {
         font-size: 1.4rem;
         margin-top: 15rem;
         margin-bottom: 5rem;
      }
      @include respond(phone-sm) {
         font-size: 1.2rem;
      }
      @include respond(phone-ultra-sm){
         margin-top: 10rem;
         margin-bottom: 5rem;
         font-size: 1.1rem;
      }
    }

    &--add {
      background-image: linear-gradient(to right bottom, rgba(241, 241, 241, 0.3), rgba(82, 82, 82, 0.5)),
      url('/static/images/add_meals_card.png');
      @include respond(md-desktop) {
        background-size: cover;
        grid-column: 2/3;
        grid-row: 1/2;
      }

    }

    &--proposition {
      background-image: linear-gradient(to right bottom, rgba(241, 241, 241, 0.3), rgba(82, 82, 82, 0.5)),
      url('/static/images/meal_proposition_card.jpg');
      background-size: cover;
      @include respond(md-desktop) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }

    &--saved {
      background-image: linear-gradient(to right bottom, rgba(241, 241, 241, 0.3), rgba(82, 82, 82, 0.5)),
      url('/static/images/saved_meals_card.jpg');
       @include respond(md-desktop) {
        grid-column: 2/3;
        grid-row: 3/4;
      }
    }
  }
}

#meals-video {
  opacity: 0.7;
  filter: blur(5px);
}

