{% load static %}
{% load i18n %}
<div class="grid-full-span navbar">
    <h3 class="navbar__item navbar__item--first navbar__item--site-name"><a class="navbar__href" href="{% url 'home-page' %}">Nutri</a><span class=" navbar__item--first navbar__item--nutri-dot">.</span></h3>
    <div class="navbar__item navbar__item--menu">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list not-visible">
                <li class="navigation__item">
                    <img class="navigation__link__icon navigation__link__icon--flag" data-langPrefix='pl' src="{% static 'images/svg/poland.svg' %}" alt="Polish Flag Icon"/>
                    <img  class="navigation__link__icon navigation__link__icon--flag" data-langPrefix='en' src="{% static 'images/svg/uk.svg' %}" alt="English Flag Icon"/>
                </li>
                <li class="navigation__item"><a href="{% url 'login' %}" class="navigation__link"><span><img class="navigation__link__icon filter-gold" src="{% static 'images/svg/key.svg' %}" alt="Log in Icon" /></span>{% trans 'Log in' %}</a></li>
                <li class="navigation__item"><a href="{% url 'signup' %}" class="navigation__link"><span><img class="navigation__link__icon filter-gold" src="{% static 'images/svg/new.svg' %}" alt="Sign up Icon" /></span>{% trans 'Sign up' %}</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span><img class="navigation__link__icon filter-gold" src="{% static 'images/svg/about.svg' %}" alt="About Icon" /></span>{% trans 'About' %}</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span><img class="navigation__link__icon filter-gold" src="{% static 'images/svg/star-outline.svg' %}" alt="Reviews Icon" /></span>{% trans 'Reviews' %}</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span><img class="navigation__link__icon filter-gold" src="{% static 'images/svg/contacts.svg' %}" alt="Contact Icon" /></span>{% trans 'Contact' %}</a></li>
            </ul>
        </nav>
    </div>
</div>