{% extends 'base.html' %}
{% load sass_tags %}

{% block scripts %}
     <script src="{% sass_src 'scripts/meals/saved/main.js' %}" defer></script>
    <script>
        let searchIconPath = "{% sass_src 'images/svg/search.svg' %}"
    </script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
      <div class="bg-video" id="add-meals-video-container">
         <video id="add-meals-video" class="bg-video__content" autoplay muted loop>
             <source src="{% sass_src 'video/add_meal_bg_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/add_meal_bg_video.webm' %}" type="video/webm">
             Your browser is not supported!
         </video>
     </div>

        <div class="add-meals-layout-container">
            {% include 'accounts/navbar.html' %}
             {% include 'accounts/navbar_small.html' %}
            <div class="saved-meals grid-full-span">
                <div class="saved-meals__search">
                    <div class="saved-meals__search__results">
                    <div class="saved-meals__search__results__heading-box">
                        <h3>Your Saved Meals</h3>
                    </div>
                        <div class="saved-meals__search__results__container">
                            {% for item in saved_templates %}
                                <div class="saved-meals__search__results__container__item">
                                    <div class="saved-meals__search__results__container__item__recipe"><p><b>{{ item.meal_name }}</b> - {{ item.kcal|floatformat:"-3" }} kcal</p></div>
                                    <div class="saved-meals__search__results__container__item__buttons">
                                        <button class="edit-saved-meals" data-meal='{{ item.id }}'>Manage</button>
                                        <button class="delete-saved-meals" data-meal='{{ item.id }}'>Delete</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="saved-meals__search__save-new">
                        <p>Do you want to create new meal?</p>
                        <button class="saved-meals__search__save-new__button">Create New Template</button>
                    </div>
                </div>
                <div class="modal-queued not-visible">
                     <div class="modal-queued__content">
                         <div class="modal-queued__close-button">&times;</div>
                         <h1 class="modal-queued--heading">Adding your meal template to our database..</h1>
                         <div class="loader--signup"></div>
                     </div>
                 </div>

                <div class="saved-meals__added not-visible">
                    <div class="saved-meals__added--saved">
                        {% csrf_token %}
                        <div class="saved-meals__added--saved__heading">
                            <h2 class="saved-meals__added--saved__heading--item">&nbsp;</h2>
                        </div>
                        <div class="saved-meals__added--saved__content"></div>
                    </div>
                </div>


                <div class="modal-queued modal-edit-search not-visible">
                     <div class="modal-queued__content modal-edit-search__content">
                         <div class="modal-queued__close-button modal-edit-search__close-button">&times;</div>
                         <h1 class="modal-queued--heading modal-edit-search__heading">Search for your meal components</h1>
                         <div class="add-new-element-template-search-bar modal-edit-search__content__search"><input class="new-saved-meal-search input-scale modal-edit-search__content__search-bar" type="text" placeholder="Search"/><span><img class="add-meals__search__bar__icon" src="{% sass_src 'images/svg/search.svg' %}" alt="Search Icon" /></span></div>
                            <div class="saved-meals__added--saved__content__search-response modal-edit-search__content__search-response not-visible">
                                <div class="saved-meals__added--saved__content__search-response__item"></div>
                            </div>
                        </div>
                     </div>
                 </div>

                </div>
            </div>
        </div>


{% endblock %}