{% load sass_tags %}
<div class="dashboard__sidebar">
    <div class="dashboard__sidebar__avatar">
        <img src="{% sass_src 'images/svg/default_user.svg' %}" alt="User Avatar">
    </div>
    <div class="dashboard__sidebar__name">
        {{ user.user.full_name}}
    </div>
    <div class="dashboard__sidebar__username">
         {{ user.user.username}}
    </div>
    <div class="dashboard__sidebar__gender">
        {{ user.gender}}
    </div>
    <div class="dashboard__sidebar__years">
        {{ user.years_old }} years old
    </div>
    <div class="dashboard__sidebar__height">
        {{ user.height }} cm
    </div>
    <div class="dashboard__sidebar__weight">
         {{ user.weight }} kg
    </div>
    <div class="dashboard__sidebar__goal">
        Goal:  {{ user.goal_weight|title }}
    </div>
    <div class="dashboard__sidebar__activity-level">
        Activity: {{ user.activity_level |title}}
    </div>
    <div class="dashboard__sidebar__settings">
        Settings
    </div>
    <div class="dashboard__sidebar__log-out">
        <a class="" href="{% url 'logout' %}"> Logout</a>
    </div>
</div>