{% load sass_tags %}
{% load i18n %}
<div class="dashboard__sidebar">
    <div class="dashboard__sidebar__avatar">
        <img src="{% sass_src 'images/svg/default_user.svg' %}" alt="User Avatar">
    </div>
    <div class="dashboard__sidebar__name">
        {{ get_current_user_profile.user.full_name}}
    </div>
    <div class="dashboard__sidebar__username">
         {{get_current_user_profile.user.username}}
    </div>
    <div class="dashboard__sidebar__gender">
        {{ get_current_user_profile.gender}}
    </div>
    <div class="dashboard__sidebar__years">
        {{ get_current_user_profile.years_old }} {% trans 'years old' %}
    </div>
    <div class="dashboard__sidebar__height">
        {{ get_current_user_profile.height }} cm
    </div>
    <div class="dashboard__sidebar__weight">
         {{ get_current_user_profile.weight }} kg
    </div>
    <div class="dashboard__sidebar__goal">
        {% trans 'Goal' %}:  {{ get_current_user_profile.goal_weight|title }}
    </div>
    <div class="dashboard__sidebar__activity-level">
        {% trans 'Activity' %}: {{ get_current_user_profile.activity_level |title}}
    </div>
    <div class="dashboard__sidebar__settings">
        {% trans 'Settings' %}
    </div>
    <div class="dashboard__sidebar__log-out">
        <a class="" href="{% url 'logout' %}"> {% trans 'Logout' %}</a>
    </div>
</div>