{% extends 'base.html' %}
{% load sass_tags %}
{% load i18n %}
{% block scripts %}
     <script src="{% sass_src 'scripts/meals/enter/main.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    {% csrf_token %}
    <div class="loader"></div>
     <div class="bg-video" id="meals-video-container">
       <div class="overlay-large"></div>
         <video id="meals-video" class="bg-video__content" autoplay muted loop>
             <source src="{% sass_src 'video/meals_bg_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/meals_bg_video.webm' %}" type="video/webm">
             Your browser is not supported!
         </video>
     </div>
    <div class="meals-enter-layout-container">
        {% include 'accounts/navbar.html' %}
         {% include 'accounts/navbar_small.html' %}
        <div class="meals-enter grid-full-span">
            <div class="meals-enter__card">
                <h3>{% trans 'Your ingredient/meal' %}</h3>
                <div>
                    <label id='name-label' for="name">{% trans 'Name' %}</label>
                    <input class='meals-enter__input' type="text" id="name" placeholder="{% trans 'Name' %}">
                </div>
                <div>
                    <label id='category-label' for="category">{% trans 'Category' %}</label>
                    <select name="category" id="category" class='meals-enter__input'>
                        <option value="empty" data-selected="false" disabled selected>{% trans 'Category' %}</option>
                        {% for category in meal_categories %}
                            <option data-selected="true" data-value='{{ category.pk }}' value="{{ category.pk }}">{% if '/pl/' in request.path %}{{ category.pl_category_name }}{% else %}{{ category.en_category_name }}{% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label id='kcal-label' for="kcal">{% trans 'Kcal' %}</label>
                    <input class='meals-enter__input' pattern="^[0-9]*$" type="text" id="kcal" placeholder="{% trans 'Kcal' %}">
                </div>
                <div>
                    <label id='carbs-label' for="carbs">{% trans 'Carbs' %}</label>
                    <input class='meals-enter__input' pattern="^[0-9]*$" type="text" id="carbs" placeholder="{% trans 'Carbs' %} (g)">
                </div>
                <div>
                    <label id='fats-label' for="fats">{% trans 'Fats' %}</label>
                    <input class='meals-enter__input' pattern="^[0-9]*$" type="text" id="fats" placeholder="{% trans 'Fats' %} (g)">
                </div>
                <div>
                    <label id='protein-label' for="protein">{% trans 'Protein' %}</label>
                    <input class='meals-enter__input' pattern="^[0-9]*$" type="text" id="protein" placeholder="{% trans 'Protein' %} (g)">
                </div>
                <div>
                    <label id='serving-label' for="serving">{% trans 'Serving grams' %}</label>
                    <input class='meals-enter__input' pattern="^[0-9]*$" type="text" id="serving" placeholder="{% trans 'Serving grams' %}">
                </div>
                <p class="not-visible" id="nutrition-grade">{% trans 'Nutrition Grade' %}: <span id="grade"></span></p>
                <button class="btn-light">{% trans 'Add' %}</button>
            </div>
        </div>
    </div>

    <div class="modal-queued" style="z-index: 2400">
         <div class="modal-queued__content modal-enter__content">
              <div class="modal-queued__close-button modal-enter__close-button">&times;</div>
              <div class="modal-enter__content__container">
                  <div class="modal-enter__content__container__card modal-enter__content__container__card--traditional">
                      <h3>{% trans 'Traditional way' %}</h3>
                      <img src="{% sass_src 'images/svg/right-arrow.svg' %}" class="filter-white" alt="Arrow Right Icon">
                  </div>
                  <div class="modal-enter__content__container__card modal-enter__content__container__card--bar-code">
                       <h3>{% trans 'BAR CODE' %}</h3>
                       <img src="{% sass_src 'images/svg/right-arrow.svg' %}" class="filter-white" alt="Arrow Right Icon">
                  </div>
             </div>
         </div>
    </div>
{% endblock %}