@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.activity-calendar {
  height: auto;
  min-height: 100vh;
  font-size: 2rem;
  grid-column: 3/4;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .25fr 2fr;
  grid-auto-flow: dense;
  grid-row-gap: 5rem;
  background-color: rgb(189, 231, 197);
  border-radius: 20px;
  color: white;
  margin-left: -20px;
  @include respond(tab-land) {
    margin-top: 2rem;
    border-radius: 20px;
    margin-left: 0;
    min-height: 100vh;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-rows: .10fr .10fr 2fr;
  }
  @include respond(tab-md){
    grid-column: 1/2;
  }
  @include respond(phone-md-lg) {
    row-gap: 5rem;
  }
  &__welcome-text {
     grid-row: 1 / 2;
     grid-column: 1 / -1;
     margin-left: 5rem;
     margin-top: 5rem;
     animation-name: moveInLeft;
     animation-duration: 1s;
     animation-timing-function: ease-out;
     position: relative;
     p {
       @include respond(tab-land) {
        font-size: 1.6rem;
      }
       @include respond(phone-md-lg) {
        font-size: 1.4rem;
      }
       @include respond(phone-md) {
        font-size: 1.15rem;
      }
       @include respond(phone-md-sm) {
        font-size: 1.2rem;
      }
     }
     @include respond(tab-land) {
       grid-column: 1/2;
       grid-row: 2/3;
       margin-top: 0;
    }
    @include respond(phone-md) {
      margin: 0 2rem;
    }
    @include respond(phone-md-sm) {
      text-align: center;
    }
  }
  &__container {
    margin: 2rem 10rem;
    grid-column: 1 / -1;
    grid-row: 2/3;
    display: grid;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    color: black;
    @include respond(tab-land) {
       margin: 0 3rem 5rem 3rem;
       align-self: center;
       justify-self: center;
       width: 90%;
       grid-column: 1/2;
       grid-row: 3/4;
    }
    small {
      font-size: 2rem;
      margin-bottom: 2rem;
      margin-left: 7rem;
      @include respond(md-desktop) {
        font-size: 1.5rem;
      }
      @include respond(tab-sm) {
        font-size: 1.3rem;
      }
      @include respond(phone-md-lg) {
        font-size: 1.2rem;
        margin-left: 3rem;
      }
       @include respond(phone-md-sm){
         font-size: 1.1rem;
         margin-left: 1.5rem;
       }
    }
    header {
      display: flex;
      align-items: center;
      padding: 25px 30px 10px;
      justify-content: space-between;
      .current-date {
        margin-left: 2.5rem;
        font-size: 3.5rem;
        font-weight: bold;
        @include respond(tab-md){
           font-size: 3rem;
        }
        @include respond(phone-md-lg){
           font-size: 2.8rem;
           margin-left: 0;
        }
        @include respond(phone-md-sm){
           font-size: 2.4rem;
           margin-left: 0;
        }
        @include respond(phone-sm) {
          font-size: 2.2rem;
        }


      }
      .icons {
        display: flex;
        span {
          height: 38px;
          width: 38px;
          margin: 0 1px;
          cursor: pointer;
          color: #878787;
          text-align: center;
          line-height: 38px;
          font-size: 1.9rem;
          user-select: none;
          border-radius: 50%;
          &:last-child {
            margin-right: -10px;
          }
          &:hover {
            background: #f2f2f2;
          }
        }
      }
    }
  }
}

///

.calendar {
  padding: 20px;
   @include respond(phone-sm) {
     padding: 10px;
   }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .days {
    margin-bottom: 20px;
  }
  li {
    font-family: 'Poppins', sans-serif;
    color: #333;
    width: calc(100% / 7);

  }
  .weeks {
    li {
       font-size: 1.7rem; // day names
       font-weight: 500;
       cursor: default;
       @include respond(phone-sm) {
         font-size: 1.2rem;
       }
    }
  }

  .days {
    li {
      z-index: 1;
      cursor: pointer;
      position: relative;
      margin-top: 3rem;
      span {
        background-color: #27f55b;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }
      &::before{
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        height: 40px;
        width: 40px;
        z-index: -1;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
    li.inactive {
      color: #aaa;
    }
    li.active {
      color: #52ff00;
      &::before {
         //background: #f1e452;
      }
    }

    li:not(.active):hover::before {
      background: #f2f2f2;
    }
  }
}


.modal--calendar {
   position: absolute;
   top:0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 1000;
   background-color: rgba(112, 111, 111, 0.7);
   display: flex;

}

.modal--calendar {
  h3 {
    font-size: 5rem;
  }
  &__content {
    display: flex;
      flex-direction: column;
       width: 100vh;
       height: 50vh;
       border-radius: 20px;
       -webkit-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       -moz-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       padding: 2rem 2rem;
       transition: all .2s ease-in;
       justify-self: center;
       align-self: center;
       margin-right: auto;
       margin-left: auto;
       background-color: rgb(222, 219, 219);
  }
  &__close-button {
    display: flex;
    justify-items: end;
    align-self: end;
    font-size: 3.5rem;
    cursor: pointer;
  }
}
