
body {
  height: 100%;

}

.grid-layout-container{
  display: grid;
  height: 100vh;
  grid-template-columns: 0.05fr 0.4fr 2fr 0.05fr;
  grid-template-rows: 0.05fr 1fr;
  //background-color: rgba(150, 238, 165, 0.5);
  background-image: url("https://images.unsplash.com/photo-1576678927484-cc907957088c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dashboard {
  &__sidebar {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: start;
    justify-items: center;
    font-size: 2rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
    color: black;

    &__avatar {
      align-self: center;
      margin-top: 5rem;
      img {
        width: 4rem;
        height: 4rem;
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
     &__name {
       align-self: center;
       text-transform: uppercase;
       font-weight: bold;
       margin-top: 2rem;
    }
     &__username {
      margin-left: 2rem;
      margin-top: 15rem;
    }
    &__gender, &__years, &__height, &__weight, &__goal, &__activity-level {

      margin-left: 2rem;
    }


    &__settings {
      align-self: center;
      margin-top: auto;
    }
    &__log-out {
      align-self: center;
    }
  }

  &__content {
    font-size: 2rem;
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1.5fr;
    grid-auto-flow: dense;
    background-color: rgb(189, 231, 197);
    border-radius: 20px;
    color: white;
    margin-left: -20px;

    //-webkit-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
    //-moz-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
    //box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);

    &__welcome-text {
      margin-left: 5rem;
      margin-top: 5rem;
      grid-column: 1 / -1;
      grid-row: 1/2;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      h3 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }

    &__summary {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1.5fr;
      grid-column-gap: 2rem;
      grid-row: 2/3;
      grid-column: 1 / -1;
      justify-items: center;
      align-items: center;
      margin: 2rem 1rem 0 1rem;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      &__item {
        cursor: pointer;
        justify-self: stretch;
        height: 15rem;
        background-color: white;
        border-radius: 20px;
        display: flex;
        -webkit-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
        transition: all 0.5s ease-out;
         &:hover {
          transform: scale(1.05);
        }
        &__header {
          justify-self: center;
          align-self: center;
          margin-left: auto;
          margin-right: auto;
        }
        &--meal {
         background-image: linear-gradient(to right bottom, rgba(241, 241, 241, 0.3), rgba(82, 82, 82, 0.3)),
            url('/static/images/add_meal.png');
          background-position: center;
          background-repeat: no-repeat;
          grid-column: 1/2;
        }

        &--workout {
           background-image: linear-gradient(to right bottom, rgba(241, 241, 241, 0.3), rgba(82, 82, 82, 0.3)),
            url('/static/images/add_exercise.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size:cover;
          grid-column: 2/3;
        }

        &--manage {
          background-image: linear-gradient(to right bottom, rgba(241, 241, 241, 0.3), rgba(82, 82, 82, 0.3)),
            url('/static/images/manage.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size:cover;
          grid-column: 3/4;
        }

        &--graph {
          grid-column: 4/5;
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 0.75fr;
          color: black;
          justify-items: center;
          align-items: center;
          cursor: text;
          &__content {
            grid-column: 1/2;
            display: flex;
            flex-direction: column;
            line-height: 1.3;
            p {
              &:first-of-type {
                margin-top: 1rem;
              }
              font-size: 1.6rem;
            }
          }
          &__graph {
            grid-column: 2/3;
            &__container {
              position: relative;
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    &__daily-summary {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(4, 1fr);
      grid-row: 3/4;
      grid-column: 1 / -1;
      grid-column-gap: 5rem;
      justify-items: center;
      align-items: center;
      margin: 2rem 4rem 0 4rem;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      &__item {
        justify-self: stretch;
        height: 10rem;
        background-color: white;
        border-radius: 20px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        line-height: 1.4;
        -webkit-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
        transition: all 0.5s ease-out;
        &:hover {
          transform: scale(1.05);
        }

        &--calories {
          grid-column: 1/2;

          h4 {
            margin-top: 1rem;
            text-transform: uppercase;
          }
          p span {
            margin-top: 1rem;
            font-size: 4rem;
            color: green;
            font-weight: bolder;
          }
        }

        &--carbs {
          grid-column: 2/3;
          h4 {
            margin-top: 1rem;
            text-transform: uppercase;
          }
          p span {
            margin-top: 1rem;
            font-size: 4rem;
            color: green;
            font-weight: bolder;
          }
        }

        &--protein {
          grid-column: 3/4;
           h4 {
            margin-top: 1rem;
            text-transform: uppercase;
          }
          p span {
            margin-top: 1rem;
            font-size: 4rem;
            color: green;
            font-weight: bolder;
          }
        }

        &--fat {
          grid-column: 4/5;
           h4 {
            margin-top: 1rem;
            text-transform: uppercase;
          }
          p span {
            margin-top: 1rem;
            font-size: 4rem;
            color: green;
            font-weight: bolder;
          }
        }
      }
    }

    &__graphs {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
      grid-row: 4/5;
      grid-column: 1 / -1;
      grid-column-gap: 2rem;
      justify-items: center;
      margin: 4rem 1rem 0 1rem;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      &__item {
        justify-self: stretch;
        height: 30rem;
        background-color: white;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 59px -22px rgba(66, 68, 90, 1);
        transition: all 0.5s ease-out;
        &:hover {
          transform: scale(1.05);
        }

        &--details {
          display: flex;
          flex-direction: column;
          color: black;
          grid-column: 1/2;
          h3 {
            align-self: center;
            margin-top: 1rem;
            justify-self: center;
          }
        }

        &--weekly {
          display: flex;
          flex-direction: column;
          color: black;
          grid-column: 2 / -1;
          h3 {
            align-self: center;
            margin-top: 1rem;
            justify-self: center;
          }
        }
      }
    }

  }
}


.absolute-center {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.summaryChart {
  height: 15rem;
  width: 15rem;
  &__description{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    &--goal {
      position:absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &--percent{
      font-size: 3rem;
    }
  }
}

.summaryWeekly {
  margin-bottom: 5rem;

  &__container {
    margin: 2rem auto 0 auto;
    height: 35rem;
    width: 90rem;
  }
}


.navigation--dashboard {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: #fff;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 7.5rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(#fff, .1);
        text-align: center;
        cursor: pointer;
        @include respond(tab-land) {
            height: 6rem;
            width: 6rem;
            top: 3rem;
        }

        @include respond(phone-md) {
            right: 3rem;
            height: 5rem;
            width: 5rem;
        }
    }

    &__background {
        height: 5rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 7.5rem;
        right: 6.5rem;
        background-image: radial-gradient(rgb(222, 236, 222), rgb(45, 173, 36));
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

         @include respond(tab-land) {
             top: 3.5rem;
             right: 6.1rem;
        }

        @include respond(phone-md) {
           right: 3.1rem;
           width: 4.5rem;
           top: 3rem;
        }

    }
    // przejscie + nav bar (po clicku)

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.65, -0.53, 0.215, 1.45);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;

        &__container{
            display: flex;
        }
    }

    &__link {
        &__icon {
            width: 2.5rem;
            height: 2.5rem;
        }
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }

        }

        &:hover,
        &:active {
            background-position: 100%;
            color: #ffffff;
            transform: scale(1.08);
        }
    }


    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }


    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;


        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: #111010;
            display: inline-block;

        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }

    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}


