


.dashboard-stats{
    font-size: 2rem;
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 1fr 1fr;
    grid-auto-flow: dense;
    background-color: rgb(189, 231, 197);
    border-radius: 20px;
    color: white;
    margin-left: -20px;

     @include respond(tab-land) {
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.15fr 0.15fr 1fr 0.5fr;
      margin-top: 2rem;
      grid-column: 2/3;
      grid-row: 1/2;
      margin-left: -0px;
    }
    @include respond(tab-md) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    @include respond(tab-port) {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.25fr 0.25fr 1.5fr 0.5fr;
    }
   @include respond(phone-lg) {
    grid-template-rows: 0.25fr 0.25fr 1.6fr 0.8fr;
   }

    &__welcome-text {
      grid-row: 1/2;
      grid-column: 1 / -1;
      margin-left: 5rem;
      margin-top: 5rem;
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      position: relative;
      @include respond(tab-land) {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 2rem;
        margin-left: 5rem;
      }
      @include respond(tab-port) {
        font-size: 1.7rem;
        margin-bottom: 2rem;
      }
      @include respond(phone-lg) {
        font-size: 1.5rem;
      }
     @include respond(phone-md-lg) {
        font-size: 1.3rem;
     }
     @include respond(phone-lg) {
       margin-left: 3rem;
     }
    @include respond(phone-md-sm) {
       font-size: 1rem;
       margin-left: 2rem;
    }
      p {
        @include respond(phone-lg) {
          font-size: 1.4rem;
       }
        @include respond(phone-md-sm) {
         font-size: 1.2rem;
        }
      }
    }

  &__stats {
    margin-top: 5rem;
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5rem;
    font-size: 2.5rem;
    grid-column: 1/2;
    grid-row: 2/3;
    @include respond(tab-land) {
      grid-column: 1/2;
      grid-row: 3/4;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      margin-right: 5rem;
    }
     @include respond(tab-port) {
      margin-top: 0;
      height: 60rem;
    }
    @include respond(phone-lg) {
       margin: 0 3rem 0 3rem;
    }
    @include respond(phone-md-sm) {
      margin: 0 2rem 0 2rem;
    }

    &__body {
      grid-column: 1/2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      animation-name: fade-left;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      @include respond(big-desktop) {
        width: auto;
      }
       @include respond(tab-land) {
        display: grid;
        grid-row: 1/2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 5rem;
      }
      @include respond(tab-port) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }
      &--height {
        @include respond(tab-port) {
          grid-row: 1/2;
          grid-column: 1/2;
        }
      }

       &--weight {
        @include respond(tab-port) {
          grid-row: 2/3;
          grid-column: 1/2;
        }
      }

       &--activity {
        @include respond(tab-port) {
          grid-row: 3/4;
          grid-column: 1/2;
        }
      }

       &--goal {
        @include respond(tab-port) {
          grid-row: 4/5;
          grid-column: 1/2;
        }
      }


      &__item {
        display: flex;
        align-self: center;
        @include respond(tab-port) {
          margin-top: 2rem;
        }
        p {
          @include respond(big-desktop) {
            font-size: 3rem;
          }
          @include respond(tab-desktop) {
            font-size: 2rem;
          }
          @include respond(tab-land) {
            font-size: 2rem;
          }
          @include respond(tab-port) {
            font-size: 3rem;
          }
          @include respond(phone-lg) {
            font-size: 2rem;
          }
          @include respond(phone-md-sm) {
            font-size: 1.5rem;
          }
          input {
            width: 7rem;
            margin-left: 1rem;
            border-radius: 2px;
            border: 0;
            text-align: center;
            @include respond(tab-desktop) {
              width: 6rem;
              font-size: 1.2rem;
            }
            @include respond(tab-land) {
               width: 10rem;
               font-size: 1.4rem;
            }
            @include respond(tab-port) {
               width: 12rem;
               font-size: 1.7rem;
            }
            @include respond(phone-lg) {
               width: 10rem;
            }
           @include respond(phone-md) {
              width: 8rem;
           }
           @include respond(phone-md-sm) {
            width: 6rem;
            font-size: 1.3rem;
           }
          }
          select {
            width: 10rem;
            margin-left: 1rem;
            border-radius: 2px;
            border: 0;
            @include respond(tab-desktop) {
              width: 8rem;
              font-size: 1.1rem;
            }
            @include respond(tab-land) {
               width: 10rem;
               font-size: 1.3rem;
            }
            @include respond(tab-port) {
               width: 12rem;
               font-size: 1.5rem;
            }
            @include respond(phone-md) {
              width: 10rem;
              font-size: 1.3rem;
           }
           @include respond(phone-md-sm) {
            width: 8rem;
            font-size: 1.1rem;
           }
          }
        }
        button {
          margin-left: auto;
          padding: 1rem 3rem;
          border-radius: 10px;
          background-color: rgba(111, 238, 124, 0.7);
          color: white;
          cursor: pointer;
          border: 0;
          text-transform: uppercase;
          font-weight: bold;
           @include respond(tab-desktop) {
             padding: 1rem 2rem;
           }
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      &__nutrition {
        display: grid;
        grid-row: 1/2;
        grid-column: 2/3;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 1fr;
        animation-name: fade-right;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        @include respond(md-desktop) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          align-items: center;
        }
        @include respond(tab-desktop) {
          grid-column-gap: 5rem;
        }
        @include respond(tab-land) {
          grid-row: 2/3;
          grid-column: 1/2;
        }
        @include respond(tab-port) {
            margin-top: 5rem;
        }
       @include respond(tab-sm) {
          //align-items: center;
          //justify-items: center;
          grid-column-gap: 3rem;
          font-size: 2.5rem;
          white-space: nowrap;
       }
        @include respond(phone-lg) {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          align-items: start;
          justify-items: start;
          grid-row-gap: 2rem;
          font-size: 3rem;
        }
       @include respond(phone-md) {
         font-size: 2.5rem;
      }
      @include respond(phone-md-sm) {
         font-size: 2.2rem;
      }

        &--col-1 {
          margin-top: 2rem;
          grid-column: 1/2;
          grid-row: 1/2;
          display: flex;
          flex-direction: column;
          @include respond(md-desktop) {
            grid-column: 1/2;
            grid-row: 1/2;
          }
          @include respond(phone-lg) {
             grid-column: 1/2;
             grid-row: 1/2;
         }
        }

        &--col-2 {
          margin-top: 2rem;
          grid-column: 2/3;
          grid-row: 1/2;
          display: flex;
          flex-direction: column;
          @include respond(md-desktop) {
            grid-column: 1/2;
            grid-row: 2/3;
          }
          @include respond(phone-lg) {
             grid-column: 1/2;
             grid-row: 2/3;
         }
        }
      }
    }
  }
  &__graph {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 0.55fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5rem;
    animation-name: fade-bottom;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    transition: all .2s ease-out;
     @include respond(md-desktop) {
       grid-template-columns: 1fr;
       grid-template-rows: 0.3fr 1fr;
     }
    @include respond(tab-land) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    @include respond(tab-sm) {
      margin-top: 5rem;
    }
    @include respond(phone-md) {
       margin-top: 5rem;
    }
   @include respond(phone-md-sm) {
     margin-top: 2rem;
   }



    &:hover {
       transform: scale(1.05);
    }
    &__item {
      margin-left: 3rem;
      color: black;
      background-color: white;
      border-radius: 20px;
      grid-column: 1/2;
      grid-row: 1/2;
      height: auto;
      margin-bottom: 5rem;
      @include respond(md-desktop) {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 2rem 5rem 5rem 5rem;
      }
      @include respond(tab-sm) {
        margin: 2rem 2rem 5rem 2rem;
      }
      @include respond(phone-md-sm) {
        margin: 2rem 0.5rem 5rem 0.5rem;
      }
    }
    &__customization {
      grid-column: 2/3;
      grid-row: 1/2;
      margin-right: auto;
      @include respond(md-desktop) {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 5rem;
      }
     @include respond(phone-lg) {
       margin: 0 3rem 0 3rem;
     }
     @include respond(phone-md-sm) {
       margin: 0 2rem 0 2rem;
     }

      h1 {
        text-wrap: none;
        white-space: nowrap;
        font-size: 3rem;
        @include respond(big-desktop) {
            font-size: 5rem;
        }
      }
      label {
        font-size: 3rem;
        @include respond(md-desktop) {
            font-size: 2rem;
        }
      }
      &__item {
        margin-top: 2rem;
        margin-left: 2rem;
        padding: 0.5rem 1rem;

      }
    }

  }
}

.summaryGraph {
  margin-bottom: 5rem;
  &__container {
    margin-left: 2rem;
    margin-top: 2rem;
    height: 30rem;
    width: auto;
    @include respond(tab-desktop) {
      height: 25rem;
    }
    @include respond(tab-port) {
      height: 30rem;
      margin-left: 0.5rem;
    }
  }
}

