.dashboard-stats{
    font-size: 2rem;
    grid-column: 3/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 0.5fr 1fr;
    grid-auto-flow: dense;
    background-color: rgb(189, 231, 197);
    border-radius: 20px;
    color: white;
    margin-left: -20px;

    @include respond(tab-land) {
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.15fr 0.15fr 1fr 0.5fr;
      margin-top: 2rem;
      grid-column: 2/3;
      grid-row: 1/2;
      margin-left: -0px;
    }
    @include respond(tab-md) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    @include respond(tab-port) {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 0.25fr 0.25fr 1.5fr 0.5fr;
    }
   @include respond(phone-lg) {
    grid-template-rows: 0.25fr 0.25fr 1.6fr 0.8fr;
   }

    &__welcome-text {
      grid-row: 1/2;
      grid-column: 1 / -1;
      margin-left: 5rem;
      margin-top: 5rem;
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      position: relative;
      @include respond(tab-land) {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 2rem;
        margin-left: 5rem;
      }
      @include respond(tab-port) {
        font-size: 1.7rem;
        margin-bottom: 2rem;
      }
      @include respond(phone-lg) {
        font-size: 1.5rem;
      }
     @include respond(phone-md-lg) {
        font-size: 1.3rem;
     }
     @include respond(phone-lg) {
       margin-left: 3rem;
     }
    @include respond(phone-md-sm) {
       font-size: 1rem;
       margin-left: 2rem;
    }
      p {
        @include respond(phone-lg) {
          font-size: 1.4rem;
       }
        @include respond(phone-md-sm) {
         font-size: 1.2rem;
        }
      }
    }

  &__stats {
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5rem;
    font-size: 2rem;
    grid-column: 1/2;
    grid-row: 2/3;

    &__info{
      grid-column: 1/2;
      margin-top: 3rem;
      h3 {
        text-align: center;
      }
      div {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
      }
    }
    &__averages{
      grid-column: 2/3;
      margin-top: 3rem;
      h3 {
        text-align: center;
      }
      div {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }

  }
  &__graph {
    display: grid;
    grid-template-columns: 1fr 0.55fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5rem;
    transition: all .3s ease-in;
    animation-name: fade-bottom;
    animation-duration: 2s;
    animation-timing-function: ease-out;
     @include respond(md-desktop) {
       grid-template-columns: 1fr;
       grid-template-rows: 0.3fr 1fr;
     }
    @include respond(tab-land) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    @include respond(tab-sm) {
      margin-top: 5rem;
    }
    @include respond(phone-md) {
       margin-top: 5rem;
    }
   @include respond(phone-md-sm) {
     margin-top: 2rem;
   }
    &__item {
      margin-left: 3rem;
      color: black;
      background-color: white;
      border-radius: 20px;
      grid-column: 1/2;
      grid-row: 1/2;
      height: auto;
      margin-bottom: 5rem;
      transition: all .3s ease-in;
      &:hover {
        transform: scale(1.05);
      }
      @include respond(md-desktop) {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 2rem 5rem 5rem 5rem;
      }
      @include respond(tab-sm) {
        margin: 2rem 2rem 5rem 2rem;
      }
      @include respond(phone-md-sm) {
        margin: 2rem 0.5rem 5rem 0.5rem;
      }
    }
    &__customization {
      grid-column: 2/3;
      grid-row: 1/2;
      margin-right: auto;
      @include respond(md-desktop) {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 5rem;
      }
     @include respond(phone-lg) {
       margin: 0 3rem 0 3rem;
     }
     @include respond(phone-md-sm) {
       margin: 0 2rem 0 2rem;
     }
      &__item-container{
          display: grid;
          grid-template-columns: 0.35fr 1fr;
      }
      h1 {
        text-wrap: none;
        white-space: nowrap;
        font-size: 3rem;
        @include respond(big-desktop) {
            font-size: 5rem;
        }
      }
      label {
        font-size: 3rem;
        vertical-align: text-top;
        @include respond(md-desktop) {
            font-size: 2rem;
        }
      }
      &__item {
        margin-top: 0;
        vertical-align: center;
        margin-left: 2rem;
        width: 15rem;
        height: 3.5rem;
        padding: 0.75rem 2rem;
        background-color: var(--green);
        color: var(--color-white);
        border-color: white;
        border-width: 2px;
        border-radius: 10px;
        //pointer-events: ;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        &:active, &:focus{
          outline: none;
        }
        option {
          font-size: 1.3rem;
        }
      }
    }
  }

}


.summaryGraph {
  &__container {
    margin-left: 2rem;
    margin-top: 2rem;
    height: 40rem;
    width: auto;
    @include respond(tab-desktop) {
      height: 35rem;
    }
    @include respond(tab-port) {
      height: 30rem;
      margin-left: 0.5rem;
    }
  }
}

