
.login {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 0.10fr 1fr 0.10fr;
  grid-template-rows: 1fr;
   @include respond(big-desktop) {
     grid-template-columns: 0.25fr 1fr 0.25fr;
  }
  @include respond(md-desktop) {
     grid-template-columns: 0.05fr 1fr 0.05fr;
  }
  @include  respond(tab-md) {
   grid-template-columns: 1fr;
  }

  &__card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    grid-column: 2/3;
    background-color: var(--green-light);
    height: 65rem;
    width: 120rem;
    border-radius: 20px;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1fr;
    transition: all .3s ease-in;
    animation-name: fade-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    @include respond(md-desktop) {
       height: auto;
       width: 100rem;
    }
     @include respond(tab-land) {
        height: auto;
        width: 85rem;
     }
    @include  respond(tab-md) {
       grid-column: 1 / -1;
        height: auto;
        width: 75rem;
    }
    @include respond(tab-sm) {
       height: auto;
       width: 60rem;
     }

    @include respond(phone-lg) {
       height: auto;
       width: 50rem;
     }

    @include respond(phone-md-lg){
       width: 40rem;
       height: auto;
      margin-top: 5rem;
    }

    @include respond(phone-md) {
       height: 45rem;
       width: 35rem;
     }

    @include respond(phone-sm) {
       height: 55rem;
       width: 30rem;
     }
    @include respond(phone-ultra-sm) {
      height: 55rem;
      width: 25rem;
    }

    &__content {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include respond(phone-lg){
        grid-column: 1 / -1;
      }
      p {
        font-size: 1.5rem;
        animation-name: fade-bottom;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
      }
      small {
        font-size: 1.3rem;
        transition: all .3s ease-in;
        animation-name: fade-bottom;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        margin-bottom: 1.5rem;
        text-align: center;
        @include respond(phone-md-lg) {
          font-size: 1rem;
        }
        @include respond(phone-md) {
          font-size: 1.3rem;
        }
      }
    }
    &__image {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      grid-column: 1/2;
      background-image: url('../../../static/images/login_page_card_img.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation-name: fade-left;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      @include respond(phone-lg){
        display: none;
      }
    }
    &__main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      @include respond(phone-sm) {
        margin-top: 4rem;
      }
    }

    &__input {
      margin-top: 2rem;
      text-align: center;
      padding: 2rem 5rem;
      border-radius: 10px;
      font-size: 2.3rem;
      width: 50rem;
      outline: none;
      border: none;
      transition: all .3s ease-in;
      animation-name: fade-bottom;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      @include respond(tab-land) {
        margin-left: auto;
        margin-right: auto;
        width: 35rem;
        font-size: 1.8rem;
     }

      @include respond(phone-lg) {
        width: 25rem;
        padding: 1.5rem 3rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
     }
      @include respond(phone-md) {
        margin-top: 1rem;
        width: 30rem;
     }

      @include respond(phone-sm) {
        width: 25rem;
        font-size: 1.5rem;
        padding: 1.5rem 5rem;
     }
      @include respond(phone-ultra-sm) {
        width: 20rem;
      }
    }

     &__heading {
      margin-top: 5rem;
      font-size: 5rem;
      animation-name: fade-bottom;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      &__lower {
        font-weight: bold;
      }
      @include respond(phone-lg) {
         font-size: 4.5rem;
         margin-top: 3rem;
     }
     @include respond(phone-md) {
         font-size: 4rem;
         margin-top: 2rem;
     }
     @include respond(phone-sm) {
        font-size: 3.5rem;
     }
    }

     &__alert {
      font-size: 1.8rem;
      color: red;
     @include respond(phone-sm) {
        font-size: 1rem;
     }
    }

    &__button {
      background-color: var(--green);
      color: white;
      margin-top: 2rem;
      cursor: pointer;
      padding: 2rem 15rem;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 2rem;
      width: 50rem;
      transition: all .3s ease-in;
      font-weight: bold;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      &:hover {
        transform: scale(1.03);
      }
      @include respond(tab-land) {
        width: 35rem;
        padding: 2rem 5rem;

     }
      @include respond(phone-lg) {
          width: 25rem;
          padding: 1rem 3rem;
     }
      @include respond(phone-md) {
       width: 30rem;
       margin-top: 0.5rem;

     }
      @include respond(phone-sm) {
        width: 25rem;
        font-size: 1.5rem;
        padding: 1.5rem 1.5rem;
      }
      @include respond(phone-ultra-sm) {
        width: 20rem;
      }
    }

  }
}



.input-validity-info {
  text-align: center;
  @include respond(phone-lg) {
    font-size: 1.3rem!important;
  }

}

.login__card__links{
  @include respond(phone-sm) {
    &:first-of-type{
      margin-top: auto;
    }

  }
}

.login-video {
  object-fit: fill!important;
}


