
.login {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 1fr;
  @include respond(tab-port) {
     grid-template-columns: 0.1fr 1fr 0.1fr;
  }
  @include respond(phone-lg) {
     grid-template-columns: 1fr;
  }
  &__card {
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/3;
    background-color: var(--green-light);
    height: 65rem;
    width: 120rem;
    border-radius: 20px;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1fr;
    transition: all .3s ease-in;
    animation-name: fade-bottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
     @include respond(tab-land) {
       height: 50rem;
       width: 60rem;
     }

    @include respond(tab-sm) {
       height: 50rem;
       width: 50rem;
     }

    @include respond(phone-lg) {
      grid-column: 1/2;
       height: 45rem;
       width: 45rem;
     }

    @include respond(phone-md) {
       height: 45rem;
       width: 35rem;
     }

    @include respond(phone-sm) {
       height: 40rem;
       width: 25rem;
     }
    &__content {
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 1.5rem;
        animation-name: fade-bottom;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
      }
      small {
        font-size: 1.3rem;
        transition: all .3s ease-in;
        animation-name: fade-bottom;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
      }
    }
    &__image {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      grid-column: 1/2;
      background-image: url('../../../static/images/login_page_card_img.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation-name: fade-left;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
    }
    &__main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }

    &__input {
      margin-top: 2rem;
      text-align: center;
      padding: 2rem 5rem;
      border-radius: 10px;
      font-size: 2.3rem;
      width: 50rem;
      outline: none;
      border: none;
      transition: all .3s ease-in;
      animation-name: fade-bottom;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      @include respond(tab-land) {
        margin-left: auto;
        margin-right: auto;
        width: 40rem;
     }

      @include respond(phone-lg) {
        width: 35rem;
        margin-top: 1.5rem;
        font-size: 1.5rem;
     }
      @include respond(phone-md) {
        margin-top: 1rem;
        width: 30rem;
     }

      @include respond(phone-sm) {
        width: 20rem;
        font-size: 1rem;
     }
    }

     &__heading {
      margin-top: 5rem;
      font-size: 5rem;
      animation-name: fade-bottom;
      animation-duration: 1.5s;
      animation-timing-function: ease-out;
      &__lower {
        font-weight: bold;
      }
      @include respond(phone-lg) {
         font-size: 4.5rem;
         margin-top: 3rem;
     }
     @include respond(phone-md) {
         font-size: 4rem;
         margin-top: 2rem;
     }
     @include respond(phone-sm) {
        font-size: 3rem;
     }
    }

     &__alert {
      font-size: 1.5rem;
      color: red;
     @include respond(phone-sm) {
        font-size: 1rem;
     }
    }

    &__button {
      background-color: rgba(82, 224, 64, 0.77);
      color: white;
      margin-top: 4rem;
      cursor: pointer;
      padding: 2rem 15rem;
      border-radius: 10px;
      border: none;
      outline: none;
      font-size: 2rem;
      width: 50rem;
      transition: all .3s ease-in;
      font-weight: bold;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      &:hover {
        transform: scale(1.03);
      }
      @include respond(tab-land) {
        width: 40rem;
     }
      @include respond(phone-lg) {
          width: 35rem;
          padding: 2rem 5rem;
     }
      @include respond(phone-md) {
       width: 30rem;

     }
      @include respond(phone-sm) {
        width: 20rem;
         font-size: 1rem;
      }
    }

  }
}


