body {
  height: 100%;
}

.signup {
  margin-top: 5rem;
  height: auto;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  animation-name: fade-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  @include respond(tab-sm) {
   grid-template-columns: 0.1fr 1fr 0.1fr;
  }
  @include respond(phone-lg) {
   margin-top: 5rem;
   grid-template-columns: 1fr;
  }
  &__card {
    margin: 5rem 0;
    grid-column: 2/3;
    background-color: var(--green-light);
    color: var(--font-color-default);
    min-height: 65rem;
    height: auto;
    width: 90rem;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);

    @include respond(tab-desktop) {
      width: 60rem;
    }
    @include respond(tab-port) {
      width: 50rem;
      margin-left: auto;
      margin-right: auto;
      min-height: unset;
    }
     @include respond(tab-sm) {
       width: 50rem;
    }

     @include respond(phone-lg) {
       width: 40rem;

       grid-column: 1/2;
    }

    @include respond(phone-md) {
       width: 35rem;

    }

    @include respond(phone-sm) {
        width: 30rem;

    }
    @include respond(phone-ultra-sm) {
        width: 25rem;
    }


    &__links {
      text-decoration: none;
      font-size:2rem;
      color: var(--font-color-default);
      transition: all .3s ease-in;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      @include respond(phone-md-lg){
        font-size:1.4rem;
      }
      &:first-of-type{
        margin-top: 2rem;
      }
      margin-top: 1rem;
      &:last-of-type {
        margin-bottom: 3rem;
        @include respond(phone-md-lg) {
         margin-bottom: 1rem;
      }
      }
    }
    &__input {
      margin-top: 2rem;
      text-align: center;
      padding: 2rem 5rem;
      border-radius: 10px;
      border: 1px solid var(--green);
      font-size: 2rem;
      width: 42rem;
      animation-name: fade-left;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      color: var(--black-muted);
      &:focus{
        outline: none!important;
        border: 3px solid var(--green);
      }
       @include respond(tab-port) {
          width: 35rem;
      }

      @include respond(tab-port) {
          width: 25rem;
          font-size: 1.7rem;
      }

      @include respond(phone-md) {
          width: 20rem;
          font-size: 1.4rem;
         padding: 1rem 4rem;

      }

       @include respond(phone-sm) {
          width: 20rem;
          font-size: 1.2rem;
      }
      &__span {
        margin-top: 2rem;
        margin-left: 1rem;
        align-self: center;
        justify-self: center;
        font-size: 2rem;
      }
      &__container {
        display: flex;
      }
    }

    &__alert {
      font-size: 1.5rem;
      color: red;
      transition: all .3s ease-in;
      animation-name: fade-bottom;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
    }
    &__heading {

      margin-top: 3rem;
      font-size: 5rem;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      @include respond(tab-desktop) {
        font-size: 4rem;
      }
      &--4 {
        text-align: center;
        @include respond(tab-land) {
          font-size: 3rem;
        }
        @include respond(tab-port) {
         font-size: 2.5rem;
        }
        @include respond(phone-lg) {
          font-size: 2rem;
        }
      }

      @include respond(tab-land) {
        font-size: 4rem;
      }
      @include respond(tab-port) {
         font-size: 3rem;
      }
       @include respond(phone-lg) {
        font-size: 2.5rem;
      }
      @include respond(phone-md) {

       .signup__card__heading--3 {
          font-size: 2rem!important;
        }
        font-size: 2rem;
      }
    }

    &__button {
      &:first-of-type {
        margin-top: 3rem;
      }
      cursor: pointer;
      margin-top: 2rem;
      padding: 2rem 5rem;
      border-radius: 10px;
      background: var(--color-white);
      border: 1px solid var(--green);
      color: var(--black-muted);
      font-size: 2rem;
      width: 45rem;
      transition: all .3s ease-in;
      animation-name: fade-left;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      &:hover {
        transform: translateY(-5px);
      }
      @include respond(tab-land) {
         width: 40rem;
         padding: 2rem 10rem;
         font-size: 1.7rem;
      }
      @include respond(tab-port) {
         font-size: 1.6rem;
         width: 30rem;
         white-space: nowrap;
      }
      @include respond(phone-md) {
        width: 25rem;
        font-size: 1.2rem;
        padding: 2rem 5rem;
      }

       @include respond(phone-sm) {
         width: 25rem;
         font-size: 1.3rem;
         padding: 1.5rem 2rem;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
      select {
        transition: all .3s ease-in;
        animation-name: fade-left;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
    }
    &__buttons {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      width: 45rem;
      margin-top: 3rem;
      grid-column-gap: 3rem;
      transition: all .3s ease-in;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      @include respond(tab-land) {
        width: 40rem;
      }
      @include respond(tab-port) {
         width: 30rem;
      }

       @include respond(phone-sm) {
         width: 25rem;
         grid-column-gap: 1rem;
      }

      &__button {
        padding: 1.5rem 5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;

        @include respond(tab-port) {
         padding: 1.5rem 3rem;
        }
        @include respond(tab-sm) {
         font-size: 1.2rem;
        }
        @include respond(phone-sm) {
          padding: 1rem 1rem;
          font-size: 1rem;
      }
        &--back {
          grid-column: 1/2;
          color: var(--font-color-default);
          border: none;
          background-color: var(--red);
        }
        &--next {
          grid-column: 2/3;
          background-color: var(--green);
          color: var(--font-color-default);
          outline: none;
          border: none;
        }
      }

    }
  }
}

.progress-bar {
  width: 100%;
  background-color: var(--color-white);
  height: 25px;
  overflow: hidden;
  position: relative;
  display: block;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 0;
  &--active {
    height: 25px;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: left center;
    background-color: var(--green-third);
    transition: transform 0.4s linear 0s;
  }
}


.gender__container {

  margin-top: 2rem;
  display: flex;
  transition: all .3s ease-in;
  animation-name: fade-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  &__label {
    font-size: 2rem;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
}




.loader--signup {
  border: 4px solid #f3f3f3;
  border-top-color: #52e040;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  justify-self: center;
  align-self: center;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.gender-box {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  grid-column-gap: 1rem;
  &__card {
    background-color: white;
    color: var(--green);
    height: 4rem;
    justify-self: stretch;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all .3s ease-in;
    animation-name: fade-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    &:hover {
      transform: scale(1.03);
    }
  }
  &__item-active {
     background-color:var(--green);
     color: var(--font-color-default);

  }
}

.gender-animation-label {
  animation-name: fade-bottom;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

label.year{
  font-size: 2rem;
  margin-top:2rem;
}


.slider {
  margin-top: 1rem;
  width: auto;
  height: 1.5rem;
  padding: 2rem;
  background: #fcfcfc;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 15px 40px #7E6D5766;
  @include respond(phone-sm) {
     padding: 1rem;
     height: 2.5rem;
  }
}
.slider p {
  font-size: 2.6rem;
  padding-left: 3rem;
  color: var(--green);
  font-weight: bold;
  @include respond(phone-sm) {
    font-size: 2rem;
  }
}
.slider input[type="range"] {
  -webkit-appearance:none !important;
  width: 100%;
  height: .2rem;
  background: var(--green-light-secondary);
  border: none;
  outline: none;
  @include respond(phone-sm) {
    font-size: .15rem;
  }
}
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 2rem;
  height:2rem;
  background: var(--green-light-secondary);
  border: 3px solid var(--green-light-secondary);
  border-radius: 50%;
  cursor: pointer;
  @include respond(phone-sm) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--green-light-secondary);
}

.slider-bar {
  margin-top: 2rem;
  transition: all .3s ease-in;
  animation-name: fade-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  &:hover {
    transform: scale(1.04);
  }
  h3 {
    font-size: 2.3rem;
     @include respond(tab-land) {
        font-size: 4rem;
      }
      @include respond(tab-port) {
         font-size: 3rem;
      }
       @include respond(phone-lg) {
        font-size: 2.5rem;
      }
      @include respond(phone-md) {
        font-size: 2rem;
      }
  }
}