{% extends 'base.html' %}
{% load sass_tags %}
{% block scripts %}
     <script src="{% sass_src 'scripts/meals/add/main.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
      <div class="bg-video" id="add-meals-video-container">
         <video id="add-meals-video" class="bg-video__content" autoplay muted loop>
             <source src="{% sass_src 'video/add_meal_bg_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/add_meal_bg_video.webm' %}" type="video/webm">
             Your browser is not supported!
         </video>
     </div>

        <div class="add-meals-layout-container">
            {% include 'accounts/navbar.html' %}
             {% include 'accounts/navbar_small.html' %}
            <div class="add-meals grid-full-span">
                <div class="add-meals__search">
                    <div class="add-meals__search__bar"><input type="text" placeholder="Search"/><span><img class="add-meals__search__bar__icon" src="{% sass_src 'images/svg/search.svg' %}" alt="Search Icon" /></span></div>
                    <hr>
                    <div class="add-meals__search__results">
                        <h3>Your search results</h3>
                        <hr>
                        <div class="add-meals__search__results__container">
                            <div class="add-meals__search__results__container__item">
                                <p>Eggs x6 - 128 kcal</p>
                                <button>+</button>
                            </div>
                            <div class="add-meals__search__results__container__item">
                                <p>Milk 1200ml - 837 kcal</p>
                                <button>+</button>
                            </div>
                            <div class="add-meals__search__results__container__item">
                                  <p>Banana x3 - 203 kcal</p><button>+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-meals__added">
                    <div class="add-meals__added--added">
                        <div class="add-meals__added--added__heading">
                            <h2>Today's Meals</h2>
                        </div>
                    </div>
                    <div class="add-meals__added--added__content">
                        <div class="add-meals__added--added__content__item">
                             <p>Eggs x6</p>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="add-meals__added--saved">
                       <div class="add-meals__added--saved__heading">
                            <h2>Saved Meals</h2>
                        </div>
                    </div>
                     <div class="add-meals__added--saved__content">
                         <div class="add-meals__added--saved__content__item">
                             <p>Damian's Pizza - 1239 kcalaaaa</p>
                            <button>+</button>
                        </div>
                     </div>
                </div>
            </div>
        </div>


{% endblock %}