{% extends 'base.html' %}
{% load sass_tags %}
{% load i18n %}
{% block scripts %}
     <script src="{% sass_src 'scripts/meals/add/main.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
      <div class="bg-video-fixed" id="add-meals-video-container">
        <div class="overlay-large"></div>
         <video id="add-meals-video" class="bg-video-fixed__content" autoplay muted loop>
             <source src="{% sass_src 'video/meals_bg_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/meals_bg_video.webm' %}" type="video/webm">
             {% trans 'Your browser is not supported!' %}
         </video>
     </div>

        <div class="add-meals-layout-container">
            {% include 'accounts/navbar.html' %}
             {% include 'accounts/navbar_small.html' %}
            <div class="add-meals grid-full-span">
                <div class="add-meals__search">
                    <div class="add-meals__search__bar">
                        <input class="search-meal-add search-input" type="text" placeholder="{% trans 'Search' %}"/>
                         <span>
                            <img class="add-meals__search__bar__icon" src="{% sass_src 'images/svg/search.svg' %}" alt="Search Icon" />
                         </span>
                    </div>
                    <div class="add-meals__search__bar__is-verified">
                        <img src="{% sass_src 'images/svg/checked.svg' %}" id="verified" alt="Checked Icon" class="filter-white verified-icon"><p>{% trans 'Only verified' %}</p>
                    </div>
                    <div class="add-meals__search__results">
                        <div class="saved-meals__search__results__heading-box">
                            <h3>{% trans 'Your search results' %}</h3>
                        </div>
                        <div class="add-meals__search__results__container">
                            <p class="search-results-info" style="text-align: center">{% trans 'Try to search meal or ingredients that have you eaten today.' %}
                            <br>{% trans 'Results will appear here.' %}</p>
                        </div>
                    </div>
                    <button class="check-today-meals btn"><span>{% trans 'Check your meals' %}</span></button>
                </div>
                <div class="add-meals__added">
                    <div class="add-meals__added--added">
                        <div class="add-meals__added--added__heading">
                            <h2>{% trans "Today's Meals" %}</h2>
                        </div>
                    </div>
                    <div class="add-meals__added--added__content">
                      <div class="saved-results-info color-black">{% trans 'Your meal composition will appear here' %}</div>
                    </div>
                    <div class="add-meals__added--saved">
                       <div class="add-meals__added--saved__heading">
                            <h2>{% trans 'Saved Meals' %}</h2>
                        </div>
                    </div>
                     <div class="add-meals__added--saved__content">
                     {% if saved_templates %}
                         {% for item in saved_templates %}
                             <div data-objectId='{{ item.pk }}' class="add-meals__added--saved__content__item">
                                 <p><b>{{ item.meal_name }}</b>  {{ item.kcal|floatformat:"-3" }} kcal</p>
                                <div class="add-icon filter-green"></div>
                            </div>
                         {% endfor %}
                         {% else %}
                         <p class="no-saved-templates-info">{% trans 'No saved templates yet' %}</p>
                     {% endif %}
                     </div>
                    {% csrf_token %}
                    <button class="save-add-today-meals btn">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
 <div class="modal-queued not-visible">
     <div class="modal-queued__content">
         <div class="modal-queued__close-button">&times;</div>
         <h1>{% trans 'Adding your meal to our database...' %}</h1>
         <div class="loader--signup"></div>
     </div>
 </div>

 <div class="modal-queued modal-accept-delete not-visible">
     <div class="modal-queued__content">
         <div class="modal-queued__close-button modal-accept-delete-close">&times;</div>
         <h1>{% trans 'Are you sure you want to delete this meal?' %}</h1>
         <div class="modal-queued__content__buttons">
            <button class="accept-delete-today-meal btn-light">{% trans 'Yes' %}</button>
            <button class="deny-delete-today-meal btn-light">{% trans 'No' %}</button>
         </div>
     </div>
 </div>

<div class="modal-queued modal-queued__today-meals-list not-visible">
    <div class="modal-queued__content modal-queued__today-meals-list__content">
        <div class="modal-queued__close-button modal-queued__today-meals__close-button">&times;</div>
        <h1 class="modal-queued--heading">{% trans 'Your added meals for today.' %}</h1>
          {% if todayMeals %}
              <h3 class="meals-on-date">{% trans 'Meals on' %} {% now "l" %}</h3>
              <div class="modal-queued__daily-summary">
                  <div>Kcal: <span class="kcal"></span></div>
                  <div>{% trans 'Protein' %}: <span class="protein"></span></div>
                  <div>{% trans 'Carbs' %}: <span class="carbs"></span></div>
                  <div>{% trans 'Fat' %}: <span class="fat"></span></div>
              </div>
              <div class="add-meals__already__added">
                  {% for meal in todayMeals %}
                      <div class="add-meals__already__added--item">
                          <p><b>{% if '/pl/' in request.path %}{{ meal.ingredient.pl_name }}{% else %}{{ meal.ingredient.en_name }}{% endif %}</b> x {{ meal.quantity|floatformat:"-3" }} {% if '/pl/' in request.path %}{{ meal.ingredient.unit.pl_name }} {% else %} {{ meal.ingredient.unit.en_name }}{% endif %} ({{ meal.ingredient.kcal }} kcal / {{ meal.ingredient.serving_grams|floatformat:"-3" }} g)</p>
                          <div class="today-meals-added-remove-btn remove-icon filter-red meal-saved" data-mealObjId="{{ meal.id }}"></div>
                          <p class="add-meals__already__added--item__category">{% trans 'Category' %}: <span>{% if '/pl/' in request.path %}{{ meal.ingredient.category.pl_category_name }}{% else %}{{ meal.ingredient.category.en_category_name }}{% endif %}</span></p>
                          <div class="add-meals__already__added--item__details-box">
                              <p>{% trans 'Kcal' %}: <b>{{ meal.kcal|floatformat:"-2" }}</b></p>
                              <p>{% trans 'Protein' %}: <b>{{ meal.protein|floatformat:"-2" }}</b></p>
                              <p>{% trans 'Carbs' %}: <b>{{ meal.carbs|floatformat:"-2" }}</b></p>
                              <p>{% trans 'Fat' %}: <b>{{ meal.fat|floatformat:"-2" }}</b></p>
                          </div>
                      </div>
                  {% endfor %}
              </div>
          {% else %}
              <div class="saved-results-info">{% trans 'No meals added for today...' %}</div>
          {% endif %}
    </div>
</div>


{% endblock %}