{% extends 'base.html' %}
{% load sass_tags %}
{% block scripts %}
     <script src="{% sass_src 'scripts/meals/add/main.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
      <div class="bg-video" id="add-meals-video-container">
         <video id="add-meals-video" class="bg-video__content" autoplay muted loop>
             <source src="{% sass_src 'video/add_meal_bg_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/add_meal_bg_video.webm' %}" type="video/webm">
             Your browser is not supported!
         </video>
     </div>

        <div class="add-meals-layout-container">
            {% include 'accounts/navbar.html' %}
             {% include 'accounts/navbar_small.html' %}
            <div class="add-meals grid-full-span">
                <div class="add-meals__search">
                    <div class="add-meals__search__bar"><input class="search-meal-add" type="text" placeholder="Search"/><span><img class="add-meals__search__bar__icon" src="{% sass_src 'images/svg/search.svg' %}" alt="Search Icon" /></span></div>
                    <div class="add-meals__search__results">
                        <h3>Your search results</h3>
                        <hr>
                        <div class="add-meals__search__results__container">
                           `<h3 class="search-results-info">No search results.</h3>`
                        </div>
                    </div>
                </div>
                <div class="add-meals__added">
                    <div class="add-meals__added--added">
                        <div class="add-meals__added--added__heading">
                            <h2>Today's Meals</h2>
                        </div>
                    </div>
                    <div class="add-meals__added--added__content">
                    {% if todayMeals %}
                        <h3>Meals on {% now "l" %}</h3>
                         <div class="add-meals__already__added">
                             {% for meal in todayMeals %}
                            <div class="add-meals__already__added--item">
                              <p><b>{{ meal.ingredient.pl_name }}</b> x {{ meal.quantity|floatformat:"-3" }} {{ meal.ingredient.unit.pl_name }} ({{ meal.ingredient.kcal }} kcal / {{ meal.ingredient.serving_grams|floatformat:"-3" }} g)</p>
                              <div class="today-meals-added-remove-btn remove-icon filter-red"></div>
                              <p class="add-meals__already__added--item__category">Kategoria: <span>{{ meal.ingredient.category.pl_category_name }}</span></p>
                              <div class="add-meals__already__added--item__details-box">
                                <p>Kcal: {{ meal.kcal }}</p>
                                <p>Protein: {{ meal.protein }}</p>
                                <p>Carbs: {{ meal.carbs }}</p>
                                <p>Fat: {{ meal.fat }}</p>
                              </div>
                            </div>
                             {% endfor %}
                         </div>
                        {% else %}
                        <div class="saved-results-info">No meals added for today...</div>
                    {% endif %}

                    </div>
                    <div class="add-meals__added--saved">
                       <div class="add-meals__added--saved__heading">
                            <h2>Saved Meals</h2>
                        </div>
                    </div>
                     <div class="add-meals__added--saved__content">
                         <div class="add-meals__added--saved__content__item">
                             <p>Damian's Pizza - 1239 kcalaaaa</p>
                            <div class="add-icon filter-green"></div>
                        </div>
                     </div>
                    {% csrf_token %}
                    <button class="save-add-today-meals">Save</button>
                </div>
            </div>
        </div>


{% endblock %}