.recipe-search-layout-container {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.05fr 1fr 0.05fr;
  grid-template-rows: 0.70fr 3fr 0.15fr;
  align-items: center;
  justify-items: center;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  @media screen and (max-height: 600px),(orientation: landscape){
    overflow-y: auto;
  }
  @include respond(tab-desktop) {
    grid-template-columns: 0.05fr 1fr 0.05fr;
    grid-template-rows: 0.30fr 2.5fr 0.15fr;
    height: auto;
  }
  @include respond(phone-lg){
    grid-template-columns: 1fr;
  }
}

.recipe-search {
  display: grid;
  grid-template-columns: 0.75fr 3fr 0.75fr;
  grid-template-rows: 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5rem 2rem;
  transition: all .3s ease-in;
  animation-name: fade-left;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  @include respond(md-desktop){
    grid-template-columns: 0.35fr 3fr 0.35fr;
  }
  @include respond(tab-desktop){
    grid-template-columns: 0.15fr 3fr 0.15fr;
  }
  @include respond(tab-sm){
    grid-template-columns: 1fr;
    padding: 2.5rem 0;
  }
  @include respond(phone-lg){
    grid-column: 1/2;
  }
  &__search {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: rgb(189, 231, 197);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    @include respond(tab-sm){
       grid-row: 1/2;
       grid-column: 1/2;
    }
    &__bar {
      margin: 1rem auto;
      position: relative;
      input {
         border-radius: 5px;
         border: none;
         text-align: center;
         width: 100%;
         height: 4rem;
         font-size: 1.5rem;
         @include respond(tab-sm){
            width: 100%;
         }
        @include respond(phone-md-sm) {
           font-size: 1.25rem;
        }
      }
      &__icon {
        position: absolute;
        top: 20%;
        right: 2%;
        cursor: pointer;
      }
    }
    &__save-new {
      grid-column: 1/-1;
      margin-top: auto;
      justify-self: center;
      align-self: center;
      text-align: center;
      color: white;
      p {
        margin-top: 0.5rem;
        font-size: 2rem;
      }
      button {
        padding: 1rem 3rem;
        cursor: pointer;
        margin-bottom: 2rem;
      }
    }
    &__results {
      margin: 1rem 2.5rem 0 2.5rem;
      height: auto;
      min-height: 65%;
      border-radius: 5px;
      @include respond(phone-lg){
        margin: 1rem 0.5rem 0 0.5rem;
      }
      &__container::-webkit-scrollbar-track {
        -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #F5F5F5;
      }
       &__container::-webkit-scrollbar {
        width: 7px;
         background-color: #F5F5F5;
      }
      &__container::-webkit-scrollbar-thumb{
        border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #afe0a5;
      }
      &__container {
        overflow-y: auto;
        overflow-x: hidden;
        grid-column: 1 / -1;
        margin-top: 2rem;
        height: 35rem;
        font-size: 1.3rem;
        background-color: white;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        h3.recipe-info-message{
          margin: 15rem 0;
          text-align: center;
          font-size: 2rem;
          transition: all .3s ease-in;
          animation-name: fade-bottom;
          animation-duration: 2s;
          animation-timing-function: ease-out;
          color: var(--black-muted);
          @include respond(phone-md){
            font-size: 1.5rem;
          }
        }
        &__item {
          max-height: 25rem;
          display: grid;
          grid-template-columns: 1fr 0.3fr;
          grid-template-rows: 1fr 1fr;
          padding: 1rem 2rem;
          align-items: center;
          transition: all .3s ease-in;
          animation-name: fade-bottom;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          @include respond(tab-sm){
            padding: 0 1rem;
          }
          @include respond(phone-md){
             grid-template-columns: 1fr 0.15fr;
             padding: 0 0.25rem;
          }
          &--heading {
            grid-row: 1/2;
            grid-column: 1/2;
            font-size: 2rem;
            @include respond(tab-land){
              font-size: 1.5rem;
            }
            @include respond(phone-md-lg){
              font-size: 1.25rem;
            }
          }
          &--lower {
            grid-row: 2/3;
            grid-column: 1/2;
            p{
              font-size: 1.75rem;
              @include respond(tab-land){
                font-size: 1.25rem;
              }
              @include respond(phone-md-lg){
                font-size: 1rem;
              }
              span {
                margin-left: 0.5rem;
                @include respond(phone-md-lg){
                  margin-left: 0.15rem;
                }
              }
              span.pushed {
                margin-left: 1.5rem;
                @include respond(phone-md-lg){
                  margin-left: 0.5rem;
                }
              }
            }
          }
          button {
            grid-row: 1/3;
            grid-column: 2/3;
            padding: 1rem 3rem;
            text-transform: uppercase;
            justify-self: end;
            @include respond(tab-land){
              padding: 1rem 1rem;
              font-size: 1rem;
            }
            @include respond(phone-md-lg){
              font-size: 0.75rem;
              padding: 0.75rem 0.75rem;
            }
            @include respond(phone-sm){
              padding: 0.45rem 0.45rem;
              font-size: 0.65rem;
            }
          }
          &:not(:last-of-type) {
            border-bottom: 2px solid #f2f2f2;
          }
          &:hover {
            transform: scale(1.02);
          }
       }
      }
      h3 {
        margin: 0.5rem 2rem;
        font-size: 3.3rem;
      }
      &__heading-box {
        grid-column: 1/-1;
        background-color: rgb(189, 231, 197);
        color: white;
        text-align: center;
      }
    }
  }
}


.clock-icon-recipe-duration {
  width: 3.5rem;
  height: 3.5rem;
  vertical-align: middle;
  padding-top: 5px;
  @include respond(tab-land){
    width: 2.5rem;
    height: 2.5rem;
    padding-bottom: 5px;
  }
}


.modal-queued__recipe{
  &__heading {
    font-size: 4rem!important;
    margin-bottom: 0!important;
  }
  &__container {
    padding: 1.5rem 1.5rem;
    color: var(--black-muted);
    height: 55rem;
    background-color: var(--color-white);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
    font-size: 2rem;
    &__main-content {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 5rem;
      margin-left: 1rem;

      &__ingredients {
        margin-bottom: 2rem;
        max-height: 30rem;
        p:first-of-type {
          transition: all .3s ease-in;
          animation-name: fade-bottom;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          font-size: 2.5rem;
          text-transform: uppercase;
          font-weight: bold;
        }
        &__elements::-webkit-scrollbar-track {
          -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
          border-radius: 10px;
          background-color: #F5F5F5;
        }
        &__elements::-webkit-scrollbar {
            width: 7px;
            background-color: #F5F5F5;
        }
        &__elements::-webkit-scrollbar-thumb{
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: #afe0a5;
        }
        &__elements {
           max-height: 20rem;
           overflow-y: auto;
          p {
             font-size: 2rem!important;
             text-transform: unset!important;
             font-weight: unset!important;
          }
        }
      }
      &__steps {
        max-height: 30rem;
        margin-bottom: 2rem;
        p:first-of-type {
           font-size: 2.5rem;
           text-transform: uppercase;
           font-weight: bold;
           transition: all .3s ease-in;
           animation-name: fade-bottom;
           animation-duration: 1s;
           animation-timing-function: ease-out;
        }
        &__elements::-webkit-scrollbar-track {
          -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
          border-radius: 10px;
          background-color: #F5F5F5;
        }
        &__elements::-webkit-scrollbar {
              width: 7px;
              background-color: #F5F5F5;
          }
        &__elements::-webkit-scrollbar-thumb{
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #afe0a5;
        }
        &__elements {
          max-height: 20rem!important;
          overflow-y: auto!important;

          p {
             font-size: 2rem!important;
             text-transform: unset!important;
             font-weight: unset!important;
          }
        }
      }
    }
    &__requirements {
      margin-top: 0.5rem;
      transition: all .3s ease-in;
      animation-name: fade-left;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      p span{
        vertical-align: text-bottom;
        font-size: 1.85rem;
        margin-left: 1rem;
        margin-top: 5px!important;
        padding-top: 3px;
      }
    }
    h3{
      color: var(--black-muted);
      font-size: 3rem;
      transition: all .3s ease-in;
      animation-name: fade-left;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }
  &__content {
     height: 75rem;
     width: 120rem;
    @include respond(tab-md) {
      width: auto;
      margin: 0 auto;
      height: auto;
      max-height: 60rem;
    }
    @include respond(phone-lg) {
       width: 50rem;
       padding: 2rem!important;
    }
    @include respond(phone-md-lg){
      width: 40rem;
    }
    @include respond(phone-md-sm){
      width: 35rem;
      min-height: 45rem;
      max-height: unset;
    }
    @include respond(phone-sm) {
      padding: 0.5rem!important;
    }
  }
}

.recipe-difficulty-icon{
  height: 3rem;
  width: 3rem;
  vertical-align: text-top;
}

.recipe-duration-icon{
   height: 3rem;
   width: 3rem;
   padding-top: -0.35rem;
   vertical-align: text-bottom;
}

.recipe-people-icon{
   height: 3rem;
   width: 3rem;
   padding-top: 0.45rem;
   vertical-align: text-top;
}

.author-paragraph{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.recipe-step-element {
  transition: all .3s ease-in;
  animation-name: fade-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.recipe-ingredient-element {
    transition: all .3s ease-in;
    animation-name: fade-bottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
