.modal {
   position: absolute;
   top:0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 1000;
   background-color: rgba(112, 111, 111, 0.7);
   display: flex;
   transition: all .3s ease-in;
   animation-name: fade-bottom;
   animation-duration: 1s;
   animation-timing-function: ease-out;

  &__content {
       display: flex;
       flex-direction: column;
       border-radius: 20px;
       -webkit-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       -moz-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       padding: 2rem 2rem;
       transition: all .2s ease-in;
       justify-self: center;
       align-self: center;
       margin-right: auto;
       margin-left: auto;
       background-color: var(--green-modal);
     h1{
      margin-bottom: 1rem;
      animation-name: fade-left;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    &__buttons {
      display: flex;
      transition: all .3s ease-in;
      animation-name: fade-bottom;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }

  &__close-button {
    justify-self: end;
    align-self: end;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.modal-queued {
   position: fixed;
   top:0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 1000;
   background-color: rgba(112, 111, 111, 0.7);
   display: flex;
   animation-name: fade-bottom;
   animation-duration: 1s;
   animation-timing-function: ease-out;

  &__content {
       display: flex;
       flex-direction: column;
       border-radius: 20px;
       -webkit-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       -moz-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       padding: 5rem 5rem;
       transition: all .2s ease-in;
       justify-self: center;
       align-self: center;
       margin-right: auto;
       margin-left: auto;
       background-color: var(--green-modal);
       color: white;
       position: relative;

      h1{
        margin-bottom: 5rem;
        font-size: 3rem;
        animation-name: fade-left;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        @include respond(phone-md-lg){
          font-size: 2.5rem;
          margin-bottom: 2.5rem;
        }
         @include respond(phone-md){
          font-size: 2.25rem;
        }
         @include respond(phone-sm){
          font-size: 1.75rem;
           margin-top: 2rem;
           margin-bottom: 0.5rem;
        }
      }
  }

  &__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
}



.modal-edit-search{
   transition: all .2s ease-in;
   animation-name: fade-bottom;
   animation-duration: 1s;
   animation-timing-function: ease-out;
  -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
  &__heading {
    text-align: center;
  }
  &__content {
    height: 55rem;
    width: 80rem;
    &__search{
      margin: 0 1rem!important;
      &-bar{
        width: 100%!important;
        transition: all .2s ease-in;
        animation-name: fade-bottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
    }
    &__search-response {
      background-color: white;
      height: 25rem!important;
      color: black;
      margin-top: 3rem;
      border-radius: 10px;
    }
  }
}

.blink-background-green {
  background-color: #afe0a5!important;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.modal-add-search{
   transition: all .2s ease-in;
   animation-name: fade-bottom;
   animation-duration: 1s;
   animation-timing-function: ease-out;
   -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
   -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
   box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
  &__heading {
    text-align: center;
  }
  &__content {
    height: 55rem;
    width: 80rem;
    &__search{
      margin: 0 1rem!important;
      &-bar{
        width: 100%!important;
        transition: all .2s ease-in;
        animation-name: fade-bottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
    }
    &__search-response {
      background-color: white;
      color: black;
      height: 25rem!important;
      margin-top: 3rem;
      border-radius: 10px;
    }
  }
}

.modal-queued__today-meals-list{
  &__content {
     height: 55rem;
     width: 80rem;
    @include respond(tab-md) {
      width: auto;
      margin: 0 auto;
      height: auto;
      max-height: 60rem;
    }
    @include respond(phone-lg) {
       width: 50rem;
       padding: 2rem!important;
    }
    @include respond(phone-md-lg){
      width: 40rem;
    }
    @include respond(phone-md-sm){
      width: 35rem;
      min-height: 45rem;
      max-height: unset;
    }
    @include respond(phone-sm) {
      padding: 0.5rem!important;
    }
  }
}

.modal-signup {
   position: absolute;
   top:0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 1000;
   background-color: rgba(112, 111, 111, 0.7);
   display: flex;
   animation-name: fade-bottom;
   animation-duration: 1s;
   animation-timing-function: ease-out;
  &__content {
       display: flex;
       flex-direction: column;
       border-radius: 20px;
       -webkit-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       -moz-box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       box-shadow: 0px 0px 7px 4px rgba(66, 68, 90, 1);
       padding: 5rem 5rem;
       transition: all .2s ease-in;
       justify-self: center;
       align-self: center;
       margin-right: auto;
       margin-left: auto;
       background-color: var(--green-modal);
       position: relative;
       color: white;
     h1{
      margin-bottom: 3rem;
      animation-name: fade-left;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }

  &__close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.modal__today-workouts-list{
   position: fixed;
   top:0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 1000;
   background-color: rgba(112, 111, 111, 0.7);
   display: flex;
   animation-name: fade-bottom;
   animation-duration: 1s;
   animation-timing-function: ease-out;

  &__content {
       display: flex;
       flex-direction: column;
       border-radius: 20px;
       width: 70%;
       max-height: 65%;
       padding: 5rem 5rem;
       transition: all .2s ease-in;
       justify-self: center;
       align-self: center;
       margin-right: auto;
       margin-left: auto;
       background-color: var(--green-modal);
       color: white;
       position: relative;
       -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
       -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
       box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);

       &__elements {
         margin-top: 2rem;
         background-color: white;
         color: var(--black-muted);
         border-radius: 5px;
         -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
         -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
         box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
         padding: 2rem 2rem;
         height: auto;
         max-height: 65rem;
         overflow-y: auto;
         overflow-x: hidden;
         font-size: 2rem;
         &__item {
           margin-top: 2rem;
           display: grid;
           grid-template-columns: 1fr 0.2fr;
           grid-template-rows: 0.3fr 1fr;
           height: auto;
           &:not(&:last-of-type){
             border-bottom: 2px solid #f2f2f2;
           }
           &:first-of-type{
             margin-top: 0;
           }
           div.today-workouts-list__content-summary {
             grid-column: 1/2;
             grid-row: 1/2;
           }
           div.remove-icon {
             grid-column: 2/3;
             grid-row: 1/2;
             justify-self: end;
             margin-right: 3rem;
             transition: all .3s ease-in;
             &:hover {
               transform: scale(1.1)
             }
           }
           div.today-workouts-list__workout-elements {
           grid-column: 1/-1;
           grid-row: 2/3;
           border-bottom: 1px solid #f2f2f2;
         }
         }

       }
     &__elements::-webkit-scrollbar-track {
        -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #F5F5F5;
      }
       &__elements::-webkit-scrollbar {
        width: 7px;
         background-color: #F5F5F5;
      }
      &__elements::-webkit-scrollbar-thumb{
        border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #afe0a5;
      }
    h1{
      margin-bottom: 5rem;
      font-size: 3rem;
      animation-name: fade-left;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }
  }

  &__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
}

.today-workouts-list__content-summary{
  font-size: 2rem;
  height: auto;
  span {
    font-weight: bold;
  }
  .workout-counter {
    margin-bottom: 0;
    font-size: 3rem;
  }
}

.today-workouts-list__content__workout-elements__element{
  height: auto;
  &__title {
    p {
      display: inline-block;
    }
    div.remove-icon {
      display: inline-block;
      margin-left: 1rem;
    }
  }
  &:first-of-type{
    margin-top: 2rem;
  }
  margin-top: 1rem;
}


.accept-delete-today-workouts{
  padding: 1rem 2rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 1);
   &:hover {
     transform: scale(1.05);
   }
}
.deny-delete-today-workouts{
  text-transform: uppercase;
  margin-left: 1.5rem;
  background-color: var(--red);
  padding: 1rem 2rem;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 3px 0px rgba(66, 68, 90, 1);
   &:hover {
     transform: scale(1.05);
   }
}