.navbar {
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-top: 3.5rem;
    align-items: start;
    color: white;

    &__href {
        &:visited {
            color: white;
        }
    }

    &__item {
        //font-size: 4rem;
        //font-weight: 300;

        &--site-name {
            margin-left: 4rem;
            transition: all .3s ease-in;
            animation-name: fade-left;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            &:hover {
                transform: scale(1.04);
            }
        }
        &--first:first-of-type {
            margin-right: auto;
            font-size: 4rem;
            font-weight: 700;
            letter-spacing: 0.4rem;
             @include respond(phone-md) {
                font-size: 3.5rem;
            }

        }

        &--nutri-dot {
           color: gold;
        }
    }
}

.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: #fff;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 3.5rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(#fff, .1);
        text-align: center;
        cursor: pointer;
        @include respond(tab-land) {
            height: 6rem;
            width: 6rem;
            top: 3rem;
        }

        @include respond(phone-md) {
            right: 3rem;
            height: 5rem;
            width: 5rem;
        }
    }

    &__background {
        height: 5rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 4.5rem;
        right: 6.5rem;
        background-image: radial-gradient(rgb(195, 241, 195), rgb(134, 248, 122));
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

         @include respond(tab-land) {
             top: 3.5rem;
             right: 6rem;
        }

        @include respond(phone-md) {
           right: 3.1rem;
           width: 4.5rem;
           top: 3rem;
        }

    }
    // przejscie + nav bar (po clicku)

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.65, -0.53, 0.215, 1.45);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
        &__container{
            display: flex;
        }
    }

    &__link {
        transition: all .3s ease-in;
        &__icon {
            width: 3.5rem;
            height: 3.5rem;
            vertical-align: middle;
            //padding-top: 10px;
            @include respond(phone-sm){
                width: 3rem;
                height: 3rem;
            }
            &--flag{
                width: 3.5rem;
                height: 3.5rem;
                cursor: pointer;
                transition: all .3s ease-in;
                @include respond(phone-md){
                    width: 2.5rem;
                    height: 2.5rem;
                }
                &:first-of-type{
                    width: 3.75rem;
                    height: 4.5rem;
                    @include respond(phone-md){
                      width: 3rem;
                      height: 3.2rem;
                    }
                }
                &:nth-of-type(n+1){
                    margin-left: 1rem;
                }
                &:hover {
                    transform: scale(1.10);
                }
            }
        }
        &:link,
        &:visited {
            display: inline-block;
            font-size: 4rem;
            font-weight: bold;
            padding: 1rem 2rem;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
            width: 40rem;
            margin-left: 5rem;
            p {
                margin-left: 2rem;
            }
            @include respond(phone-md){
                width: 30rem;
                margin-left: 0;
                padding: 1rem 0;
                font-size: 3rem;
            }
            span {
                margin-right: 1.5rem;
                display: inline-block;
                position: absolute;
                top: 1rem;
                left: 0;
                @include respond(tab-port){
                    padding-top: -5px;
                }
            }

        }

        &:hover,
        &:active {
            background-position: 100%;
            color: #ffffff;
            transform: scale(1.08);
        }
    }


    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }


    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;


        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: #111010;
            display: inline-block;
            @include respond(phone-lg) {
                width: 2.5rem;
                height: 1.5px;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }

         @include respond(tab-land) {
          margin-top: 3rem;
        }

         @include respond(phone-md) {
          margin-top: 2.5rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}


