 .dashboard__sidebar--small {
    display: none;

    @include respond(tab-land) {
      margin-top: 3rem;
      display: grid;
      grid-column: 1/2;
      grid-row: 1/2;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
    }
   &__upper {
      @include respond(tab-land) {
        margin-left: 5rem;
        display: flex;
        align-items: center;
        grid-row: 1/2;
        grid-column: 1 / -1;
        font-size: 3rem;
      }
     img {
        @include respond(tab-land) {
          width: 6rem;
          height: 6rem;
          border-radius: 30px;
      }
     }
     p {
         @include respond(tab-land) {
         margin-left: 3rem;
      }
     }
   }
 }