{% extends 'base.html' %}
{% load sass_tags %}
{% load i18n %}
{% block scripts %}
     <script src="{% sass_src 'scripts/workouts/add/main.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
      <div class="bg-video-fixed" id="add-meals-video-container">
       <div class="overlay"></div>
         <video id="add-meals-video" class="bg-video-fixed__content" autoplay muted loop>
             <source src="{% sass_src 'video/add_meal_bg_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/add_meal_bg_video.webm' %}" type="video/webm">
             {% trans 'Your browser is not supported!' %}
         </video>
     </div>

        <div class="add-workouts-layout-container">
            {% include 'accounts/navbar.html' %}
             {% include 'accounts/navbar_small.html' %}
            <div class="add-workouts grid-full-span">
                <div class="add-workouts__search">
                    <div class="add-workouts__search__bar"><input class="search-workout-add search-input" type="text" placeholder="{% trans 'Search' %}"/><span><img class="add-workouts__search__bar__icon" src="{% sass_src 'images/svg/search.svg' %}" alt="Search Icon" /></span></div>
                    <div class="add-workouts__search__results">
                        <div class="saved-workouts__search__results__heading-box">
                            <h3>{% trans 'Your search results' %}</h3>
                        </div>
                        <div class="add-workouts__search__results__container">
                            <p class="search-results-info" style="text-align: center">{% trans 'Try to search activities that have you done today.' %}
                            <br>{% trans 'Results will appear here.' %}</p>
                        </div>
                    </div>
                    <button class="check-today-workouts btn"><span>{% trans 'Check your activities' %}</span></button>
                </div>
                <div class="add-workouts__added">
                    <div class="add-workouts__added--added">
                        <div class="add-workouts__added--added__heading">
                            <h2>{% trans "Activity Composition" %}</h2>
                        </div>
                    </div>
                    <div class="add-workouts__added--added__content">
                      <div class="saved-results-info color-black">{% trans 'Your activity will appear here' %}</div>
                    </div>
                    <div class="add-workouts__added--saved">
                       <div class="add-workouts__added--saved__heading">
                            <h2>{% trans 'Saved Activities' %}</h2>
                        </div>
                    </div>
                     <div class="add-workouts__added--saved__content">
                     {% if saved_templates %}
                         {% for item in saved_templates %}
                             <div data-objectId='{{ item.pk }}' class="add-workouts__added--saved__content__item">
                                 <p><b>{{ item.workout_name }}</b>  {{ item.kcal_burnt_sum|floatformat:"-3" }} kcal</p>
                                <div class="add-icon filter-green"></div>
                            </div>
                         {% endfor %}
                         {% else %}
                         <p class="no-saved-templates-info">{% trans 'No saved activities yet' %}</p>
                     {% endif %}
                     </div>
                    {% csrf_token %}
                    <button class="save-add-today-workouts btn">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
 <div class="modal-queued not-visible">
     <div class="modal-queued__content">
         <div class="modal-queued__close-button">&times;</div>
         <h1>{% trans 'Adding your activity to our database...' %}</h1>
         <div class="loader--signup"></div>
     </div>
 </div>

 <div class="modal-queued modal-accept-delete not-visible">
     <div class="modal-queued__content">
         <div class="modal-queued__close-button modal-accept-delete-close">&times;</div>
         <h1>{% trans 'Are you sure you want to delete this activity?' %}</h1>
         <div class="modal-queued__content__buttons">
            <button class="accept-delete-today-workouts btn">{% trans 'Yes' %}</button>
            <button class="deny-delete-today-workouts btn">{% trans 'No' %}</button>
         </div>
     </div>
 </div>


<div class="modal__today-workouts-list not-visible">
    <div class="modal__today-workouts-list__content">
        <div class="modal__today-workouts-list__close-button">&times;</div>
        <h1 class="modal__today-workouts-list--heading">{% trans 'Your added activities for today.' %}</h1>
          {% if todayWorkouts %}
              <h3 class="meals-on-date">{% trans 'Activities on' %} {% now "l" %}</h3>
               <div class="modal-queued__daily-summary">
                  <div>Kcal: <span class="kcal"></span></div>
                  <div>{% trans 'Duration' %}: <span class="duration"></span></div>
              </div>
              <div class="modal__today-workouts-list__content__elements">
                  {% for workout in todayWorkouts %}
                      <div class="modal__today-workouts-list__content__elements__item">
                          <div class="remove-icon filter-red remove-workout" data-workoutObjId="{{ workout.id }}"></div>
                          <div class="today-workouts-list__content-summary">
                              <h2 class="workout-counter">{% trans 'Activity #' %}{{ forloop.counter }}</h2>
                              <div>{% trans 'Summary Kcal' %}: <span>{{ workout.kcal_burnt_sum|floatformat:"-2" }}</span> kcal</div>
                              <div>{% trans 'Summary Duration' %}: <span>{{ workout.min_spent_sum| stringformat:'d'  }}</span> min</div>
                              <div>{% trans 'Created at' %}: <span>{{ workout.created_at }}</span></div>
                          </div>
                          <div class="today-workouts-list__content__workout-elements">
                              {% for element in workout.workout_elements.all %}
                                  <div class="today-workouts-list__content__workout-elements__element">
                                  <div class="today-workouts-list__content__workout-elements__element__title">
                                      <p class="bolded">{{ forloop.counter }}. {% if '/pl/' in request.path %}{{ element.exercise.pl_name }}{% elif '/en/' in request.path %}{{ element.exercise.en_name }}{% endif %}</p>
                                      <div class="remove-icon filter-red remove-workout-element" data-workoutElObjId="{{ element.id }}"></div>
                                  </div>
                                     <p>{% trans 'Burnt Kcal' %}: <b>{{ element.kcal_burnt |floatformat:"-2" }}</b> kcal</p>
                                     <p>{% trans 'Duration'%}: <b>{{ element.min_spent| stringformat:'d' }}</b> min</p>
                                  </div>
                              {% endfor %}
                          </div>
                      </div>
                  {% endfor %}
              </div>
          {% else %}
              <div class="saved-results-info">{% trans 'No activities added for today...' %}</div>
          {% endif %}
    </div>
</div>


{% endblock %}