.modal-recipe-ideas{
  &__content {
    height: 30rem;
    width: 60rem;
    h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.isVerified__label{
  margin-left: 0.5rem;
  display: inline-block;
}

.verified-icon{
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-bottom: -4px;
}

.recipe-search-options {
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  p {
    font-size: 1.75rem;
  }
  div {
    cursor: pointer;
    img {
      width: 2rem;
      height: 2rem;
      vertical-align: text-top;
      margin-right: 1rem;
    }
  }
}