.modal-recipe-ideas{
  &__content {
    height: 30rem;
    width: 60rem;
    @include respond(phone-md){
      height: auto;
      max-height: 45rem;
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
      @include respond(phone-md){
        font-size: 1.75rem;
      }
    }
  }
}

.isVerified__label{
  margin-left: 0.5rem;
  display: inline-block;
}

.verified-icon{
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-bottom: -4px;
}

.recipe-search-options {
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  p {
    font-size: 1.75rem;
  }
  div {
    cursor: pointer;
    img {
      width: 2rem;
      height: 2rem;
      vertical-align: text-top;
      margin-right: 1rem;
    }
  }
}

.recipe-ideas__item{
  @include respond(tab-md){
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    grid-template-rows: 1fr 1fr;
    &__heading {
      grid-column: 1/3;
      grid-row: 1/2;
      img.verified-icon{
        @include respond(phone-md-sm){
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
    &__lower{
      grid-column: 1/2;
      grid-row: 2/3;
    }
   .recipe-details-btn{
     grid-column: 2/3;
     grid-row: 2/3;
   }
  }
}

@include respond(tab-md){
  .recipe-ideas__container{
    min-height: 45rem;
  }
  .recipe-ideas__heading{
    font-size: 2.5rem!important;
  }
}
@include respond(phone-md-sm){
  .recipe-ideas__heading{
    font-size: 2rem!important;
  }
}

@include respond(phone-md) {
  .modal-add-search__content__search-bar::placeholder {
    font-size: 1rem;
  }
}