.saved-workouts-layout-container {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.05fr 1fr 0.05fr;
  grid-template-rows: 0.70fr 1fr 0.15fr;
  align-items: center;
  justify-items: center;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  @include respond(tab-desktop) {
    grid-template-columns: 0.05fr 1fr 0.05fr;
    grid-template-rows: 0.30fr 2.5fr 0.15fr;
    height: auto;
  }
}

.saved-workouts {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  grid-column-gap: 5rem;
  border-radius: 10px;
  padding: 5rem 2rem;


  &__search {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: rgb(189, 231, 197);
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    &__save-new {
      margin-top: 1rem;
      justify-self: center;
      align-self: center;
      text-align: center;
      color: white;
      p {
        font-size: 2rem;
      }
      button {
        padding: 1rem 3rem;
        cursor: pointer;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
    &__results {
      margin: 5rem 2.5rem 0 2.5rem;
      height: 40rem;
      border-radius: 5px;
      &__container::-webkit-scrollbar-track {
        -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #F5F5F5;
      }
       &__container::-webkit-scrollbar {
        width: 7px;
         background-color: #F5F5F5;
      }
      &__container::-webkit-scrollbar-thumb{
        border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #afe0a5;
      }
      &__container {
        overflow-y: auto;
        overflow-x: hidden;
        height: 30rem;
        font-size: 1.3rem;
        background-color: white;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        &__item {
          max-height: 10rem;
          display: grid;
          grid-template-columns: 0.8fr 0.4fr;
          grid-auto-rows: minmax(10rem, auto);
          align-items: center;
          transition: all .3s ease-in;
          &:not(:last-of-type) {
            border-bottom: 2px solid #f2f2f2;
          }
          &:hover {
            transform: scale(1.02);
          }
          &__recipe {
            p {
              font-size: 2rem;
              margin-left: 2rem;
               @include respond(tab-land) {
                font-size: 1.65rem;
              }
              @include respond(tab-md) {
                font-size: 2rem;
                margin-left: 1rem;
                margin-right: 0.25rem;
              }
              @include respond(phone-md-lg){
                font-size: 1.75rem;
              }
            }
            grid-column: 1/2;
          }
          &__buttons {
            grid-column: 2/3;
            display: flex;
            justify-content: space-evenly;
            button {
              border-radius: 5px;
              padding: 1rem 1.5rem;
              border: none;
              justify-self: stretch;
              grid-column: 2/3;
              font-size: 1.5rem;
              font-weight: bold;
              cursor: pointer;
              transition: all .3s ease-in;
              background-color: rgb(189, 231, 197);
              color: white;
              &:hover {
                transform: scale(1.05);
              }
            }
          }

       }
      }
      h3 {
        margin: 2rem 2rem;
        font-size: 3.3rem;
      }
      &__heading-box {
        background-color: rgb(189, 231, 197);
        color: white;
        text-align: center;
      }
    }
  }
// right side card
  &__added {
    background-color: rgb(189, 231, 197);
    border-radius: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 8px 2px rgba(66, 68, 90, 1);
    color: white;
    //transition: all .2s ease-in;
    //animation-name: fade-right;
    //animation-duration: 1s;
    //animation-timing-function: ease-out;
    &--saved {
      height: 100%;
      grid-row: 1/2;
      grid-column: 1/2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 1fr;
      &__heading {
        font-size: 2rem;
        text-align: center;
        margin: 2rem 0;
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-self: center;
        align-self: center;
      }
      &__content {
        margin: 0 2rem;
        color: black;
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        height: 90%;
        max-height: 40rem;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 18px -7px rgba(66, 68, 90, 1);
        &__save {
            margin-left: 2rem;
            padding: 0.75rem 3rem;
            transition: all .2s ease-in;
            justify-self: center;
            align-self: center;
            text-align: center;
            animation-name: fade-bottom;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            &:hover {
              transform: scale(1.05);
            }
          }
        &__search-response::-webkit-scrollbar-track {
          -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
	      border-radius: 10px;
	      background-color: #F5F5F5;
        }
        &__search-response::-webkit-scrollbar {
          width: 7px;
          background-color: #F5F5F5;
        }
        &__search-response::-webkit-scrollbar-thumb{
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: #afe0a5;
        }

        &__search-response {
          height: 15rem;
          padding: 2rem 2rem;
          font-size: 1.5rem;
          overflow-y: auto;
          overflow-x: hidden;
          transition: display .2s ease-in;
          animation-name: fade-bottom;
          animation-duration: 1s;
          animation-timing-function: ease-out;

          &__item {
            display: grid;
            margin-top: 0.5rem;
            grid-template-rows: 1fr;
            grid-template-columns: 0.8fr 0.2fr;
            transition: all .3s ease-out;
            animation-name: fade-bottom;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            &:hover {
              transform: scale(1.02);
            }
            &:not(:last-of-type) {
              border-bottom: 1px solid #f2f2f2;
            }
            p {
              grid-column: 1/2;
            }
            div {
              justify-self: flex-end;
              align-self: flex-end;
            }
          }
        }
        &__workout {
          height: 90%;
          font-size: 1.5rem;
          transition: all .3s ease-out;
          animation-name: fade-bottom;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          h2 {
            margin-left: 2rem;
            margin-top: 2rem;
          }
          &__items::-webkit-scrollbar-track {
            -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
	        border-radius: 10px;
	        background-color: #F5F5F5;
          }
          &__items::-webkit-scrollbar {
            width: 7px;
            background-color: #F5F5F5;
          }
          &__items::-webkit-scrollbar-thumb{
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #afe0a5;
          }
          &__items {
            height: 80%;
            overflow-y: auto;
            overflow-x: hidden;
          }
           &__item {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 0.8fr 0.2fr;
            margin: 1rem 2rem;
            transition: all .3s ease-out;
            animation-name: fade-bottom;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            &:first-of-type{
              margin-top: 0;
            }
            &:hover {
              transform: scale(1.02);
            }
            &:not(:last-of-type) {
              border-bottom: 1px solid #f2f2f2;
            }
            p {
              grid-column: 1/2;
            }
            div.remove-icon {
              justify-self: flex-end;
              align-self: flex-end;
            }
          }
          &__items::-webkit-scrollbar-track {
            -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
          }
          &__search-response::-webkit-scrollbar {
            width: 7px;
            background-color: #F5F5F5;
          }
          &__search-response::-webkit-scrollbar-thumb{
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #afe0a5;
          }
          h2 {
            font-size: 2rem;
          }
        }

        &__search-bar{
          margin: 2rem auto;
          position: relative;
          input {
           border-radius: 5px;
           border: 1px solid black;
           text-align: center;
           width: 25rem;
           height: 4rem;
           font-size: 1.5rem;
           @include respond(tab-sm){
              width: 100%;
           }
          }
          &__icon {
            position: absolute;
            top: 20%;
            right: 2%;
          }
        }

        &__item {
          margin-top: 0.5rem;
          border-bottom: 1px solid #f2f2f2;
          transition: all .3s ease-in;
          p {
            grid-column: 1/2;
            font-size: 2.5rem;
            margin-right: 2.5rem;
          }
        }
      }
       &__content::-webkit-scrollbar-track {
        -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #F5F5F5;
      }
      &__content::-webkit-scrollbar {
          width: 7px;
          background-color: #F5F5F5;
      }
       &__content::-webkit-scrollbar-thumb{
        border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #afe0a5;
      }
    }
  }
}

.saved-new-workouts-buttons-container{
  display: flex;
  flex-direction: row;
  margin: auto 2rem 1rem 2rem;
}

.workout_name_input {
  height: 3rem;
  width: 25rem;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-size: 1.4rem;
  transition: all .3s ease-out;
  animation-name: fade-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}



.color-error {
    background-color: rgba(243, 152, 152, 0.82)!important;
    color: white;
}

.search-category-small--saved {

  &__text {
    color:green;
    font-size: 1.8rem;
    margin-left: 0.5rem;
  }
}


.today-workouts-saved-edit-inputBox{
  display: flex;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 2rem;
  transition: all .2s ease-in;
  animation-name: fade-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  &:first-of-type{
    margin-top: 2rem;
  }

  &:hover {
    transform: scale(1.03);
  }
  input {
    width: 8rem;
    height: 2rem;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-left: 0.5rem;
    background-color: rgba(200, 243, 195, 0.69);
  }
  label {
    margin-left: 1rem;
  }
  div.edit-remove-item {
    margin-left: auto;
    margin-right: 5rem;
    transition: all .2s ease-in;
    &:hover{
      transform: scale(1.03);
    }
  }
}



.today-workouts-saved-inputBox{
  display: flex;
  font-size: 1.5rem;
   transition: all .2s ease-in;
  animation-name: fade-bottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  @include respond(phone-lg) {
    grid-template-columns: 1fr 0.2fr 0.15fr 0.05fr;
  }
  &:hover {
    transform: scale(1.03);
  }
  input {
    width: 8rem;
    height: 2rem;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: rgba(200, 243, 195, 0.69);
    @include respond(phone-lg) {
      width: 6rem;
      height: 2rem;
      font-size: 1rem;
    }
  }
  label {
    margin-left: 1rem;
  }
   div.edit-remove-item {
    grid-column: 4/5;
    grid-row: 1/2;
    margin-left: auto;
    margin-right: 1rem;
    transition: all .2s ease-in;
    @include respond(tab-md) {
      margin-right: 2rem;
      transform: translateY(-3px);
    }
    @include respond(phone-md-sm){
      margin-right: 1rem;
    }
    &:hover{
      transform: scale(1.03);
    }
  }
}

.saved-template-edit{
  &__heading {
    margin: 1rem 2rem 0 2rem;
    b{
      font-size: 3rem;
      letter-spacing: 1.2px;
    }
  }
  &__add-new {
    padding: 2rem 2rem;
    div.new-workout-add-item {
       &:hover {
        transform: scale(1.02);
      }
    }
    &__trigger-search{
      margin: 1rem 1rem 1rem 1rem;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all .2s ease-in;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

.add-new-element-box{
  display: flex;
  align-items: center;
  margin: 0 2rem;
  div {
    margin-bottom: 1rem;

  }
}

.add-new-element-template-search-bar {
  margin: 0 auto 0 2rem;
  position: relative;
  transition: all .3s ease-in;
  animation-name: fade-top;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  @include respond(tab-sm){
    width: 85%;
  }
  input {
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    width: 25rem;
    height: 4rem;
    font-size: 1.5rem;
    @include respond(tab-sm){
      width: 100%;
    }
  }
  &__icon {
    position: absolute;
    top: 20%;
    right: 2%;
  }
}


.edit-workout-added-items{
  height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
}


.edit-workout-added-items::-webkit-scrollbar-track {
  -webkit-box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.edit-workout-added-items::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.edit-workout-added-items::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #afe0a5;
}

.delete-saved-workouts{
  background-color: var(--red-light)!important;
}

.expanded {
  @include respond(md-desktop){
    grid-template-columns: 0.02fr 1fr 0.02fr!important;
  }
  @include respond(phone-md){
    grid-template-columns: 1fr!important;
  }
  div.saved-workouts {
    @include respond(md-desktop) {
      grid-template-columns: 1fr 1.15fr;
    }
    @include respond(tab-md) {
      grid-column-gap: 2.5rem;
    }
    @include respond(tab-md){
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 4.5rem;
      grid-template-columns: 1fr;
    }
    @include respond(phone-md){
      grid-column: 1/2!important;
    }
    @include respond(phone-md-sm) {
      padding: 0!important;
    }
    div.saved-workouts__added {
      @include respond(tab-md) {
        grid-row: 2/3;
        grid-column: 1/2;
      }
      @include respond(phone-md) {
        margin: 0 auto;
        width: 95% !important;
      }
      @include respond(phone-md-sm) {
        margin: 0 auto;
        width: 100% !important;
      }
      div.saved-workouts__added--saved__heading{
        @include respond(phone-md-lg){
          font-size: 1.6rem;
        }
      }
      div.saved-workouts__added--saved__content{
        @include respond(phone-md) {
          width: 90%!important;
          overflow-y: hidden;
        }
        @include respond(phone-ultra-sm) {
          margin: 0 auto;
          width: 85%!important;
        }
        div.saved-workouts__added--saved__content__meal__items{
          div.saved-workouts__added--saved__content__meal__item{
            @include respond(phone-md-lg){
              font-size: 1.25rem;
            }
            div.today-workouts-saved-inputBox{
              input {
                @include respond(phone-md-lg){
                  width: 6rem;
                  height: 1.5rem;
                  font-size: 1rem;
                  margin-top: 0.4rem;
                }
              }
              @include respond(phone-md-lg){
                label {
                  font-size: 1.25rem;
                }
              }
            }
          }
        }
        div.saved-workouts__added--saved__content__item{
          @include respond(phone-md) {
            margin: 1rem 1rem 0 1rem;
          }
        }
        div.edit-workout-added-items {
          div.today-workouts-saved-edit-inputBox {
            font-size: 1.5rem;
            margin-left: 1rem;
            display: grid;
            grid-template-rows: 1fr 0.5fr;
            grid-template-columns: 0.25fr 1fr 0.5fr;
            p {
                grid-row: 1/2;
                grid-column: 1/3;
            }
            div.remove-icon {
                grid-row: 1/2;
                grid-column: 3/4;
               @include respond(tab-land){
                 margin-right: 2rem;
               }
              }
             input {
                grid-row: 2/3;
                grid-column: 1/2;
              }
            label {
                grid-row: 2/3;
                grid-column: 2/3;
              }
            @include respond(phone-md-lg) {
              font-size: 1.2rem;
              p {
                grid-row: 1/2;
                grid-column: 1/3;
              }
              div.remove-icon {
                grid-row: 1/2;
                grid-column: 3/4;
              }
              input {
                height: 1.5rem;
                width: 4rem;
                margin-top: 3px;
              }
            }
          }
          @include respond(phone-md) {
            height: 25rem;
          }
        }
        div.add-new-element-box {
           @include respond(tab-port){
              margin: 0 1rem!important;
           }
          @include respond(phone-md) {
            margin: 0 0.5rem !important;
            div.add-icon {
              margin-top: 3px;
              transform: scale(0.85);
            }
            a {
              font-size: 1.25rem;
              margin: 1rem 1rem 1rem 0.5rem;
            }
          }
        }
        div.saved-workouts__added--saved__content__item{
          p{
            @include respond(phone-lg) {
                font-size: 2rem;
              }
            b {
              @include respond(phone-lg) {
                font-size: 2rem;
              }
            }
          }
        }
      }
      div.saved-new-workouts-buttons-container{
        input {
          @include respond(phone-md) {
            width: 15rem;
            font-size: 1.2rem;
          }
        }
      }
    }

    div.saved-workouts__search {
      @include respond(tab-desktop){
        width: 100%;
      }
      @include respond(tab-md) {
        grid-row: 1/2;
        grid-column: 1/2;
      }
      @include respond(phone-md) {
        width: 95% !important;
      }
       @include respond(phone-md-sm) {
        margin: 0 auto;
        width: 100% !important;
      }
      div.saved-workouts__search__results{
        div.saved-workouts__search__results__heading-box{
          h3{
            font-size: 2.5rem!important;
          }
        }
      }
      div.saved-workouts__search__save-new {
         @include respond(tab-desktop){
          margin-top: auto;
        }
        @include respond(phone-md) {
          p {
            font-size: 1.5rem;
          }
        }
      }
      div.saved-workouts__search__results__container {
        div.saved-workouts__search__results__container__item {
          grid-template-columns: 1fr 0.5fr;
          div.saved-workouts__search__results__container__item__recipe p{
            @include respond(tab-md){
              margin-left: 2rem!important;
            }
          }
          div.saved-workouts__search__results__container__item__buttons {
            justify-content: unset;
            margin-left: auto;
            margin-right: 1rem;
            @include respond(tab-desktop) {
              display: flex;
              flex-direction: column;
            }
            @include respond(tab-md){
              margin-right: 3rem;
            }
            @include respond(phone-lg){
              margin-right: 2rem;
            }
            @include respond(phone-md-lg){
                margin-right: 1.25rem;
            }
            .edit-saved-workouts {
              margin-right: 1rem;
              @include respond(big-desktop) {
                padding: 1rem 0.75rem;
                font-size: 1.1rem;
              }
              @include respond(tab-desktop){
                padding: 0.75rem 0.25rem;
                font-size: 1rem;
                width: 7rem;
                margin-right: 0;
              }
              @include respond(phone-lg){
                width: 6rem;
              }
              @include respond(phone-md-lg){
                padding: 0.5rem 1rem;
                font-size: 1.2rem;
              }
                @include respond(phone-md-sm){
                padding: 0.5rem 0.6rem;
                font-size: 0.85rem;
              }
            }

            .delete-saved-workouts {
              @include respond(big-desktop) {
                padding: 1rem 1rem;
                font-size: 1.1rem;
              }
              @include respond(tab-desktop){
                padding: 0.75rem 0.45rem;
                font-size: 1.2rem;
              }
              @include respond(tab-desktop){
                padding: 0.75rem 0.45rem;
                font-size: 1rem;
                margin-top: 0.5rem;
                width: 7rem;
              }
             @include respond(phone-lg){
                width: 6rem;
              }
              @include respond(phone-md-lg){
                padding: 0.5rem 1rem;
                font-size: 1.2rem;
              }
              @include respond(phone-md-sm){
                padding: 0.5rem 0.6rem;
                font-size: 0.85rem;
              }
            }
          }

        }
      }
    }
  }
}


.not-expanded {
  div.saved-workouts {
    @include respond(phone-md){
      padding: 5rem 0;
    }
    div.saved-workouts__search {
      div.saved-workouts__search__results{
        @include respond(phone-md){
          margin: 5rem 1rem 0 1rem;
        }
      }
      div.saved-workouts__search__save-new{

        @include respond(tab-desktop){
          margin-top: auto;
        }
        p {
          @include respond(phone-md){
            font-size: 1.5rem;
          }
        }
      }
      div.saved-workouts__search__results__container {
        div.saved-workouts__search__results__container__item {
          div.saved-workouts__search__results__container__item__recipe{
            p{
              @include respond(phone-lg){
                font-size: 1.5rem;
              }
            }
          }
          div.saved-workouts__search__results__container__item__buttons {
            justify-content: unset;
            margin-left: auto;
            margin-right: 1rem;
            @include respond(tab-port){
               display: flex;
               flex-direction: column;
               margin-right: 0.5rem;
            }
            .edit-saved-workouts {
              margin-right: 1rem;
              @include respond(tab-desktop) {
                padding: 1rem 1rem;
                font-size: 1.1rem;
              }
              @include respond(tab-port) {
                padding: 0.8rem 0.8rem;
                font-size: 1.4rem;
                margin-right: 0;
                width: 9rem;
              }
              @include respond(phone-lg){
                font-size: 1rem;
                width: 6.5rem;
              }
            }

            .delete-saved-workouts {
              @include respond(tab-desktop) {
                padding: 1rem 1rem;
                font-size: 1.1rem;
              }
               @include respond(tab-port) {
                margin-top: 1rem;
                padding: 0.8rem 0.8rem;
                font-size: 1.4rem;
                margin-right: 0;
                width: 9rem;
              }
               @include respond(phone-lg){
                padding: 0.8rem 0.6rem;
                font-size: 1rem;
                width: 6.5rem;
              }
            }
          }

        }
      }
    }
  }
}