<!doctype html>
{% load sass_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
    <link rel="icon" href="{% sass_src 'images/favicon.ico' %}">
    <link href="{% sass_src 'scss/base.scss' %}" rel="stylesheet" type="text/css" />
    {% block styles %}{% endblock styles %}

    <title>Nutri {% block title %} {% endblock title%}</title>

</head>
<body>
{% block content %}{% endblock content%}

</body>
    {% block scripts %} {% endblock scripts %}
    <script src="{% sass_src 'scripts/spinner.js' %}" defer></script>
    <script src="{% sass_src 'scripts/animations.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</html>