:root{
  --green-light: rgb(189, 231, 197);
  --green-light-secondary: rgb(147, 238, 163);
  --green: rgba(8, 245, 53, 0.5);
  --green-secondary: rgba(82, 224, 64, 0.77);
  --green-third: rgb(23, 248, 0);
  --green-darker: rgba(0,128,0, 1);
  --green-modal: #afe0a5;
  --red: rgba(231, 33, 33, 0.69);
  --red-light: rgba(241, 2, 2, 0.49);
  --black-muted: rgba(1, 1, 1, 0.75);
  --color-white: rgba(255, 255, 255, 1);
  --font-color-default:  rgba(255, 255, 255, 1);

// FONT
--default-font-size: 1.6rem;
}