@import url(_typography.css);
.not-visible {
  display: none; }

.visible {
  display: inline; }

.reveal {
  position: relative;
  opacity: 0; }

.reveal.active {
  opacity: 1; }

.active.fade-bottom {
  animation: fade-bottom 1s ease-in; }

.active.fade-left {
  animation: fade-left 1s ease-in; }

.active.fade-right {
  animation: fade-right 1s ease-in; }

.filter-gold {
  filter: invert(78%) sepia(67%) saturate(657%) hue-rotate(356deg) brightness(98%) contrast(107%); }

.margin-top-md {
  margin-top: 5rem; }

.margin-bottom-md {
  margin-bottom: 5rem; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
10px = 0.625 em !!!
*/
.progress--0 {
  transform: translateX(-88.8889%); }

.progress--1 {
  transform: translateX(-73.8889%); }

.progress--2 {
  transform: translateX(-54.8889%); }

.progress--3 {
  transform: translateX(-41.8889%); }

.progress--4 {
  transform: translateX(-18.8889%); }

.progress--5 {
  transform: translateX(0%); }

.grid-full-span {
  grid-column: 1/-1; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense; }

:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-white: #fff;
  --color-black: #000;
  --default-font-size: 1.6rem; }

.loader {
  position: fixed;
  padding-top: 20%;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility .75s; }
  .loader--hidden {
    opacity: 0;
    visibility: hidden; }
  .loader::after {
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #e7af18;
    border-radius: 50%;
    animation: loading 0.75s ease infinite; }

@keyframes loading {
  0% {
    transform: rotate(0turn); }
  100% {
    transform: rotate(1turn); } }

.navbar {
  display: flex;
  justify-content: end;
  flex-direction: row;
  margin-top: 3.5rem;
  align-items: start;
  color: white; }
  .navbar__href:visited {
    color: white; }
  .navbar__item--site-name {
    margin-left: 4rem; }
  .navbar__item--first:first-of-type {
    margin-right: auto;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.4rem; }
    @media only screen and (max-width: 28.5em) {
      .navbar__item--first:first-of-type {
        font-size: 3.5rem; } }
  .navbar__item--nutri-dot {
    color: gold; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3.5rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.1);
  text-align: center;
  cursor: pointer;
  border: 1px solid black; }
  @media only screen and (max-width: 75em) {
    .navigation__button {
      height: 6rem;
      width: 6rem;
      top: 3rem; } }
  @media only screen and (max-width: 28.5em) {
    .navigation__button {
      right: 3rem;
      height: 5rem;
      width: 5rem; } }
.navigation__background {
  height: 5rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#2e2e2f, #1a1a1a);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 75em) {
    .navigation__background {
      top: 3.5rem;
      right: 6.1rem; } }
  @media only screen and (max-width: 28.5em) {
    .navigation__background {
      right: 3.1rem;
      width: 4.5rem;
      top: 3rem; } }
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.65, -0.53, 0.215, 1.45); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }
  .navigation__item__container {
    display: flex; }

.navigation__link__icon {
  width: 2.5rem;
  height: 2.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ffffff;
  transform: scale(1.08); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #111010;
    display: inline-block; }
    @media only screen and (max-width: 37.5em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 2.5rem;
        height: 1.5px; } }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }
  @media only screen and (max-width: 75em) {
    .navigation__icon {
      margin-top: 3rem; } }
  @media only screen and (max-width: 28.5em) {
    .navigation__icon {
      margin-top: 2.5rem; } }
.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center; }
  .header__flex-container {
    display: flex;
    flex-direction: column; }
  .header__nutri-dot {
    color: gold; }
    .header__nutri-dot--sm {
      font-size: 3rem; }
    .header__nutri-dot--lg {
      font-size: 6rem; }
  .header__quote {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    .header__quote--upper {
      font-size: 5.3rem; }
      @media only screen and (max-width: 93.75em) {
        .header__quote--upper {
          font-size: 4rem; } }
      @media only screen and (max-width: 62.5em) {
        .header__quote--upper {
          font-size: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__quote--upper {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 28.5em) {
        .header__quote--upper {
          font-size: 2rem; } }
    .header__quote--lower {
      text-align: center;
      font-size: 2rem; }
      @media only screen and (max-width: 62.5em) {
        .header__quote--lower {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 46.875em) {
        .header__quote--lower {
          font-size: 1.4rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__quote--lower {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 28.5em) {
        .header__quote--lower {
          font-size: 1.1rem; } }
.background-photo-container--header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(47, 49, 49, 0) 0%, #171616 100%), url("../../../../static/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.about {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
  grid-template-rows: 1fr;
  height: 55rem;
  margin-top: 15rem;
  column-gap: 10rem; }
  @media only screen and (max-width: 93.75em) {
    .about {
      grid-template-columns: 0.15fr 1fr 1fr 0.15fr;
      grid-template-rows: 1fr;
      column-gap: 5rem; } }
  @media only screen and (max-width: 75em) {
    .about {
      grid-template-columns: 0.05fr 1fr 1fr 0.05fr;
      grid-template-rows: 1fr; } }
  @media only screen and (max-width: 62.5em) {
    .about {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  @media only screen and (max-width: 46.875em) {
    .about {
      margin-top: 5rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      margin-left: 5rem;
      margin-right: 5rem; } }
  @media only screen and (max-width: 28.5em) {
    .about {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      height: 35rem; } }
  @media only screen and (max-width: 21.875em) {
    .about {
      height: 45rem; } }
  .about__paragraph {
    font-size: 3rem;
    line-height: 5.5rem;
    white-space: pre-line; }
    @media only screen and (max-width: 93.75em) {
      .about__paragraph {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 75em) {
      .about__paragraph {
        font-size: 1.8rem;
        line-height: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__paragraph {
        font-size: 1.6rem;
        line-height: 3.5rem; } }
    @media only screen and (max-width: 28.5em) {
      .about__paragraph {
        font-size: 1.5rem;
        line-height: 2.5rem; } }
    @media only screen and (max-width: 21.875em) {
      .about__paragraph {
        font-size: 1.4rem;
        line-height: 2.2rem; } }
    .about__paragraph--1 {
      grid-column: 2/3; }
      @media only screen and (max-width: 46.875em) {
        .about__paragraph--1 {
          display: none; } }
      .about__paragraph--1--sm {
        display: none; }
        @media only screen and (max-width: 46.875em) {
          .about__paragraph--1--sm {
            grid-column: 1/2;
            display: inline;
            grid-row: 1/2; } }
      @media only screen and (max-width: 62.5em) {
        .about__paragraph--1 {
          grid-column: 1/2;
          margin-left: 2rem; } }
    .about__paragraph--2 {
      grid-column: 3/4; }
      @media only screen and (max-width: 46.875em) {
        .about__paragraph--2 {
          display: none; } }
      .about__paragraph--2--sm {
        display: none; }
        @media only screen and (max-width: 46.875em) {
          .about__paragraph--2--sm {
            display: inline;
            grid-column: 1/2;
            grid-row: 2/3; } }
      @media only screen and (max-width: 62.5em) {
        .about__paragraph--2 {
          grid-column: 2/3;
          margin-right: 2rem; } }
    .about__paragraph--tabulator {
      padding-left: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .about__paragraph--tabulator {
          padding-left: 3rem; } }
.why-nutri {
  display: grid;
  margin-top: 10rem;
  grid-template-rows: 0.15fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 75rem; }
  @media only screen and (max-width: 75em) {
    .why-nutri {
      height: auto; } }
  @media only screen and (max-width: 37.5em) {
    .why-nutri {
      grid-template-rows: 0.1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      height: auto; } }
  .why-nutri__card {
    margin-top: 10rem;
    width: 45rem;
    height: 65rem;
    border-radius: 20px;
    justify-content: center;
    justify-items: center;
    transition: all 1s ease;
    justify-self: center;
    font-size: 3.5rem;
    text-align: center; }
    @media only screen and (max-width: 93.75em) {
      .why-nutri__card {
        font-size: 3rem;
        width: 35rem;
        height: 55rem;
        margin-top: 0; } }
    @media only screen and (max-width: 75em) {
      .why-nutri__card {
        font-size: 2rem;
        width: 25rem;
        height: 45rem; } }
    @media only screen and (max-width: 56.25em) {
      .why-nutri__card {
        font-size: 1.7rem;
        width: 20rem;
        height: 40rem; } }
    @media only screen and (max-width: 37.5em) {
      .why-nutri__card {
        height: auto;
        width: auto;
        font-size: 3rem;
        grid-row-gap: 2rem; } }
    @media only screen and (max-width: 28.5em) {
      .why-nutri__card {
        font-size: 2rem; } }
    .why-nutri__card:hover {
      transform: scale(1.05); }
    .why-nutri__card__description {
      margin-top: 2rem; }
      @media only screen and (max-width: 93.75em) {
        .why-nutri__card__description {
          margin-top: 0; } }
      @media only screen and (max-width: 56.25em) {
        .why-nutri__card__description {
          margin-top: -3rem; } }
      @media only screen and (max-width: 37.5em) {
        .why-nutri__card__description {
          font-size: 1.8rem;
          text-wrap: none;
          margin-top: -4rem; } }
    .why-nutri__card__icon {
      margin: 0 auto 0 auto;
      width: 30rem;
      height: 35rem; }
      @media only screen and (max-width: 93.75em) {
        .why-nutri__card__icon {
          width: 25rem;
          height: 40rem; } }
      @media only screen and (max-width: 75em) {
        .why-nutri__card__icon {
          width: 20rem;
          height: 35rem; } }
      @media only screen and (max-width: 56.25em) {
        .why-nutri__card__icon {
          width: 15rem;
          height: 30rem; } }
    .why-nutri__card-1 {
      grid-column: 1 / 2; }
      @media only screen and (max-width: 37.5em) {
        .why-nutri__card-1 {
          grid-row: 2/3;
          grid-column: 1/2; } }
    .why-nutri__card-2 {
      grid-column: 2 / 3; }
      @media only screen and (max-width: 37.5em) {
        .why-nutri__card-2 {
          grid-row: 3/4;
          grid-column: 1/2; } }
    .why-nutri__card-3 {
      grid-column: 3 / 4; }
      @media only screen and (max-width: 37.5em) {
        .why-nutri__card-3 {
          grid-row: 4/5;
          grid-column: 1/2; } }
  .why-nutri__title {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 5.2rem; }
    @media only screen and (max-width: 46.875em) {
      .why-nutri__title {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .why-nutri__title {
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 4rem; } }
    @media only screen and (max-width: 28.5em) {
      .why-nutri__title {
        font-size: 3rem; } }
    @media only screen and (max-width: 21.875em) {
      .why-nutri__title {
        font-size: 2.5rem; } }
.carousel {
  position: relative; }
  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0; }
  .carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer; }
  .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer; }
    .carousel__button img {
      width: 24px; }
    .carousel__button--left {
      left: -40px; }
      @media only screen and (max-width: 46.875em) {
        .carousel__button--left {
          left: -30px; } }
    .carousel__button--right {
      right: -40px; }
      @media only screen and (max-width: 46.875em) {
        .carousel__button--right {
          right: -30px; } }
  .carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
  .carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform .5s ease-out; }
    .carousel__track-container {
      height: 100%;
      position: relative;
      overflow: hidden; }

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75); }

.gains {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10rem;
  height: auto;
  margin-top: 5rem;
  position: relative; }
  @media only screen and (max-width: 46.875em) {
    .gains {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 5rem; } }
  @media only screen and (max-width: 28.5em) {
    .gains {
      grid-row-gap: 1rem; } }
  @media only screen and (max-width: 21.875em) {
    .gains {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-row-gap: 2rem; } }
  .gains__card {
    margin-top: 5rem;
    background: linear-gradient(to bottom right, rgba(218, 218, 220, 0.2) 0%, rgba(220, 214, 214, 0.2) 80%);
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 35rem;
    border-radius: 20px;
    justify-self: center;
    transition: all 1s ease; }
    @media only screen and (max-width: 93.75em) {
      .gains__card {
        width: 30rem;
        height: auto;
        grid-column-gap: 5rem; } }
    @media only screen and (max-width: 62.5em) {
      .gains__card {
        width: 25rem;
        height: auto;
        grid-column-gap: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .gains__card {
        width: 20rem;
        height: auto;
        grid-column-gap: 1rem; } }
    @media only screen and (max-width: 46.875em) {
      .gains__card {
        width: 25rem;
        height: 25rem; } }
    @media only screen and (max-width: 37.5em) {
      .gains__card {
        width: 20rem;
        height: 20rem; } }
    @media only screen and (max-width: 28.5em) {
      .gains__card {
        width: 15rem;
        height: 25rem; } }
    @media only screen and (max-width: 21.875em) {
      .gains__card {
        width: 25rem;
        height: 30rem; } }
    .gains__card:hover {
      transform: scale(1.05); }
    .gains__card__icon {
      margin-top: 4rem;
      width: 20rem;
      height: auto;
      align-self: center;
      fill: gold; }
      @media only screen and (max-width: 93.75em) {
        .gains__card__icon {
          width: 10rem; } }
      @media only screen and (max-width: 62.5em) {
        .gains__card__icon {
          width: 9rem; } }
      @media only screen and (max-width: 56.25em) {
        .gains__card__icon {
          font-size: 10rem; } }
      @media only screen and (max-width: 28.5em) {
        .gains__card__icon {
          width: 8rem; } }
      @media only screen and (max-width: 21.875em) {
        .gains__card__icon {
          width: 12rem; } }
    .gains__card__description {
      font-size: 3.5rem;
      margin: auto auto 5rem auto;
      color: white;
      text-wrap: normal; }
      @media only screen and (max-width: 93.75em) {
        .gains__card__description {
          font-size: 2.5rem;
          white-space: nowrap; } }
      @media only screen and (max-width: 62.5em) {
        .gains__card__description {
          font-size: 2.3rem;
          white-space: normal;
          margin: auto auto auto auto;
          text-align: center; } }
      @media only screen and (max-width: 56.25em) {
        .gains__card__description {
          font-size: 2rem; } }
      @media only screen and (max-width: 28.5em) {
        .gains__card__description {
          font-size: 1.7rem; } }
      @media only screen and (max-width: 21.875em) {
        .gains__card__description {
          font-size: 2.2rem; } }
.make-goals-real {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-top: 15rem;
  height: 100vh;
  position: relative; }
  .make-goals-real__flex-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    color: white; }
  .make-goals-real__quote--upper {
    margin-top: 55rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .make-goals-real__quote--upper {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 28.5em) {
      .make-goals-real__quote--upper {
        font-size: 2rem; } }
    @media only screen and (max-width: 21.875em) {
      .make-goals-real__quote--upper {
        font-size: 1.5rem; } }
.reviews {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin-top: 15rem;
  height: 60rem;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .reviews {
      margin-top: 2rem; } }
  .reviews__item {
    height: 100%;
    grid-column: 1 / -1; }

.carousel__slide {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr;
  grid-gap: 5rem;
  height: auto; }
  @media only screen and (max-width: 75em) {
    .carousel__slide {
      grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
      grid-template-rows: 1fr; } }
  @media only screen and (max-width: 46.875em) {
    .carousel__slide {
      grid-template-columns: 0.2fr 1fr 0.2fr;
      grid-template-rows: 1fr; } }
  .carousel__slide__card {
    overflow: hidden;
    background: linear-gradient(to bottom right, rgba(218, 218, 220, 0.2) 0%, rgba(220, 214, 214, 0.2) 80%);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 45rem;
    width: 40rem;
    justify-self: stretch;
    align-self: center;
    transition: all 1s ease; }
    @media only screen and (max-width: 93.75em) {
      .carousel__slide__card {
        width: 30rem;
        height: 40rem; } }
    @media only screen and (max-width: 56.25em) {
      .carousel__slide__card {
        width: 25rem;
        height: 35rem; } }
    @media only screen and (max-width: 46.875em) {
      .carousel__slide__card {
        width: 45rem;
        height: 35rem; } }
    @media only screen and (max-width: 37.5em) {
      .carousel__slide__card {
        width: 30rem;
        height: 35rem; } }
    @media only screen and (max-width: 28.5em) {
      .carousel__slide__card {
        width: 20rem;
        height: 40rem; } }
    @media only screen and (max-width: 21.875em) {
      .carousel__slide__card {
        width: 15rem; } }
    .carousel__slide__card__flex-container {
      display: flex; }
    .carousel__slide__card__username {
      margin-left: 1rem;
      font-size: 3rem;
      align-self: center; }
      @media only screen and (max-width: 56.25em) {
        .carousel__slide__card__username {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 46.875em) {
        .carousel__slide__card__username {
          font-size: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .carousel__slide__card__username {
          font-size: 2.5rem; } }
      @media only screen and (max-width: 28.5em) {
        .carousel__slide__card__username {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 28.5em) {
        .carousel__slide__card__username {
          font-size: 1.25rem; } }
    .carousel__slide__card__avatar {
      width: 6rem;
      height: 6rem;
      backface-visibility: hidden;
      border-radius: 200px;
      transition: all .5s; }
      @media only screen and (max-width: 56.25em) {
        .carousel__slide__card__avatar {
          width: 5rem;
          height: 5rem; } }
      @media only screen and (max-width: 46.875em) {
        .carousel__slide__card__avatar {
          width: 6rem;
          height: 6rem; } }
      @media only screen and (max-width: 37.5em) {
        .carousel__slide__card__avatar {
          width: 5.5rem;
          height: 5.5rem; } }
      @media only screen and (max-width: 28.5em) {
        .carousel__slide__card__avatar {
          width: 4rem;
          height: 4rem; } }
      @media only screen and (max-width: 28.5em) {
        .carousel__slide__card__avatar {
          width: 3.8rem;
          height: 3.8rem; } }
      .carousel__slide__card__avatar:hover {
        transform: scale(1.12); }
    .carousel__slide__card:hover {
      transform: scale(1.05); }
    .carousel__slide__card--1 {
      grid-column: 2/3;
      padding: 2rem; }
    .carousel__slide__card--2 {
      grid-column: 3/4;
      padding: 2rem; }
      @media only screen and (max-width: 46.875em) {
        .carousel__slide__card--2 {
          display: none; } }
    .carousel__slide__card--3 {
      grid-column: 4/5;
      padding: 2rem; }
      @media only screen and (max-width: 75em) {
        .carousel__slide__card--3 {
          display: none; } }
    .carousel__slide__card__description {
      margin-top: 2rem;
      margin-bottom: auto;
      font-size: 2rem; }
      @media only screen and (max-width: 93.75em) {
        .carousel__slide__card__description {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 56.25em) {
        .carousel__slide__card__description {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 46.875em) {
        .carousel__slide__card__description {
          font-size: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .carousel__slide__card__description {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 21.875em) {
        .carousel__slide__card__description {
          font-size: 1.2rem; } }
    .carousel__slide__card__stars {
      margin-left: auto; }
      .carousel__slide__card__stars__star {
        width: 2rem;
        height: 2rem; }
        @media only screen and (max-width: 37.5em) {
          .carousel__slide__card__stars__star {
            width: 1.4rem;
            height: 1.4rem; } }
.footer {
  margin-top: auto;
  height: 20rem;
  background-image: linear-gradient(to bottom, rgba(47, 49, 49, 0) 0%, #171616 100%), url("../../../static/images/gym.jpg");
  background-position: center;
  color: white; }
  .footer__flex-container {
    display: flex;
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    padding-top: 5rem;
    font-size: 1.2rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__flex-container {
        margin-right: 5rem;
        margin-left: 5rem; } }
    @media only screen and (max-width: 46.875em) {
      .footer__flex-container {
        margin-right: 2.5rem;
        margin-left: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__flex-container {
        margin-right: 0.5rem;
        margin-left: 0.5rem; } }
    @media only screen and (max-width: 28.5em) {
      .footer__flex-container {
        margin-right: 0.25rem;
        margin-left: 0.25rem; } }
  .footer__copyright {
    text-align: center;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 75em) {
      .footer__copyright {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 28.5em) {
      .footer__copyright {
        font-size: 1rem; } }
  .footer__contact {
    align-self: center;
    width: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__contact {
        margin-left: 1rem; } }
    @media only screen and (max-width: 28.5em) {
      .footer__contact {
        margin-left: 2rem; } }
    .footer__contact__image {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      align-self: center;
      margin-left: 0.5rem;
      background-image: linear-gradient(white, #9f9d9d); }
      @media only screen and (max-width: 37.5em) {
        .footer__contact__image {
          width: 1.3rem;
          height: 1.3rem; } }
      .footer__contact__image--github {
        -webkit-mask: url("../../../static/images/svg/github.svg") no-repeat center;
        mask: url("../../../static/images/svg/github.svg") no-repeat center; }
      .footer__contact__image--facebook {
        -webkit-mask: url("../../../static/images/svg/facebook.svg") no-repeat center;
        mask: url("../../../static/images/svg/facebook.svg") no-repeat center; }
  .footer__creator {
    align-self: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__creator {
        font-size: 1rem; } }
    @media only screen and (max-width: 28.5em) {
      .footer__creator {
        font-size: 0.8rem;
        justify-content: center; } }
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

body {
  height: 100%; }

.signup {
  margin-top: 13rem;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 1fr; }
  .signup__card {
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/3;
    background-image: linear-gradient(to bottom, #eeecec, #d7d4d4);
    height: 60rem;
    width: 70rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 7px 4px #42445a;
    -moz-box-shadow: 0px 0px 7px 4px #42445a;
    box-shadow: 0px 0px 7px 4px #42445a; }
    .signup__card__input {
      margin-top: 2rem;
      text-align: center;
      padding: 2rem 5rem;
      border-radius: 10px;
      font-size: 2rem;
      width: 42rem; }
      .signup__card__input__span {
        margin-top: 2rem;
        margin-left: 1rem;
        align-self: center;
        justify-self: center;
        font-size: 2rem; }
      .signup__card__input__container {
        display: flex; }
    .signup__card__alert {
      font-size: 1.5rem;
      color: red; }
    .signup__card__heading {
      margin-top: 5rem;
      font-size: 5rem; }
    .signup__card__button {
      cursor: pointer;
      margin-top: 2rem;
      padding: 2rem 15rem;
      border-radius: 10px;
      outline: gold;
      font-size: 2rem;
      width: 45rem; }
      .signup__card__button:first-of-type {
        margin-top: 4rem; }
    .signup__card__content {
      display: flex;
      flex-direction: column; }
    .signup__card__buttons {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      width: 45rem;
      margin-top: 3rem;
      grid-column-gap: 3rem; }
      .signup__card__buttons__button {
        padding: 1.5rem 5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer; }
        .signup__card__buttons__button:active {
          background-color: black;
          color: white; }
        .signup__card__buttons__button--back {
          grid-column: 1/2; }
        .signup__card__buttons__button--next {
          grid-column: 2/3;
          background-color: black;
          color: white; }

.progress-bar {
  width: 100%;
  background-color: #a2a1a0;
  height: 10px;
  overflow: hidden;
  position: relative;
  display: block;
  z-index: 0; }
  .progress-bar--active {
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: left center;
    background-color: black;
    transition: transform 0.4s linear 0s; }

.gender__container {
  margin-top: 2rem;
  display: flex; }
  .gender__container__label {
    font-size: 2rem;
    margin-left: 1.5rem;
    margin-top: 0.5rem; }

body {
  height: 100%; }

.login {
  margin-top: 13rem;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 1fr; }
  .login__card {
    margin-left: auto;
    margin-right: auto;
    grid-column: 2/3;
    background-image: linear-gradient(to bottom, #eeecec, #d7d4d4);
    height: 60rem;
    width: 70rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 7px 4px #42445a;
    -moz-box-shadow: 0px 0px 7px 4px #42445a;
    box-shadow: 0px 0px 7px 4px #42445a; }
    .login__card__content {
      display: flex;
      flex-direction: column; }
    .login__card__input {
      margin-top: 2rem;
      text-align: center;
      padding: 2rem 5rem;
      border-radius: 10px;
      font-size: 2rem;
      width: 50rem; }
    .login__card__heading {
      margin-top: 5rem;
      font-size: 5rem; }
    .login__card__alert {
      font-size: 1.5rem;
      color: red; }
    .login__card__button {
      background-color: black;
      color: white;
      margin-top: 4rem;
      cursor: pointer;
      padding: 2rem 15rem;
      border-radius: 10px;
      font-size: 2rem;
      width: 50rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  text-decoration: none; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  box-sizing: border-box; }

::selection {
  background-color: blue;
  color: white; }

/*# sourceMappingURL=base.css.map */