@import "utils.scss";
@import "_layout.scss";
@import '_typography.css';
@import "_variables.scss";
@import "components/spinner.scss";
@import 'components/navbar.scss';
@import 'components/home_page/header';
@import "animations/animations.scss";
@import "components/home_page/about";
@import "components/home_page/why_nutri";
@import "components/carousel.scss";
@import "components/home_page/gains.scss";
@import "components/home_page/make_goals_real.scss";
@import "components/home_page/reviews.scss";
@import "components/footer.scss";
@import "components/bg_video.scss";
@import "components/dashboard/navbar.scss";
@import "accounts/signup.scss";
@import "accounts/login.scss";
@import "accounts/dashboard.scss";
@import "accounts/dashboard_stats.scss";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
    text-decoration: none;

}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    overflow-x: hidden;
    //@include respond(tab-land) { // width < 1200?
    //    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    //}

    //@include respond(tab-port) { // width < 900?
    //    font-size: 50%; //1 rem = 8px, 8/16 = 50%
    //}

    //@include respond(big-desktop) {
    //    font-size: 75%; //1rem = 12, 12/16
    //}
}

body {
    box-sizing: border-box;

    //padding: 3rem;

    //@include respond(tab-port) {
    //    padding: 0;
    //}
}

::selection {
    background-color: blue;
    color: white;
}



