@import "utils.scss";
@import "_layout.scss";
@import '_typography.css';
@import "_variables.scss";
@import "components/spinner.scss";
@import 'components/navbar.scss';
@import 'components/home_page/header';
@import "animations/animations.scss";
@import "components/home_page/about";
@import "components/home_page/why_nutri";
@import "components/carousel.scss";
@import "components/home_page/gains.scss";
@import "components/home_page/make_goals_real.scss";
@import "components/home_page/reviews.scss";
@import "components/footer.scss";
@import "components/bg_video.scss";
@import "components/modal.scss";
@import "components/dashboard/navbar_large.scss";
@import "components/dashboard/navbar_small.scss";
@import "components/sidebar_small.scss";
@import "components/sidebar.scss";
@import "accounts/signup.scss";
@import "accounts/login.scss";
@import "accounts/dashboard.scss";
@import "accounts/dashboard_stats.scss";
@import "accounts/activity_calendar.scss";
@import "accounts/measurements.scss";
@import "meals/meals.scss";
@import "meals/add/add_meals.scss";
@import "meals/enter/meal_enter";
@import "meals/saved/meals_saved.scss";
@import "workouts/workouts.scss";
@import "workouts/add/add_workouts";
@import "workouts/saved/saved_workouts.scss";
@import "recipes/recipes";
@import "recipes/search/recipe_search.scss";
@import "recipes/ideas/recipe_ideas";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
    text-decoration: none;
    //scrollbar-face-color: rgb(21, 229, 60); /* Firefox 63 compatibility */
    //scrollbar-track-color: rgb(166, 227, 180); /* Firefox 63 compatibility */
    //scrollbar-color: rgb(21, 229, 60) rgb(166, 227, 180);
    //scrollbar-width: thin;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    overflow-x: hidden;
}

body {
    box-sizing: border-box;

    //padding: 3rem;

    //@include respond(tab-port) {
    //    padding: 0;
    //}
}

::selection {
    background-color: blue;
    color: white;
}

a { color: inherit; }

