.not-visible {
  display: none;
}

.visible {
  display: inline;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {

  animation: fade-left 1s ease-in;
}
.active.fade-right {

  animation: fade-right 1s ease-in;
}

// svg color

.filter-gold {
  filter: invert(78%) sepia(67%) saturate(657%) hue-rotate(356deg) brightness(98%) contrast(107%);

}

.margin-top-md {
  margin-top: 5rem;
}

.margin-bottom-md {
  margin-bottom: 5rem;
}