{% extends 'base.html' %}
{% load i18n %}
{% load sass_tags %}
{% block scripts %}
     <script src="{% sass_src 'scripts/recipes/main.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
     <div class="bg-video-fixed" id="meals-video-container">
         <div class="overlay-large"></div>
         <video id="meals-video" class="bg-video-fixed__content" autoplay muted loop>
             <source src="{% sass_src 'video/meals_bg_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/meals_bg_video.webm' %}" type="video/webm">
             {% trans 'Your browser is not supported!' %}
         </video>
     </div>
    <div class="recipes-layout-container">
        {% include 'accounts/navbar.html' %}
         {% include 'accounts/navbar_small.html' %}
        <div class="recipes grid-full-span">
            <div class="recipes__card recipes__card--search">
                <h1>{% trans "Search Recipe" %}</h1>
                <p>{% trans 'Search for recipes by keywords. There are thousands of recipes in our database, with values such as the ingredients it contains, the steps to make it, and the length or difficulty of making it.' %}</p>
            </div>
            <div class="recipes__card recipes__card--add">
                <h1>{% trans 'Add Recipe' %}</h1>
                <p>{% trans 'Search for a recipe by entering the ingredients you have, or those you would like it to consist of.' %}</p>
            </div>
            <div class="recipes__card recipes__card--ideas">
                <h1>{% trans 'Recipe Ideas' %}</h1>
                <p>{% trans 'Search for a recipe by entering the ingredients you have, or those you would like it to consist of.' %}</p>
            </div>
        </div>
    </div>


{% endblock %}