{% extends 'base.html' %}
{% load i18n %}
{% load sass_tags %}
{% block scripts %}
     <script src="{% sass_src 'scripts/recipes/main.js' %}" defer></script>
{% endblock scripts %}
{% block content %}
    <div class="loader"></div>
     <div class="bg-video-fixed" id="meals-video-container">
         <div class="overlay-large"></div>
         <video id="meals-video" class="bg-video-fixed__content" autoplay muted loop>
             <source src="{% sass_src 'video/meals_bg_video.mp4' %}" type="video/mp4">
             <source src="{% sass_src 'video/meals_bg_video.webm' %}" type="video/webm">
             {% trans 'Your browser is not supported!' %}
         </video>
     </div>
    <div class="recipes-layout-container">
        {% include 'accounts/navbar.html' %}
         {% include 'accounts/navbar_small.html' %}
        <div class="recipes grid-full-span">
            <div class="recipes__card recipes__card--search">
                <h1>{% trans "Search Recipe" %}</h1>
                <p>{% trans 'Fill your day with the foods you eat today and find out more about their calorie content and the ingredients they contain such as protein,carbohydrates and many more.' %}</p>
            </div>
            <div class="recipes__card recipes__card--ideas">
                <h1>{% trans 'Recipe Ideas' %}</h1>
                <p>{% trans 'Browse the dish suggestions with their recipes and other information constructed by us just for you.' %}</p>
            </div>
        </div>
    </div>


{% endblock %}