 {% load static %}
 <div class="reviews__item carousel">
                <button class="carousel__button carousel__button--left">
                    <img src="{% static 'images/svg/left-arrow.svg' %}" alt="arrow-left">
                </button>
{#                carousel content container #}
                    <div class="carousel__track-container">
                        <ul class="carousel__track">
{#                            first slide#}
                            <li id='carousel__slide--first-slide' class="carousel__slide current-slide">

                                <div class="carousel__slide__card carousel__slide__card--1">
                                     <figure class="carousel__slide__card__flex-container story__shape">
                                         <img class="carousel__slide__card__avatar" src="{% static 'images/user-image1.jpg' %}" alt="">
                                        <figcaption class="story__caption carousel__slide__card__username">Mary Ouery</figcaption>
                                    </figure>
                                    <div class="carousel__slide__card__stars">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                    </div>
                                    <p class="carousel__slide__card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem beatae dicta inventore, laborum neque nihil nobis obcaecati placeat quisquam quod sunt vel voluptatibus? Accusamus debitis eaque illo molestias nemo.</p>
                                 </div>

                                <div class="carousel__slide__card carousel__slide__card--2">
                                     <figure class="carousel__slide__card__flex-container story__shape">
                                         <img class="carousel__slide__card__avatar" src="{% static 'images/user-image1.jpg' %}" alt="">
                                        <figcaption class="story__caption carousel__slide__card__username">Mary Ouery</figcaption>
                                    </figure>
                                    <div class="carousel__slide__card__stars">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                    </div>
                                    <p class="carousel__slide__card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem beatae dicta inventore, laborum neque nihil nobis obcaecati placeat quisquam quod sunt vel voluptatibus? Accusamus debitis eaque illo molestias nemo.</p>
                                 </div>

                                  <div class="carousel__slide__card carousel__slide__card--3">
                                     <figure class="carousel__slide__card__flex-container story__shape">
                                         <img class="carousel__slide__card__avatar" src="{% static 'images/user-image1.jpg' %}" alt="">
                                        <figcaption class="story__caption carousel__slide__card__username">Mary Ouery</figcaption>
                                    </figure>
                                    <div class="carousel__slide__card__stars">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                    </div>
                                    <p class="carousel__slide__card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem beatae dicta inventore, laborum neque nihil nobis obcaecati placeat quisquam quod sunt vel voluptatibus? Accusamus debitis eaque illo molestias nemo.</p>
                                 </div>
                            </li>

                            <li class="carousel__slide">
                                  <div class="carousel__slide__card carousel__slide__card--1">
                                     <figure class="carousel__slide__card__flex-container story__shape">
                                         <img class="carousel__slide__card__avatar" src="{% static 'images/user-image1.jpg' %}" alt="">
                                        <figcaption class="story__caption carousel__slide__card__username">Mary Ouery</figcaption>
                                    </figure>
                                    <div class="carousel__slide__card__stars">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                    </div>
                                    <p class="carousel__slide__card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem beatae dicta inventore, laborum neque nihil nobis obcaecati placeat quisquam quod sunt vel voluptatibus? Accusamus debitis eaque illo molestias nemo.</p>
                                 </div>

                                 <div class="carousel__slide__card carousel__slide__card--2">
                                     <figure class="carousel__slide__card__flex-container story__shape">
                                         <img class="carousel__slide__card__avatar" src="{% static 'images/user-image1.jpg' %}" alt="">
                                        <figcaption class="story__caption carousel__slide__card__username">Mary Ouery</figcaption>
                                    </figure>
                                    <div class="carousel__slide__card__stars">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                    </div>
                                    <p class="carousel__slide__card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem beatae dicta inventore, laborum neque nihil nobis obcaecati placeat quisquam quod sunt vel voluptatibus? Accusamus debitis eaque illo molestias nemo.</p>
                                 </div>

                                 <div class="carousel__slide__card carousel__slide__card--3">
                                     <figure class="carousel__slide__card__flex-container story__shape">
                                         <img class="carousel__slide__card__avatar" src="{% static 'images/user-image1.jpg' %}" alt="">
                                        <figcaption class="story__caption carousel__slide__card__username">Mary Ouery</figcaption>
                                    </figure>
                                    <div class="carousel__slide__card__stars">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                    </div>
                                    <p class="carousel__slide__card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem beatae dicta inventore, laborum neque nihil nobis obcaecati placeat quisquam quod sunt vel voluptatibus? Accusamus debitis eaque illo molestias nemo.</p>
                                 </div>
                            </li>

                            <li id='carousel__slide--last-slide' class="carousel__slide">
                               <div class="carousel__slide__card carousel__slide__card--1">
                                     <figure class="carousel__slide__card__flex-container story__shape">
                                         <img class="carousel__slide__card__avatar" src="{% static 'images/user-image1.jpg' %}" alt="">
                                        <figcaption class="story__caption carousel__slide__card__username">Mary Ouery</figcaption>
                                    </figure>
                                    <div class="carousel__slide__card__stars">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                    </div>
                                    <p class="carousel__slide__card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem beatae dicta inventore, laborum neque nihil nobis obcaecati placeat quisquam quod sunt vel voluptatibus? Accusamus debitis eaque illo molestias nemo.</p>
                                 </div>

                                 <div class="carousel__slide__card carousel__slide__card--2">
                                     <figure class="carousel__slide__card__flex-container story__shape">
                                         <img class="carousel__slide__card__avatar" src="{% static 'images/user-image1.jpg' %}" alt="">
                                        <figcaption class="story__caption carousel__slide__card__username">Mary Ouery</figcaption>
                                    </figure>
                                    <div class="carousel__slide__card__stars">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                    </div>
                                    <p class="carousel__slide__card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem beatae dicta inventore, laborum neque nihil nobis obcaecati placeat quisquam quod sunt vel voluptatibus? Accusamus debitis eaque illo molestias nemo.</p>
                                 </div>

                                 <div class="carousel__slide__card carousel__slide__card--3">
                                     <figure class="carousel__slide__card__flex-container story__shape">
                                         <img class="carousel__slide__card__avatar" src="{% static 'images/user-image1.jpg' %}" alt="">
                                        <figcaption class="story__caption carousel__slide__card__username">Mary Ouery</figcaption>
                                    </figure>
                                    <div class="carousel__slide__card__stars">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                        <img class="carousel__slide__card__stars__star" src="{% static 'images/svg/star.svg' %}" alt="Star Icon">
                                    </div>
                                    <p class="carousel__slide__card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, autem beatae dicta inventore, laborum neque nihil nobis obcaecati placeat quisquam quod sunt vel voluptatibus? Accusamus debitis eaque illo molestias nemo.</p>
                                 </div>

                            </li>
                        </ul>
                    </div>

                <button class="carousel__button carousel__button--right">
                    <img src="{% static 'images/svg/right-arrow.svg' %}" alt="arrow-right">
                </button>

                <div class="carousel__nav">
                    <button id="carousel__nav--first-dot" class="carousel__indicator current-slide"></button>
                    <button class="carousel__indicator"></button>
                    <button id="carousel__nav--last-dot" class="carousel__indicator"></button>
                </div>
            </div>