.about {
    display: grid;
    grid-template-columns: 0.1fr 1fr 2fr 0.1fr;
    grid-template-rows: 1fr;
    height: 55rem;
    column-gap: 5rem;
    margin-top: 25rem;

    &__element {
        &__heading {
            grid-column: 2/3;
            font-size: 5rem;
            font-weight: bolder;
            align-self: center;
        }

         &__image {
            grid-column: 3/4;
            max-width: 100%;
            background-image:
            url('../../../../static/images/workout_about.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 5%;
        }
    }
}