.gains {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10rem;
  height: auto;
  margin-top: 5rem;
  position: relative;

  &__card {
      margin-top: 5rem;
      background: linear-gradient(to bottom right, rgba(218, 218, 220, 0.2) 0%, rgba(220, 214, 214, 0.2) 80%);
      display: flex;
      flex-direction: column;
      width: 45rem;
      height: 35rem;
      border-radius: 20px;
      justify-self: center;
      transition: all 1s ease;

      @include respond(md-desktop) {
          width: 30rem;
          height: auto;
          grid-column-gap: 5rem;
        }

    &:hover{
        transform: scale(1.05);
      }

    &__icon {
      margin-top: 4rem;
      width: 20rem;
      height: auto;
      align-self: center;
      fill: gold;

       @include respond(md-desktop) {
          width: 10rem;
        }
    }

    &__description {
      font-size: 3.5rem;
      margin: auto auto 5rem auto;
      color: white;
      text-wrap: normal;
      @include respond(md-desktop) {
          font-size: 2.5rem;
        }

    }
  }

}