.header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: all .3s ease-in;
    &:hover {
        transform: scale(1.05);
    }
    &__flex-container {
        display: flex;
        flex-direction: column;
    }
     &__nutri-dot {
           color: gold;
           &--sm {
               font-size: 3rem;
           }

         &--lg {
             font-size: 6rem;
         }
     }
    &__quote {
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        &--upper {
            font-size: 5.3rem;

            @include respond(md-desktop) {
                font-size: 4rem;
            }

            @include respond(tab-md) {
                font-size: 3rem;
            }

            @include respond(phone-lg) {
                font-size: 2.5rem;
            }

             @include respond(phone-md) {
                font-size: 2rem;
            }
        }

        &--lower {
            text-align: center;
            font-size: 2rem;

            @include respond(tab-md) {
                font-size: 1.6rem;
            }

            @include respond(tab-sm) {
                font-size: 1.4rem;
            }

             @include respond(phone-lg) {
                font-size: 1.2rem;
            }

             @include respond(phone-md) {
                font-size: 1.1rem;
            }

        }
    }
}

.background-photo-container--header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;
    height: 100vh;
    background-image:linear-gradient(to bottom, rgba(47, 49, 49, 0) 0%, rgba(23, 22, 22, 1) 100%),
     url('../../../../static/images/background.jpg');
//background-image:linear-gradient(to bottom, rgba(106, 107, 107, 0) 0%, rgba(73, 73, 73, 1) 100%),
//     url('../../static/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    //-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);


}