.healthy-food {
    display: grid;
    grid-template-columns: 0.1fr 2fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    height: 55rem;
    column-gap: 5rem;
    margin-top: 25rem;
    transition: hover 1s ease;

    @include respond(md-desktop) {
       grid-template-columns: 0.1fr 2fr 1fr;
       height: 45rem;
      }

    @include respond(tab-land) {
        height: 40rem;
     }

    @include respond(tab-md) {
      grid-template-columns: 1.75fr 1fr;
      font-size: 2.5rem;
      height: 35rem;
      margin-top: 15rem;
      }

    @include respond(tab-port) {
       height: 30rem;
    }

    @include respond(tab-sm) {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr;
      height: 55rem;
      margin-top: 10rem;
      }

      @include respond(phone-lg) {
        height: 40rem;
     }

      @include respond(phone-sm) {
        height: 35rem;
      }
     &__element {
        &__heading {
            grid-column: 3/4;
            font-size: 5rem;
            font-weight: bolder;
            align-self: center;
          @include respond(md-desktop) {
             grid-column: 3/4;
             font-size: 3rem;
             margin-left: 2rem;
            }

          @include respond(tab-land) {
             font-size: 2.5rem;
            }

            @include respond(tab-md) {
              font-size: 2rem;
              column-gap: 0;
            }

           @include respond(tab-md) {
               grid-column: 2/3;
            }

           @include respond(tab-sm) {
              grid-column: 1 / -1;
              grid-row: 1 / 2;
              font-size: 3rem;
              margin: 0 auto 0 auto;
            }
           @include respond(phone-lg) {
             font-size: 2.5rem;
            }

           @include respond(phone-md) {
              font-size: 1.8rem;
            }

          @include respond(phone-sm) {
              font-size: 1.5rem;
            }
        }

         &__image {
            transform: scale(1.05);
            grid-column: 2/3;
            max-width: 100%;
            background-image:
             url('../../../../static/images/about_healthy_food.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 5%;

            @include respond(md-desktop) {
              grid-column: 2/3;
            }

            @include respond(tab-md) {
              grid-column: 1/2;
              margin-left: 5rem;
            }

            @include respond(tab-sm) {
              grid-column: 1 / -1;
              grid-row: 2 / 3;
              border-radius: 0;
              margin-left: 0;
            }
        }
    }
}